@inherits GoldExComponentBase

<MudForm Model="_model" @ref="@_form" Validation="@(_customerValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12">
                    <div class="d-flex justify-content-between align-center">
                        <MudText>نوع مشتری:</MudText>
                        <MudRadioGroup T="CustomerType" Required="true" For="() => _model.CustomerType" @bind-Value="_model.CustomerType">
                            <MudRadio Value="@(CustomerType.Individual)">حقیقی</MudRadio>
                            <MudRadio Value="@(CustomerType.Legal)">حقوقی</MudRadio>
                        </MudRadioGroup>
                    </div>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField @bind-Value="_model.FullName"
                                  For="@(() => _model.FullName)"
                                  Label="نام و نام خانوادگی مشتری"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined"/>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField @bind-Value="_model.NationalId"
                                  For="@(() => _model.NationalId)"
                                  Label="کد یکتا"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField @bind-Value="_model.PhoneNumber"
                                  For="@(() => _model.PhoneNumber)"
                                  Label="شماره تماس"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="6" md="3" lg="3">
                    <MudTextField HelperText="@_creditLimitHelperText" 
                                  Value="_model.CreditLimit"
                                  ValueChanged="OnCreditLimitChanged"
                                  T="decimal?"
                                  Immediate="true"
                                  For="@(() => _model.CreditLimit)"
                                  Label="سقف اعتبار"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="6" md="3" lg="3">
                    <MudSelect T="UnitType?"
                               Value="_model.CreditLimitUnit"
                               ValueChanged="OnCreditLimitUnitChanged"
                               Label="واحد"
                               For="() => _model.CreditLimitUnit"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined">
                        <MudSelectItem T="UnitType?" Value="@((UnitType?)null)">-</MudSelectItem>
                        @foreach (var item in Enum.GetValues<UnitType>())
                        {
                            <MudSelectItem Value="@((UnitType?)item)">@item.GetDisplayName()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="_model.Address"
                                  For="@(() => _model.Address)"
                                  AutoGrow Lines="3"
                                  Label="آدرس"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Class="m-3"
                       Color="Color.Error"
                       OnClick="Close"
                       Variant="Variant.Filled">
                بستن
            </MudButton>
            <MudButton Class="m-3"
                       Color="Color.Primary"
                       Disabled="@_processing"
                       OnClick="@(async () => await Submit())"
                       Variant="Variant.Filled">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1"
                                         Size="Size.Small"
                                         Indeterminate="true" />
                    <MudText Class="ms-2">
                        در حال ذخیره
                    </MudText>
                }
                else
                {
                    <MudText>ذخیره</MudText>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</MudForm>