@inherits GoldExComponentBase

<MudTable T="CustomerVm" Class="@Class" RowsPerPage="8" Hover="true" @ref="_table" FixedHeader="true"
          Dense="true" ServerData="LoadCustomersAsync" SelectOnRowClick="false" Breakpoint="Breakpoint.Sm" Elevation="@Elevation">
    <ToolBarContent>
        <MudTextField T="string" AutoFocus="true" Clearable="true" Immediate="true" ValueChanged="@(s=>OnSearch(s))" Placeholder="جستجو ..." Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudFab Class="ml-4" Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" Label="ثبت مشتری جدید" OnClick="@(_ => OnCreate())" Size="Size.Small" />
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudFab Class="ml-4" Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" OnClick="@(_ => OnCreate())" Size="Size.Small" />
        </MudHidden>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="FullName" T="CustomerVm">نام مشتری</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="CustomerType" T="CustomerVm">نوع</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="NationalId" T="CustomerVm">کد یکتا</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="PhoneNumber" T="CustomerVm">شماره تماس</MudTableSortLabel></MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="نام مشتری">@context.FullName</MudTd>
        <MudTd DataLabel="نوع">@context.CustomerType.GetDisplayName()</MudTd>
        <MudTd DataLabel="کد یکتا">@context.NationalId</MudTd>
        <MudTd DataLabel="شماره تماس">@context.PhoneNumber</MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="مشاهده تراکنش های مشتری">
                    <MudFab Color="Color.Info" EndIcon="@Icons.Material.Filled.DocumentScanner" Size="Size.Small" OnClick="_ => OnViewTransaction(context)" />
                </MudTooltip>
                <MudTooltip Text="ویرایش">
                    <MudFab Color="Color.Primary" EndIcon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="_ => OnEdit(context)" />
                </MudTooltip>
                <MudTooltip Text="حذف">
                    <MudFab Color="Color.Error" EndIcon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="_ => OnRemove(context)" />
                </MudTooltip>
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ مشتری یافت نشد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
    <PagerContent>
        <div class="d-flex flex-column align-center">
            <MudPagination SelectedChanged="PageChanged"
                           Color="Color.Primary"
                           Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                           Class="pa-4"
                           ShowFirstButton="true"
                           ShowLastButton="true" />
        </div>
    </PagerContent>
</MudTable>