@inherits GoldExComponentBase

<MudForm Model="Model" @ref="@_form" Validation="@(_customerValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog>
        <DialogContent>
            <MudGrid Spacing="4">
                <MudItem xs="12" md="6" lg="6">
                    <MudSelect T="CustomerType"
                               @bind-Value="Model.CustomerType"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               For="@(() => Model.CustomerType)"
                               Label="@(Model.GetDisplayName(() => Model.CustomerType))">
                        @foreach (var type in Enum.GetValues<CustomerType>())
                        {
                            <MudSelectItem T="CustomerType" Value="@type">@type.GetDisplayName()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField @bind-Value="Model.FullName"
                                  For="@(() => Model.FullName)"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Filled.Person"
                                  Label="@(Model.GetDisplayName(() => Model.FullName))"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField @bind-Value="Model.NationalId"
                                  For="@(() => Model.NationalId)"
                                  dir="ltr"
                                  Label="@(Model.GetDisplayName(() => Model.NationalId))"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined"
                                  Adornment="Adornment.End" 
                                  AdornmentIcon="@Icons.Material.Filled.Refresh" 
                                  OnAdornmentClick="RenewNationalIdAsync" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField @bind-Value="Model.PhoneNumber"
                                  For="@(() => Model.PhoneNumber)"
                                  dir="ltr"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Filled.PhoneAndroid"
                                  Label="@(Model.GetDisplayName(() => Model.PhoneNumber))"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
                @* <MudItem xs="12" md="6" lg="6">
                    <MudMenu @bind-Open="Model.CreditLimitMenuOpen" ActivationEvent="@MouseEvent.LeftClick" Class="w-100">
                        <ActivatorContent>
                            <MudNumericField @bind-Value="Model.CreditLimit"
                                             T="decimal?"
                                             HideSpinButtons="true"
                                             Format="#,##0.##"
                                             dir="ltr"
                                             Immediate="true"
                                             For="@(() => Model.CreditLimit)"
                                             Label="@(Model.GetDisplayName(() => Model.CreditLimit))"
                                             Margin="Margin.Dense"
                                             Variant="Variant.Outlined"
                                             Adornment="Adornment.End"
                                             AdornmentText="@_creditLimitAdornmentText"
                                             OnAdornmentClick="() => Model.CreditLimitMenuOpen = true" />
                        </ActivatorContent>
                        <ChildContent>
                            @foreach (var item in _priceUnits)
                            {
                                <MudMenuItem OnClick="() => SelectCreditLimitUnit(item)">
                                    <div style="display: flex; align-items: center; gap: 8px;">
                                        @if (item.HasIcon)
                                        {
                                            <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                            </MudAvatar>
                                        }
                                        @item.Title
                                    </div>
                                </MudMenuItem>
                            }
                        </ChildContent>
                    </MudMenu>
                </MudItem> *@
                <MudItem xs="12">
                    <MudTextField @bind-Value="Model.Address"
                                  For="@(() => Model.Address)"
                                  AutoGrow
                                  Label="@(Model.GetDisplayName(() => Model.Address))"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Filled.LocationOn"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>

                @if (ShowFinancialAccounts)
                {
                    <MudItem xs="12">
                        <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">

                            <MudText Typo="Typo.h6" GutterBottom="true">حساب های مالی</MudText>
                            <MudSpacer />
                            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                                <MudButton Color="Color.Primary" EndIcon="@Icons.Material.Filled.Add" OnClick="OnAddFinancialAccount" Size="Size.Small"
                                           Variant="Variant.Filled">ثبت حساب مالی جدید</MudButton>
                            </MudHidden>

                            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                                <MudIconButton Color="@Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="OnAddFinancialAccount" Size="@Size.Small"
                                               Variant="@Variant.Filled"></MudIconButton>
                            </MudHidden>
                        </MudStack>
                    </MudItem>
                    <MudDivider Class="mb-2" />
                    <MudItem xs="12">
                        <MudTable Items="@Model.FinancialAccounts" Hover="true" Dense="true" Breakpoint="Breakpoint.Sm">
                            <HeaderContent>
                                <MudTh>نوع حساب</MudTh>
                                <MudTh>نوع ارز</MudTh>
                                <MudTh>عملیات</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="نوع حساب">@context.FinancialAccountType.GetDisplayName()</MudTd>
                                <MudTd DataLabel="نوع ارز">@context.PriceUnit?.Title</MudTd>
                                <MudTd DataLabel="عملیات">
                                    <div class="d-flex gap-2">
                                        <MudTooltip Text="ویرایش">
                                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                                           Color="Color.Info" OnClick="_ => OnEditFinancialAccount(context)"></MudIconButton>
                                        </MudTooltip>
                                        <MudTooltip Text="حذف">
                                            <MudIconButton OnClick="() => OnRemoveFinancialAccount(context)" Size="@Size.Small" Variant="@Variant.Filled"
                                                           Icon="@Icons.Material.Filled.Delete" Color="@Color.Error"></MudIconButton>
                                        </MudTooltip>
                                    </div>
                                </MudTd>
                            </RowTemplate>
                            <NoRecordsContent>
                                <MudText>هیچ حساب بانکی یافت نشد</MudText>
                            </NoRecordsContent>
                        </MudTable>
                    </MudItem>
                }
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error"
                       OnClick="Close"
                       StartIcon="@Icons.Material.Filled.Close"
                       Variant="Variant.Filled">انصراف</MudButton>

            <MudButton Class="m-2"
                       Color="Color.Primary"
                       Disabled="@_processing"
                       StartIcon="@Icons.Material.Filled.Save"
                       OnClick="@(async () => await Submit())"
                       Variant="Variant.Filled">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1"
                                         Size="Size.Small"
                                         Indeterminate="true" />
                    <MudText Class="ms-2">
                        در حال ذخیره
                    </MudText>
                }
                else
                {
                    <MudText>ذخیره</MudText>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</MudForm>