@attribute [Route(ClientRoutes.Accounts.Manage.NewUser)]
@attribute [Authorize(Roles = BuiltinRoles.Administrators)]

@inject UserManager<AppUser> UserManager
@inject IUserStore<AppUser> UserStore
@inject ILogger<NewUser> Logger
@inject IdentityRedirectManager RedirectManager

<PageTitle>افزودن کاربر جدید</PageTitle>

<MudText Typo="Typo.h6" GutterBottom="true">افزودن کاربر جدید</MudText>
<hr />
<StatusMessage Message="@Message" />

<MudText Typo="Typo.body1" GutterBottom="true">مشخصات فردی</MudText>

<EditForm Model="Input" FormName="add-user" OnValidSubmit="OnValidSubmitAsync" method="post">
    <DataAnnotationsValidator />

    <MudGrid>
        <MudItem lg="4" md="12">
            <MudStaticTextField Variant="Variant.Outlined" @bind-Value="@Input.Username" Label="نام کاربری" Margin="Margin.Dense" />
        </MudItem>
        <MudItem lg="4" md="12">
            <MudStaticTextField Variant="Variant.Outlined" For="@(() => Input.Name)" @bind-Value="Input.Name" Margin="Margin.Dense"
                                Label="نام و نام خانوادگی" />
        </MudItem>
        <MudItem lg="4" md="12">
            <MudStaticTextField Variant="Variant.Outlined" For="@(() => Input.PhoneNumber)" @bind-Value="Input.PhoneNumber" Margin="Margin.Dense"
                                Label="شماره تلفن" />
        </MudItem>
        <MudItem lg="6" md="12">
            <MudStaticTextField Variant="Variant.Outlined" For="@(() => Input.Password)" @bind-Value="Input.Password" Margin="Margin.Dense"
                                Label="رمز عبور" InputType="InputType.Password" />
        </MudItem>
        <MudItem lg="6" md="12">
            <MudStaticTextField Variant="Variant.Outlined" For="@(() => Input.ConfirmPassword)" @bind-Value="Input.ConfirmPassword" Margin="Margin.Dense"
                                Label="تکرار رمز عبور" InputType="InputType.Password"
                                UserAttributes="@(new Dictionary<string, object?> { { "autocomplete", "off" }, { "aria-required", "true" } })" />
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex gap-2 flex-wrap align-items-center">
                <MudText Typo="Typo.body1" GutterBottom="true">نقش کاربر</MudText>
                <MudStaticRadioGroup T="string" @bind-Value="Input.Role" Color="Color.Primary">
                    @foreach (var role in BuiltinRoles.Roles)
                    {
                        <MudStaticRadio T="string" Value="@role" Color="Color.Secondary">@role</MudStaticRadio>
                    }
                </MudStaticRadioGroup>
            </div>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-content-lg-end">
            <MudStaticButton Variant="Variant.Filled" Color="Color.Primary"
                             FormAction="FormAction.Submit" StartIcon="@Icons.Material.Filled.Save">ذخیره</MudStaticButton>
        </MudItem>
    </MudGrid>
</EditForm>

@code
{
    private IEnumerable<IdentityError>? _identityErrors;
    private string? Message => _identityErrors is null ? null : $"Error: {string.Join(", ", _identityErrors.Select(error => error.Description))}";

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnValidSubmitAsync(EditContext editContext)
    {
        var model = editContext.Model as InputModel;

        var user = CreateUser(model);

        if (user is null)
        {
            _identityErrors = [new IdentityError { Code = "CreateUserFailed", Description = "Can't create an instance of 'AppUser'." }];
            return;
        }

        await UserStore.SetUserNameAsync(user, Input.Username, CancellationToken.None);

        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            _identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            await UserManager.ConfirmEmailAsync(user, code);
            Logger.LogInformation("User email confirmed automatically.");
        }

        await UserManager.AddToRoleAsync(user, Input.Role);
        await UserManager.AddClaimsAsync(user, [new Claim(ClaimTypes.Surname, Input.Name)]);

        RedirectManager.RedirectTo(ClientRoutes.Accounts.Manage.UserList);
    }

    private static AppUser? CreateUser(InputModel? model)
    {
        try
        {
            return model != null ? new AppUser(model.Name, model.Username, null, model.PhoneNumber) : null;
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(AppUser)}'. " +
                                                $"Ensure that '{nameof(AppUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "وارد کردن {0} الزامی است")]
        [Display(Name = "نقش کاربر")]
        public string Role { get; set; } = BuiltinRoles.Owners;

        [Display(Name = "شماره تلفن")]
        public string PhoneNumber { get; set; } = default!;

        [Required(ErrorMessage = "وارد کردن {0} الزامی است")]
        [Display(Name = "نام و نام خانوادگی کاربر")]
        public string Name { get; set; } = default!;

        [Required(ErrorMessage = "وارد کردن {0} الزامی است")]
        [Display(Name = "رمز عبور")]
        public string Password { get; set; } = default!;

        [Compare(nameof(Password), ErrorMessage = "رمز عبور و تکرار آن باید یکسان باشند")]
        [Display(Name = "تکرار رمز عبور")]
        public string ConfirmPassword { get; set; } = default!;

        [Required(ErrorMessage = "وارد کردن {0} الزامی است")]
        [Display(Name = "نام کاربری")]
        public string Username { get; set; } = default!;
    }
}
