@attribute [Route(ClientRoutes.Accounts.Manage.TwoFactorAuthentication)]

@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>احراز هویت دو مرحله ای (2FA)</PageTitle>

<MudText Typo="Typo.h6" GutterBottom="true">احراز هویت دو مرحله ای (2FA)</MudText>

<hr />

<StatusMessage />

@if (_canTrack)
{
    if (_is2FaEnabled)
    {
        <MudText Typo="Typo.body1" GutterBottom="true">احراز هویت 2FA</MudText>

        <MudGrid Class="mb-4">
            <MudItem xs="12" md="6">
                <MudButton StartIcon="@Icons.Material.Filled.SyncDisabled" Href="@ClientRoutes.Accounts.Manage.Disable2Fa" Variant="Variant.Filled"
                           Size="Size.Large" FullWidth="true" Color="Color.Error">غیرفعال سازی 2FA</MudButton>
            </MudItem>
            @if (_isMachineRemembered)
            {
                <MudItem xs="12" md=6>
                    <form @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                        <AntiforgeryToken />

                        <MudStaticButton StartIcon="@Icons.Material.Filled.RemoveCircle" Variant="Variant.Filled" Color="Color.Error"
                                         FullWidth="true" Size="Size.Large" FormAction="FormAction.Submit">فراموشی این مرورگر</MudStaticButton>

                    </form>
                </MudItem>
            }
        </MudGrid>

        <MudText Typo="Typo.body1" GutterBottom="true">کدهای بازیابی</MudText>

        switch (_recoveryCodesLeft)
        {
            case 0:
                <MudAlert ContentAlignment="HorizontalAlignment.Start" Variant="Variant.Text" Severity="Severity.Error">
                    هیچ کد بازیابی قابل استفاده برای ورود باقی نمانده است. شما باید <MudLink Href="@ClientRoutes.Accounts.Manage.GenerateRecoveryCodes">کدهای بازیابی جدیدی</MudLink> ایجاد کنید
                </MudAlert>
                break;
            case <= 3:
                <MudAlert ContentAlignment="HorizontalAlignment.Start" Variant="Variant.Text" Severity="Severity.Warning">
                    فقط @_recoveryCodesLeft کد بازیابی قابل استفاده باقی مانده است. شما باید <MudLink Href="@ClientRoutes.Accounts.Manage.GenerateRecoveryCodes">کدهای بازیابی جدیدی</MudLink> ایجاد کنید
                </MudAlert>
                break;
        }

        <MudGrid Class="py-4">
            <MudItem xs="12" md="6">
                <MudButton StartIcon="@Icons.Material.Filled.Autorenew" Href="@ClientRoutes.Accounts.Manage.GenerateRecoveryCodes" Variant="Variant.Filled"
                           FullWidth="true" Size="Size.Large" Color="Color.Primary">بازنشانی کدهای بازیابی</MudButton>
            </MudItem>
        </MudGrid>
    }

    <MudText Typo="Typo.body1" GutterBottom="true">برنامه Authenticator</MudText>

    @if (!_hasAuthenticator)
    {
        <MudButton StartIcon="@Icons.Material.Filled.AdminPanelSettings" Href="@ClientRoutes.Accounts.Manage.EnableAuthenticator" Variant="Variant.Filled"
                   FullWidth="true" Size="Size.Large" Color="Color.Primary">افزودن برنامه Authenticator</MudButton>
        <br />
    }
    else
    {
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudButton StartIcon="@Icons.Material.Filled.AdminPanelSettings" Href="@ClientRoutes.Accounts.Manage.EnableAuthenticator" Variant="Variant.Filled"
                           FullWidth="true" Size="Size.Large" Color="Color.Primary">پیکربندی Authenticator</MudButton>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudButton StartIcon="@Icons.Material.Filled.Autorenew" Href="@ClientRoutes.Accounts.Manage.ResetAuthenticator" Variant="Variant.Filled"
                           FullWidth="true" Size="Size.Large" Color="Color.Primary">بازنشانی Authenticator</MudButton>
            </MudItem>
        </MudGrid>
    }
}
else
{
    <MudAlert Variant="Variant.Text" Severity="Severity.Error">سیاست حریم خصوصی و کوکی‌ها پذیرفته نشده است.</MudAlert>

    <MudText Typo="Typo.body1" Class="pt-4">
        شما باید قبل از فعال کردن تأیید دومرحله‌ای، سیاست را بپذیرید
    </MudText>
}

@code {
    private bool _canTrack;
    private bool _hasAuthenticator;
    private int _recoveryCodesLeft;
    private bool _is2FaEnabled;
    private bool _isMachineRemembered;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _canTrack = HttpContext.Features.Get<ITrackingConsentFeature>()?.CanTrack ?? true;
        _hasAuthenticator = await UserManager.GetAuthenticatorKeyAsync(user) is not null;
        _is2FaEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        _isMachineRemembered = await SignInManager.IsTwoFactorClientRememberedAsync(user);
        _recoveryCodesLeft = await UserManager.CountRecoveryCodesAsync(user);
    }

    private async Task OnSubmitForgetBrowserAsync()
    {
        await SignInManager.ForgetTwoFactorClientAsync();

        RedirectManager.RedirectToCurrentPageWithStatus(
            "این مرورگر ذخیره نشده است. برای ورود دوباره از این مرورگر، باید کد تأیید دومرحله‌ای خود را وارد کنید.",
            HttpContext);
    }
}
