@attribute [Route(ClientRoutes.Home.Index)]
@using GoldEx.Client.Pages.Invoices.Components
@inherits GoldExComponentBase

<PageTitle>صفحه اصلی</PageTitle>


<MudContainer MaxWidth="MaxWidth.Large">
    <MudBreadcrumbs Class="pr-0" Items="_breadcrumbs">
        <SeparatorTemplate>
            <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Size="Size.Small" />
        </SeparatorTemplate>
    </MudBreadcrumbs>
    <AuthorizeView>
        <NotAuthorized>
            <div class="row mt-4">
                <div class="col-12 col-md-8">
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudText Typo="Typo.h4" Style="font-weight: 500">سامانه یکپارچه طلا و جواهر گلدکس</MudText>
                    </MudHidden>
                    <div class="my-4">
                        لطفا برای استفاده از امکانات سامانه، وارد حساب کاربری خود شوید
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end ">
                    <MudButton Href="@ClientRoutes.Accounts.Login" Variant="Variant.Filled" Color="Color.Primary">
                        ورود به حساب کاربری
                    </MudButton>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
    
    <MudTabs Elevation="24" Color="Color.Transparent" Centered="true">
        <MudTabPanel Text="قیمت ارز، طلا و سکه" Icon="@Icons.Material.Filled.AttachMoney">
            <PriceBoard Class="mt-5" Elevation="24" />
        </MudTabPanel>
        <MudTabPanel Text="محاسبه گر" Icon="@Icons.Material.Outlined.Calculate">
            <Calculator Class="mt-5" Elevation="24" />
        </MudTabPanel>
        <AuthorizeView>
            <Authorized>
                <MudTabPanel Text="اجناس من" Icon="@Icons.Material.Filled.Warehouse">
                    <ProductsList Class="mt-5" Elevation="24" />
                </MudTabPanel>
                <MudTabPanel Text="مشتریان" Icon="@Icons.Material.Filled.PeopleAlt">
                    <CustomersList Class="mt-5" Elevation="24" />
                </MudTabPanel>
                <MudTabPanel Text="اسناد حسابداری" Icon="@Icons.Material.Filled.DocumentScanner">
                    <TransactionsList Class="mt-5" Elevation="24" />
                </MudTabPanel>
                <MudTabPanel Text="فاکتورهای من" Icon="@Icons.Material.Filled.LibraryBooks">
                    <InvoicesList Class="mt-5" Elevation="24" />
                </MudTabPanel>
                <MudTabPanel Text="گزارش گیری"></MudTabPanel>
                <MudTabPanel Text="اجناس فروخته شده"></MudTabPanel>
                <MudTabPanel Text="لیست بدهی ها"></MudTabPanel>
            </Authorized>
        </AuthorizeView>
    </MudTabs>
</MudContainer>