@attribute [Route(ClientRoutes.Home.Index)]

@inherits GoldExComponentBase

<PageTitle>صفحه اصلی</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Class="pr-0" Items="_breadcrumbs">
        <SeparatorTemplate>
            <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Size="Size.Small" />
        </SeparatorTemplate>
    </MudBreadcrumbs>
    <AuthorizeView>
        <NotAuthorized>
            <div class="row">
                <div class="col-12 col-md-8">
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudText Typo="Typo.h4" Style="font-weight: 500" Class="mb-4">سامانه یکپارچه طلا و جواهر گلدکس</MudText>
                    </MudHidden>
                    <div class="mb-4">
                        لطفا برای استفاده از امکانات سامانه، وارد حساب کاربری خود شوید
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end mb-4">
                    <MudButton Href="@ClientRoutes.Accounts.Login" Variant="Variant.Filled" Color="Color.Primary">
                        ورود به حساب کاربری
                    </MudButton>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
    
    <MudTabs Elevation="24" Color="Color.Transparent" Position="@_tabPosition" TabPanelClass="my-custom-tab" MinimumTabWidth="20px" AlwaysShowScrollButtons="false">
        <MudTabPanel Text="@(_isMobile ? "" : "تابلوی قیمت ها")" Icon="@Icons.Material.Filled.AttachMoney" Class="w-100">
            <PriceBoard Class="@_contentClass" Elevation="24" ShowTitle="_isMobile" ContainerClass="@PriceBoardClass" />
        </MudTabPanel>
        <MudTabPanel Text="@(_isMobile ? "" : "محاسبه گر")" Icon="@Icons.Material.Outlined.Calculate" Class="w-100">
            <Calculator Class="@_contentClass" Elevation="24" />
        </MudTabPanel>
        <AuthorizeView>
            <Authorized>
                <MudTabPanel Text="@(_isMobile ? "" : "فاکتورهای من")" Icon="@Icons.Material.Filled.LibraryBooks" Class="w-100">
                    <InvoicesList Class="@_contentClass" Elevation="24" ShowTitle="_isMobile" ContainerClass="responsive-table-toolbar" />
                </MudTabPanel>
                <MudTabPanel Text="@(_isMobile ? "" : "انبار")" Icon="@Icons.Material.Filled.Warehouse" Class="w-100">
                    <InventoryStockList Class="@_contentClass" Elevation="24" ShowTitle="_isMobile" ContainerClass="responsive-table-toolbar"/>
                </MudTabPanel>
                <MudTabPanel Text="@(_isMobile ? "" : "مشتریان")" Icon="@Icons.Material.Filled.PeopleAlt" Class="w-100">
                    <CustomersList Class="@_contentClass" Elevation="24" ShowTitle="_isMobile" ContainerClass="responsive-table-toolbar"/>
                </MudTabPanel>
                <MudTabPanel Text="@(_isMobile ? "" : "اسناد پرداخت")" Icon="@Icons.Material.Filled.Payment" Class="w-100">
                    <PaymentVouchersList Class="@_contentClass" Elevation="24" ShowTitle="_isMobile" ContainerClass="responsive-table-toolbar"/>
                </MudTabPanel>
                <MudTabPanel Text="@(_isMobile ? "" : "گزارش گیری")" Icon="@Icons.Material.Filled.InsertChart" Class="w-100">
                    <ReportPanel Class="@_contentClass" Elevation="24"/>
                </MudTabPanel>
            </Authorized>
        </AuthorizeView>
    </MudTabs>
</MudContainer>

<style>
    .my-custom-tab {
        justify-content: flex-start; /* for left alignment */
        /* or justify-content: flex-end; for right alignment */
    }
</style>