@using GoldEx.Shared.DTOs.FinancialAccounts
@using GoldEx.Shared.DTOs.PriceUnits
@inherits GoldExComponentBase

<MudForm Model="Model" @ref="@_form" Validation="@(_currencyItemValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" md="6" lg="@(InvoiceType is InvoiceType.Sell ? 4 : 6)">
                    <MudSelect T="GetPriceUnitTitleResponse?"
                               Value="Model.Currency"
                               ValueChanged="OnCurrencyChanged"
                               Label="@Model.GetDisplayName(() => Model.Currency)"
                               For="() => Model.Currency"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined">
                        <MudSelectItem T="GetPriceUnitTitleResponse?" Value="null">انتخاب کنید...</MudSelectItem>
                        @foreach (var item in _currencies)
                        {
                            <MudSelectItem Value="item">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                    <MudAvatar Size="Size.Small">
                                        <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                    </MudAvatar>
                                    <MudText>@item.Title</MudText>
                                </MudStack>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6" lg="@(InvoiceType is InvoiceType.Sell ? 4 : 6)">
                    <MudNumericField T="decimal"
                                     @bind-Value="Model.Amount"
                                     Label="@Model.GetDisplayName(() => Model.Amount)"
                                     For="() => Model.Amount"
                                     dir="ltr"
                                     Immediate="true"
                                     Format="#,##0.##"
                                     HideSpinButtons="true"
                                     Min="0"
                                     Max="GetMaxAmount()"
                                     Margin="Margin.Dense"
                                     Variant="Variant.Outlined"
                                     InputMode="InputMode.numeric" />
                </MudItem>
                <MudItem xs="12" md="12" lg="@(InvoiceType is InvoiceType.Sell ? 4 : 6)">
                    <MudNumericField T="decimal"
                                     @bind-Value="Model.UnitPrice"
                                     Label="@Model.GetDisplayName(() => Model.UnitPrice)"
                                     For="() => Model.UnitPrice"
                                     dir="ltr"
                                     Format="#,##0.##"
                                     Immediate="true"
                                     HideSpinButtons="true"
                                     Margin="Margin.Dense"
                                     Variant="Variant.Outlined"
                                     InputMode="InputMode.numeric"
                                     Adornment="Adornment.End"
                                     AdornmentText="@PriceUnit?.Title" />
                </MudItem>

                <MudItem xs="12" md="6" lg="@(InvoiceType is InvoiceType.Sell ? 4 : 6)">
                    <div class="d-flex flex-row gap-2">
                        <MudSelect Value="@Model.FinancialAccount"
                                   ValueChanged="OnFinancialAccountChanged"
                                   T="GetFinancialAccountTitleResponse?"
                                   For="@(() => Model.FinancialAccount)"
                                   Label="@FinancialAccountLabel"
                                   Margin="Margin.Dense"
                                   Variant="Variant.Outlined"
                                   HelperText="@GetAvailableFinancialAccountAmountHelperText()"
                                   OuterClass="w-50"
                                   ToStringFunc="@(acc => acc?.Title)">
                            @foreach (var account in _financialAccounts)
                            {
                                <MudSelectItem T="GetFinancialAccountTitleResponse" Value="@account">@account.Title</MudSelectItem>
                            }
                        </MudSelect>
                        <MudTooltip Arrow Color="Color.Primary" Text="حساب مالی جدید" Placement="Placement.Top">
                            <MudIconButton Icon="@Icons.Material.Filled.Add"
                                           Variant="Variant.Outlined"
                                           Color="Color.Primary"
                                           Class="align-self-start mt-2"
                                           OnClick="OnAddFinancialAccount"></MudIconButton>
                        </MudTooltip>
                    </div>
                </MudItem>
                @if (InvoiceType is InvoiceType.Sell)
                {
                    <MudItem xs="12" md="6" lg="4">
                        <MudNumericField T="decimal"
                                         @bind-Value="Model.ProfitPercent"
                                         Label="@Model.GetDisplayName(() => Model.ProfitPercent)"
                                         For="() => Model.ProfitPercent"
                                         dir="ltr"
                                         Format="G29"
                                         Immediate="true"
                                         Adornment="Adornment.End"
                                         AdornmentText="درصد"
                                         HideSpinButtons="true"
                                         Margin="Margin.Dense"
                                         Variant="Variant.Outlined"
                                         InputMode="InputMode.numeric" />
                    </MudItem>
                    <MudItem xs="12" md="6" lg="4">
                        <MudNumericField T="decimal"
                                         @bind-Value="Model.TaxPercent"
                                         Label="@Model.GetDisplayName(() => Model.TaxPercent)"
                                         For="() => Model.TaxPercent"
                                         dir="ltr"
                                         Immediate="true"
                                         Format="#,##0.##"
                                         Adornment="Adornment.End"
                                         AdornmentText="درصد"
                                         HideSpinButtons="true"
                                         Margin="Margin.Dense"
                                         Variant="Variant.Outlined"
                                         InputMode="InputMode.numeric" />
                    </MudItem>
                }
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error"
                       OnClick="Close"
                       StartIcon="@Icons.Material.Filled.Close"
                       Variant="Variant.Filled">انصراف</MudButton>

            <MudButton Class="m-2"
                       Color="Color.Primary"
                       Disabled="@_isProcessing"
                       StartIcon="@Icons.Material.Filled.Save"
                       OnClick="@(async () => await Submit())"
                       Variant="Variant.Filled">
                @if (_isProcessing)
                {
                    <MudProgressCircular Class="ms-n1"
                                         Size="Size.Small"
                                         Indeterminate="true" />
                    <MudText Class="ms-2">
                        در حال ذخیره
                    </MudText>
                }
                else
                {
                    <MudText>ذخیره</MudText>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</MudForm>