@using GoldEx.Shared.DTOs.PriceUnits

@inherits GoldExComponentBase

@if (_isLoadingInvoice)
{
    <EditorFormSkeleton />
}
else
{
    <MudCard Class="p-4" Elevation="24">
        <MudForm Model="_model" @ref="@_form" Validation="@(_invoiceValidator.ValidateValue)" ValidationDelay="0">
            <MudGrid Class="align-end">
                <MudItem xs="12" md="6" lg="4">
                    <MudText Typo="Typo.h6" GutterBottom="true" Color="@InvoiceColor" Class="align-center d-flex gap-2">
                        <MudIcon Icon="@InvoiceIcon" 
                                 Color="@InvoiceColor"></MudIcon>
                        فاکتور @_model.InvoiceType.GetDisplayName()
                        @if (Id.HasValue)
                        {
                            Color color;
                            string text;
                            string icon;

                            if (_model.IsCreditor)
                            {
                                color = Color.Success;
                                text = "بستانکار";
                                icon = Icons.Material.Filled.TrendingUp;
                            }
                            else if (_model.IsPaid)
                            {
                                color = Color.Success;
                                text = "تسویه حساب شده";
                                icon = Icons.Material.Filled.CheckCircle;
                            }
                            else
                            {
                                if (_model.IsOverdue)
                                {
                                    color = Color.Error;
                                    text = "موعد سررسید گذشته";
                                    icon = Icons.Material.Filled.WarningAmber;
                                }
                                else
                                {
                                    color = Color.Primary;
                                    text = "دارای بدهی";
                                    icon = Icons.Material.Filled.TrendingDown;
                                }
                            }

                            <MudChip T="string" Color="@color" Variant="Variant.Filled" Size="Size.Small" Icon="@icon">@text</MudChip>
                        }
                    </MudText>
                </MudItem>
                <MudSpacer />
                @if (_model.InvoicePriceUnit != _priceUnits.FirstOrDefault(x => x.IsDefault))
                {
                    <MudItem xs="6" md="3" lg="2">
                        <MudNumericField T="decimal?"
                                         @bind-Value="@_model.ExchangeRate"
                                         Variant="Variant.Outlined"
                                         dir="ltr"
                                         Label="@_model.GetDisplayName(() => _model.ExchangeRate)"
                                         For="() => _model.ExchangeRate"
                                         Format="#,##0.##"
                                         Immediate="true"
                                         HideSpinButtons="true"
                                         Adornment="Adornment.End"
                                         AdornmentText="@_priceUnits.FirstOrDefault(x => x.IsDefault)?.Title"
                                         Margin="Margin.Dense">
                        </MudNumericField>
                    </MudItem>
                }
                <MudItem xs="@(_model.InvoicePriceUnit != DefaultPriceUnit ? 6 : 12)" md="3" lg="2">
                    <MudSelect T="GetPriceUnitTitleResponse?"
                               Value="_model.InvoicePriceUnit"
                               ValueChanged="OnInvoicePriceUnitChanged"
                               Label="@_model.GetDisplayName(() => _model.InvoicePriceUnit)"
                               For="() => _model.InvoicePriceUnit"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined">
                        @foreach (var item in _priceUnits)
                        {
                            <MudSelectItem Value="item">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                    <MudAvatar Size="Size.Small">
                                        <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                    </MudAvatar>
                                    <MudText>@item.Title</MudText>
                                </MudStack>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudDivider Class="mb-2" />
            <MudGrid>
                @if (!IsEditMode) // this section is only shown when creating a new invoice
                {
                    <MudItem xs="6" md="2">
                        <MudSelect T="InvoiceType"
                                   Value="_model.InvoiceType"
                                   ValueChanged="OnInvoiceTypeChanged"
                                   Label="@_model.GetDisplayName(() => _model.InvoiceType)"
                                   For="() => _model.InvoiceType"
                                   FitContent="false"
                                   Margin="Margin.Dense"
                                   Variant="Variant.Outlined">
                            @foreach (var invoiceType in Enum.GetValues<InvoiceType>())
                            {
                                <MudSelectItem Value="invoiceType">
                                    <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                        <MudText Color="@(invoiceType == InvoiceType.Purchase ? Color.Success : Color.Error)">@invoiceType.GetDisplayName()</MudText>
                                    </MudStack>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="6" md="2">
                        <MudSelect T="TradeScale"
                                   Value="_model.TradeScale"
                                   ValueChanged="OnTradeScaleChanged"
                                   Label="@_model.GetDisplayName(() => _model.TradeScale)"
                                   For="() => _model.TradeScale"
                                   FitContent="false"
                                   Margin="Margin.Dense"
                                   Variant="Variant.Outlined">
                            @foreach (var tradeScale in Enum.GetValues<TradeScale>())
                            {
                                <MudSelectItem Value="tradeScale">
                                    <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                        <MudText>@tradeScale.GetDisplayName()</MudText>
                                    </MudStack>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                }
                <MudItem xs="12" md="2">
                    <MudNumericField @bind-Value="_model.InvoiceNumber"
                                     For="@(() => _model.InvoiceNumber)"
                                     dir="ltr"
                                     HideSpinButtons="true"
                                     Label="@(_model.GetDisplayName(() => _model.InvoiceNumber))"
                                     Margin="Margin.Dense"
                                     Adornment="Adornment.End"
                                     AdornmentIcon="@Icons.Material.Filled.Numbers"
                                     Variant="Variant.Outlined" />
                </MudItem>
                <MudSpacer />
                <MudItem xs="6" md="2">
                    <MudDatePicker @bind-Date="_model.InvoiceDate"
                                   Color="Color.Secondary"
                                   Editable="true"
                                   AnchorOrigin="Origin.TopCenter"
                                   TransformOrigin="Origin.BottomCenter"
                                   For="@(() => _model.InvoiceDate)"
                                   dir="ltr"
                                   Label="@(_model.GetDisplayName(() => _model.InvoiceDate))"
                                   ImmediateText="true"
                                   Margin="Margin.Dense"
                                   Rounded="true"
                                   Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="6" md="@(_model.IsOverdue ? 3 : 2)">
                    <MudStack Row AlignItems="AlignItems.Center" Spacing="1">
                        <MudDatePicker @bind-Date="_model.DueDate"
                                       Color="Color.Secondary"
                                       Editable="true"
                                       dir="ltr"
                                       AnchorOrigin="Origin.TopCenter"
                                       TransformOrigin="Origin.BottomCenter"
                                       For="@(() => _model.DueDate)"
                                       Label="@(_model.GetDisplayName(() => _model.DueDate))"
                                       ImmediateText="true"
                                       Margin="Margin.Dense"
                                       Rounded="true"
                                       Variant="Variant.Outlined" />
                        @if (_model.IsOverdue)
                        {
                            <MudTooltip Text="ارسال پیامک یادآوری تسویه">
                                <MudIconButton Icon="@Icons.Material.Filled.Send"
                                               Variant="Variant.Outlined"
                                               Color="Color.Primary"
                                               Class="mr-1"
                                               OnClick="HandleSendReminderClick" />
                            </MudTooltip>
                        }
                    </MudStack>
                </MudItem>
            </MudGrid>

            <MudStack AlignItems="AlignItems.Center" Row Justify="Justify.Center" Spacing="2" Class="mt-4">
                <MudText Typo="Typo.h6" GutterBottom="true" Class="d-none d-md-block">
                    طرف حساب
                    @if (_model.Customer != null)
                    {
                        <span class="d-none d-sm-inline">(@_model.Customer.CustomerType.GetDisplayName())</span>
                    }
                </MudText>
                <div Class="flex-fill d-none d-md-block"></div>

                <MudAutocomplete T="CustomerVm"
                                 @bind-Value="_model.Customer"
                                 Text="@_model.Customer?.FullName"
                                 For="@(() => _model.Customer!)"
                                 Placeholder="جستجوی طرف حساب..."
                                 ToStringFunc="@(customer => customer != null ? $"{customer.FullName} - {customer.CustomerType.GetDisplayName()}" : null)"
                                 Margin="Margin.Dense"
                                 Adornment="Adornment.Start"
                                 AdornmentIcon="@Icons.Material.Filled.Search"
                                 Variant="Variant.Outlined"
                                 SearchFunc="@SearchCustomers"
                                 ResetValueOnEmptyText="true"
                                 DebounceInterval="0"
                                 ShowProgressIndicator="false">
                </MudAutocomplete>
                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnAddCustomer"></MudIconButton>
            </MudStack>

            <MudDivider Class="mb-2" />

            @if (_model.Customer is not null)
            {
                <MudGrid Class="mt-0 mb-2">
                    <MudItem xs="12" md="3">
                        <MudText>نام و نام خانوادگی: @_model.Customer.FullName</MudText>
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudText>شماره تماس: @_model.Customer.PhoneNumber</MudText>
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudText>کد یکتا: @_model.Customer.NationalId</MudText>
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudText>آدرس: @_model.Customer.Address</MudText>
                    </MudItem>
                </MudGrid>
            }
            else
            {
                <div class="d-flex justify-content-center align-items-center m-5">
                    <MudText>لطفا طرف حساب را از نوار بالا جستجو کرده و یا با انتخاب گزینه <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Add"></MudIcon> طرف حساب جدیدی تعریف کنید</MudText>
                </div>
            }

            <MudStack Row AlignItems="AlignItems.Center" Class="my-2">
                <MudText Typo="Typo.h6">اقلام فاکتور</MudText>
                <MudSpacer />
            </MudStack>

            <MudDivider Class="mb-2" />

            <div class="my-2">
                <MudTabs Elevation="2" Rounded="true" Centered="true">
                    <MudTabPanel Text="طلا، جواهر و آبشده" Icon="@Icons.Material.Filled.Diamond" IconColor="Color.Info">
                        <ProductItemsList Items="_model.ProductItems"
                                          PriceUnit="_model.InvoicePriceUnit"
                                          OnEditItem="OnEditProductItem"
                                          OnRemoveItem="OnRemoveProductItem"
                                          Class="mt-2 pa-4"
                                          Elevation="2"
                                          InvoiceType="_model.InvoiceType"
                                          OnAddItem="OnAddProductItem"
                                          OnOpenSelector="OnOpenProductSelector"
                                          OnBarcodeChanged="OnBarcodeChanged"
                                          OnPrintBarcode="OnPrintBarcode" />
                    </MudTabPanel>
                    <MudTabPanel Text="سکه" Icon="@Icons.Material.Filled.MonetizationOn" IconColor="Color.Primary">
                        <CoinItemsList Items="@_model.CoinItems"
                                       PriceUnit="@_model.InvoicePriceUnit"
                                       OnEditItem="OnEditCoinItem"
                                       OnRemoveItem="OnRemoveCoinItem"
                                       Class="mt-2 pa-4"
                                       Elevation="2"
                                       InvoiceType="@_model.InvoiceType"
                                       OnAddItem="OnAddCoinItem"
                                       OnOpenSelector="OnOpenCoinSelector" />
                    </MudTabPanel>
                    <MudTabPanel Text="ارز" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Success">
                        <CurrencyItemsList Items="_model.CurrencyItems"
                                           PriceUnit="_model.InvoicePriceUnit"
                                           OnEditItem="OnEditCurrencyItem"
                                           OnRemoveItem="OnRemoveCurrencyItem"
                                           Class="mt-2 pa-4"
                                           Elevation="2"
                                           InvoiceType="_model.InvoiceType"
                                           OnAddItem="OnAddCurrencyItem"
                                           OnOpenSelector="OnOpenCurrencySelector" />
                    </MudTabPanel>
                    <MudTabPanel Text="طلای مستعمل" Icon="@Icons.Material.Filled.Recycling" IconColor="Color.Error">
                        <UsedProductsList Items="_model.UsedProducts"
                                          PriceUnit="_model.InvoicePriceUnit"
                                          OnEditItem="OnEditUsedProduct"
                                          OnRemoveItem="OnRemoveUsedProduct"
                                          Class="mt-2 pa-4"
                                          Elevation="2"
                                          OnAddItem="OnAddUsedProduct"
                                          OnPrintBarcode="OnPrintUsedBarcode" />
                    </MudTabPanel>
                </MudTabs>
            </div>

            @if (_model.ProductItems.Any() || _model.CoinItems.Any() || _model.CurrencyItems.Any() || _model.UsedProducts.Any())
            {
                <MudText Class="mt-2" Typo="Typo.h6" GutterBottom="true">هزینه ها</MudText>
                <MudDivider Class="my-2" />

                <MudGrid Spacing="2">
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2">ارزش خام اقلام</MudText>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalItemsRawAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3" Class="d-flex align-center">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Discount" Color="Color.Success" OnClick="OnDiscountMenuToggled"></MudIconButton>
                        <MudText Typo="Typo.body2">تخفیف</MudText>
                        <MudPopover Open="@_discountMenuOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomCenter" Elevation="24">
                            <div class="d-flex flex-column">
                                <DiscountList Items="@_model.InvoiceDiscounts" PriceUnit="_model.InvoicePriceUnit" PriceUnits="_priceUnits" TotalRemainingAmount="@_model.TotalUnpaidAmount" />
                                <MudButton OnClick="@OnDiscountMenuToggled" Class="ml-auto mr-n3 mb-1"
                                           Color="Color.Error" StartIcon="@Icons.Material.Filled.Close">انصراف</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalDiscountsAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2">سود کل</MudText>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalItemsProfitAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3" Class="d-flex align-center">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.PlaylistAdd" Color="Color.Error" OnClick="OnExtraCostsMenuToggled"></MudIconButton>
                        <MudText Typo="Typo.body2">مخارج جانبی</MudText>
                        <MudPopover Open="@_extraCostsMenuOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomCenter" Elevation="24">
                            <div class="d-flex flex-column">
                                <ExtraCostList Items="_model.InvoiceExtraCosts" PriceUnit="_model.InvoicePriceUnit" PriceUnits="_priceUnits" />
                                <MudButton OnClick="@OnExtraCostsMenuToggled" Class="ml-auto mr-n3 mb-1"
                                           Color="Color.Error" StartIcon="@Icons.Material.Filled.Close">انصراف</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalExtraCostsAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2">مالیات کل</MudText>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalItemsTaxAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3" Class="d-flex align-center">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Paid" Color="Color.Inherit"></MudIconButton>
                        <MudText Typo="Typo.body2">مبلغ نهایی فاکتور</MudText>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalInvoiceAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2">اجرت کل</MudText>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalItemsWageAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3" Class="d-flex align-center">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Payments" Color="Color.Success" OnClick="OnPaymentsMenuToggled"></MudIconButton>
                        <MudText Typo="Typo.body2">جمع پرداختی</MudText>
                        <MudPopover Open="@_paymentsMenuOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomCenter" Elevation="24">
                            <div class="d-flex flex-column">
                                <PaymentList Items="_model.InvoicePayments"
                                             PriceUnit="_model.InvoicePriceUnit"
                                             InvoiceType="_model.InvoiceType"
                                             CustomerId="_model.Customer?.Id"
                                             PriceUnits="_priceUnits"
                                             TotalInvoiceAmount="@(_model.InvoiceType == InvoiceType.Sell ? _model.TotalInvoiceAmount - _model.TotalUsedProductsAmount : _model.TotalInvoiceAmount)" />
                                <MudButton OnClick="@OnPaymentsMenuToggled" Class="ml-auto mr-n3 mb-1"
                                           Color="Color.Error" StartIcon="@Icons.Material.Filled.Close">انصراف</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalPaymentsAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2">ارزش تمام شده اقلام</MudText>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalItemsAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                    </MudItem>

                    <MudItem xs="6" md="3" Class="d-flex align-center">
                        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.MonetizationOn" Color="Color.Success" OnClick="OnTotalUnpaidMenuToggled"></MudIconButton>
                        <MudText Typo="Typo.body2">مانده حساب</MudText>

                        <MudPopover Open="@_totalUnpaidMenuOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomCenter" Elevation="24">
                            <div class="container d-flex flex-column">
                                <UnpaidPriceSelector PriceUnits="@_priceUnits"
                                                     TotalUnpaidAmount="@_model.TotalUnpaidAmount"
                                                     TotalUnpaidSecondaryAmount="@_model.TotalUnpaidSecondaryAmount"
                                                     MainPriceUnit="@_model.InvoicePriceUnit"
                                                     @bind-UnpaidPriceUnit="@_model.UnpaidPriceUnit"
                                                     @bind-ExchangeRate="@_model.UnpaidExchangeRate" />
                                <MudButton OnClick="@OnTotalUnpaidMenuToggled" Class="ml-auto mr-n3 mb-1"
                                           Color="Color.Error" StartIcon="@Icons.Material.Filled.Close">انصراف</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                    <MudItem xs="6" md="3">
                        <MudText Typo="Typo.body2" Align="Align.Right" Color="@GetUnpaidAmountColor(_model.TotalUnpaidAmount)">
                            @FormatCompleteUnpaidAmount(_model.TotalUnpaidAmount, _model.InvoicePriceUnit?.Title, _model.UnpaidExchangeRate, _model.TotalUnpaidSecondaryAmount, _model.UnpaidPriceUnit?.Title)
                        </MudText>
                    </MudItem>
                    @if (_model.InvoiceType is InvoiceType.Sell && _model.UsedProducts.Any())
                    {
                        <MudItem xs="6" md="3">
                            <MudText Typo="Typo.body2">طلای دست دوم خریداری شده</MudText>
                        </MudItem>
                        <MudItem xs="6" md="3">
                            <MudText Typo="Typo.body2" Align="Align.Right">@_model.TotalUsedProductsAmount.ToCurrencyFormat(_model.InvoicePriceUnit?.Title)</MudText>
                        </MudItem>
                    }
                </MudGrid>
            }

            <MudDivider Class="my-2" />

            <div class="d-flex gap-3 mt-2 flex-wrap">

                @if (IsEditMode)
                {
                    <MudButton Color="Color.Error"
                               StartIcon="@Icons.Material.Filled.DeleteForever"
                               Disabled="@_processing"
                               Variant="Variant.Filled"
                               OnClick="OnDelete">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1"
                                                 Size="Size.Small"
                                                 Indeterminate="true" />
                            <MudText Class="ms-2">
                                در حال پردازش
                            </MudText>
                        }
                        else
                        {
                            <MudText>حذف فاکتور</MudText>
                        }

                    </MudButton>
                }
                <MudSpacer />
                @if (IsEditMode)
                {
                    <MudButton Color="Color.Success"
                               StartIcon="@Icons.Material.Filled.Print"
                               Disabled="@_processing"
                               Variant="Variant.Filled"
                               OnClick="OnPrintAsync">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1"
                                                 Size="Size.Small"
                                                 Indeterminate="true" />
                            <MudText Class="ms-2">
                                در حال پردازش
                            </MudText>
                        }
                        else
                        {
                            <MudText>چاپ فاکتور</MudText>
                        }

                    </MudButton>
                }

                <MudButton Color="Color.Info"
                           StartIcon="@Icons.Material.Filled.Print"
                           Disabled="@_processing"
                           Variant="Variant.Filled"
                           OnClick="@(async () => await SubmitAsync(true))">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1"
                                             Size="Size.Small"
                                             Indeterminate="true" />
                        <MudText Class="ms-2">
                            در حال پردازش
                        </MudText>
                    }
                    else
                    {
                        <MudText>ذخیره و چاپ فاکتور</MudText>
                    }

                </MudButton>

                <MudButton Color="Color.Primary"
                           Disabled="@_processing"
                           StartIcon="@Icons.Material.Filled.Save"
                           OnClick="@(async () => await SubmitAsync(false))"
                           Variant="Variant.Filled">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1"
                                             Size="Size.Small"
                                             Indeterminate="true" />
                        <MudText Class="ms-2">
                            در حال پردازش
                        </MudText>
                    }
                    else
                    {
                        <MudText>ذخیره</MudText>
                    }
                </MudButton>
            </div>
        </MudForm>
    </MudCard>
}

<script src="/js/libs/jsbarcode.all.min.js"></script>
<script src="/js/print.js?v=@_jsVersion"></script>