@inherits GoldExComponentBase

@if (ShowTitle)
{
    <div class="d-flex justify-content-center w-100">
        <MudText Typo="Typo.h5" GutterBottom="true" Class="mt-6">فاکتورها</MudText>
    </div>
    <MudDivider />
}

<MudTable T="InvoiceListVm" Class="@Class" RowsPerPage="14" Hover="true" @ref="_table" FixedHeader="true" ContainerClass="@ContainerClass"
          OnRowClick="(arg) => ShowDetails(arg)" RowClass="cursor-pointer"
          Dense="true" ServerData="LoadInvoicesAsync" SelectOnRowClick="false" Breakpoint="Breakpoint.Sm" Elevation="@Elevation">
    <ToolBarContent>
        <MudTextField T="string" Clearable="true" Immediate="true" ValueChanged="@(s => OnSearch(s))" Placeholder="جستجو ..."
                      Adornment="Adornment.Start" Variant="Variant.Outlined" Margin="Margin.Dense"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
        <MudSpacer />
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Class="w-75">
            <MudDateRangePicker DateRange="@_filterDateRange"
                                DateRangeChanged="OnDateRangeChanged"
                                Margin="Margin.Dense"
                                Variant="Variant.Outlined"
                                Class="ml-3"
                                MaxMonthColumns="1"
                                DisplayMonths="1"
                                Rounded="true"
                                ShowToolbar="false"
                                Style="max-width: 320px;"
                                PlaceholderStart="از"
                                PlaceholderEnd="تا"
                                Elevation="24"
                                RelativeWidth="DropdownWidth.Adaptive"
                                Label="تاریخ فاکتور"
                                Clearable="true" />
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButtonGroup Size="Size.Small" Color="@TradeScaleColor" Variant="Variant.Filled" Class="ml-3">
                <MudButton Size="Size.Small" StartIcon="@TradeScaleIcon">
                    @(_tradeScale == null ? "نوع معامله" : _tradeScale.GetDisplayName())
                </MudButton>
                <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                    <MudMenuItem IconColor="Color.Info" Icon="@Icons.Material.Filled.CompareArrows" OnClick="() => SetTradeScaleText(null)">همه</MudMenuItem>
                    <MudMenuItem IconColor="Color.Primary" Icon="@Icons.Material.Filled.Apps" OnClick="() => SetTradeScaleText(TradeScale.Wholesale)">@TradeScale.Wholesale.GetDisplayName()</MudMenuItem>
                    <MudMenuItem IconColor="Color.Success" Icon="@Icons.Material.Filled.Square" OnClick="() => SetTradeScaleText(TradeScale.Retail)">@TradeScale.Retail.GetDisplayName()</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButtonGroup Size="Size.Small" Color="@InvoiceTypeColor" Variant="Variant.Filled" Class="ml-3">
                <MudButton Size="Size.Small" StartIcon="@InvoiceTypeIcon">
                    @(_invoiceType == null ? "نوع فاکتور" : _invoiceType.GetDisplayName())
                </MudButton>
                <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                    <MudMenuItem IconColor="Color.Info" Icon="@Icons.Material.Filled.CompareArrows" OnClick="() => SetInvoiceTypeText(null)">همه</MudMenuItem>
                    <MudMenuItem IconColor="Color.Success" Icon="@Icons.Material.Filled.ArrowUpward" OnClick="() => SetInvoiceTypeText(InvoiceType.Purchase)">@InvoiceType.Purchase.GetDisplayName()</MudMenuItem>
                    <MudMenuItem IconColor="Color.Error" Icon="@Icons.Material.Filled.ArrowDownward" OnClick="() => SetInvoiceTypeText(InvoiceType.Sell)">@InvoiceType.Sell.GetDisplayName()</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButtonGroup Size="Size.Small" Color="@InvoicePaymentStatusColor" Variant="Variant.Filled" Class="ml-3">
                <MudButton Size="Size.Small" StartIcon="@InvoicePaymentStatusIcon">
                    @(_invoicePaymentStatus == null ? "وضعیت" : _invoicePaymentStatus.GetDisplayName())
                </MudButton>
                <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                    <MudMenuItem IconColor="Color.Info" Icon="@Icons.Material.Filled.ViewHeadline" OnClick="() => SetStatusFilterText(null)">همه</MudMenuItem>
                    <MudMenuItem IconColor="Color.Primary" Icon="@Icons.Material.Filled.Pending" OnClick="() => SetStatusFilterText(InvoicePaymentStatus.HasDebt)">@InvoicePaymentStatus.HasDebt.GetDisplayName()</MudMenuItem>
                    <MudMenuItem IconColor="Color.Error" Icon="@Icons.Material.Filled.MoreTime" OnClick="() => SetStatusFilterText(InvoicePaymentStatus.Overdue)">@InvoicePaymentStatus.Overdue.GetDisplayName()</MudMenuItem>
                    <MudMenuItem IconColor="Color.Success" Icon="@Icons.Material.Filled.Check" OnClick="() => SetStatusFilterText(InvoicePaymentStatus.Paid)">@InvoicePaymentStatus.Paid.GetDisplayName()</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButton Class="ml-4" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Add"
                       OnClick="@(_ => OnCreateInvoice())" Size="Size.Small" Variant="Variant.Filled">
                فاکتور جدید
            </MudButton>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Color="@Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="@(_ => OnCreateInvoice())" Size="@Size.Small" Variant="@Variant.Filled"></MudIconButton>
        </MudHidden>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="InvoiceType" T="InvoiceListVm">نوع فاکتور</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="TradeScale" T="InvoiceListVm">نوع معامله</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="InvoiceNumber" T="InvoiceListVm">شماره فاکتور</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Customer.FullName" T="InvoiceListVm">طرف حساب</MudTableSortLabel></MudTh>
        <MudTh>ارزش کل</MudTh>
        <MudTh><MudTableSortLabel SortLabel="InvoiceDate" T="InvoiceListVm">تاریخ فاکتور</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="DueDate" T="InvoiceListVm">تاریخ سررسید</MudTableSortLabel></MudTh>
        <MudTh>مانده بدهی</MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="نوع فاکتور">@context.InvoiceType.GetDisplayName()</MudTd>
        <MudTd DataLabel="نوع معامله">@context.TradeScale.GetDisplayName()</MudTd>
        <MudTd DataLabel="شماره فاکتور">@context.InvoiceNumber</MudTd>
        <MudTd DataLabel="طرف حساب">@context.CustomerFullName</MudTd>
        <MudTd DataLabel="ارزش کل">@context.TotalAmount.ToCurrencyFormat(context.PriceUnit)</MudTd>
        <MudTd DataLabel="تاریخ فاکتور">
            <MudTooltip Text="@GetInvoiceDateTooltipText(context)" Arrow="true" Placement="Placement.Top">
                @context.InvoiceDate.ToShortDateString()
            </MudTooltip>
        </MudTd>
        <MudTd DataLabel="تاریخ سررسید">@context.DueDate?.ToShortDateString()</MudTd>
        <MudTd DataLabel="مانده بدهی">
            @switch (context.PaymentStatus)
            {
                case InvoicePaymentStatus.Paid:
                    <MudChip Size="Size.Small" T="string" Color="Color.Success" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Check">@context.PaymentStatus.GetDisplayName()</MudChip>
                    break;
                case InvoicePaymentStatus.HasDebt:
                    <MudText Color="@(context.InvoiceType is InvoiceType.Purchase ? Color.Success : Color.Error)">
                        @if (string.IsNullOrEmpty(context.SecondaryPriceUnit) || !context.TotalUnpaidAmountSecondary.HasValue)
                        {
                            @(context.TotalUnpaidAmount.ToCurrencyFormat(context.PriceUnit))
                        }
                        else
                        {
                            @(context.TotalUnpaidAmountSecondary.Value.ToCurrencyFormat(context.SecondaryPriceUnit))
                        }
                    </MudText>
                    break;
                case InvoicePaymentStatus.Overdue:
                    <MudChip Size="Size.Small" T="string" Color="Color.Error" Variant="Variant.Filled">
                        @if (string.IsNullOrEmpty(context.SecondaryPriceUnit) || !context.TotalUnpaidAmountSecondary.HasValue)
                        {
                            @(context.TotalUnpaidAmount.ToCurrencyFormat(context.PriceUnit))
                        }
                        else
                        {
                            @(context.TotalUnpaidAmountSecondary.Value.ToCurrencyFormat(context.SecondaryPriceUnit))
                        }
                    </MudChip>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="چاپ فاکتور">
                    <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Print"
                                   Color="@Color.Success" OnClick="_ => OnViewInvoice(context)"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="ویرایش فاکتور">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                   Color="Color.Primary" OnClick="_ => OnEditInvoice(context)"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="حذف فاکتور">
                    <MudIconButton OnClick="@(_ => OnRemoveInvoice(context))" Size="@Size.Small" Variant="@Variant.Filled"
                                   Icon="@Icons.Material.Filled.Delete" Color="@Color.Error"></MudIconButton>
                </MudTooltip>
            </div>
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        <MudTr Class="mud-table-row-child">
            <td colspan="9">
                <MudCollapse Expanded="@context.ShowDetails">
                    @if (context.ShowDetails)
                    {
                        <MudCard Elevation="2" Class="m-2">
                            <MudCardContent>
                                <TransactionList InvoiceId="@context.Id" />
                                <InventoryList InvoiceId="@context.Id" />
                            </MudCardContent>
                        </MudCard>
                    }
                </MudCollapse>
            </td>
        </MudTr>
    </ChildRowContent>
    <NoRecordsContent>
        <MudText>هیچ فاکتوری یافت نشد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگیری</MudText>
    </LoadingContent>
    <PagerContent>
        @{
            var totalItems = _table.GetFilteredItemsCount();
            var startItem = totalItems == 0 ? 0 : _table.CurrentPage * _table.RowsPerPage + 1;
            var endItem = Math.Min((_table.CurrentPage + 1) * _table.RowsPerPage, totalItems);
            var pageCount = (totalItems + _table.RowsPerPage - 1) / _table.RowsPerPage;
            var infoText = $"نمایش {startItem} تا {endItem} از {totalItems} ردیف";
        }

        <div class="d-flex flex-column flex-sm-row align-center justify-sm-space-between w-100 pa-4" style="gap: 1rem;">
            <div class="mud-table-pagination-caption">
                @infoText
            </div>
            <MudPagination SelectedChanged="PageChanged"
                           Color="Color.Primary"
                           Count="@pageCount"
                           ShowFirstButton="true"
                           ShowLastButton="true" />

            <div class="d-none d-sm-block mud-table-pagination-caption" style="visibility: hidden; pointer-events: none;">
                @infoText
            </div>
        </div>
    </PagerContent>
</MudTable>
