@using GoldEx.Client.Pages.FinancialAccounts.ViewModels
@using GoldEx.Shared.DTOs.FinancialAccounts
@using GoldEx.Shared.DTOs.Invoices
@inherits GoldExComponentBase

<MudForm Model="Model" @ref="@_form" Validation="@(_paymentValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog>
        <DialogContent>

            <div class="d-flex flex-column flex-wrap align-center gap-3 my-3">
                <MudChipSet T="PaymentSide"
                            SelectionMode="SelectionMode.SingleSelection"
                            Variant="Variant.Outlined"
                            Size="Size.Medium"
                            CheckMark="true"
                            @bind-SelectedValue="Model.PaymentSide">
                    <MudChip Color="Color.Success"
                             Value="PaymentSide.Receive"
                             Size="@(Model.PaymentSide == PaymentSide.Receive ? Size.Large : Size.Medium)"
                             Variant="@(Model.PaymentSide == PaymentSide.Receive ? Variant.Text : Variant.Outlined)">@PaymentSide.Receive.GetDisplayName()</MudChip>
                    <MudChip Color="Color.Error"
                             Value="PaymentSide.Pay"
                             Size="@(Model.PaymentSide == PaymentSide.Pay ? Size.Large : Size.Medium)"
                             Variant="@(Model.PaymentSide == PaymentSide.Pay ? Variant.Text : Variant.Outlined)">@PaymentSide.Pay.GetDisplayName()</MudChip>
                </MudChipSet>
            </div>

            <MudGrid Spacing="4">
                <MudItem xs="12" md="6">
                    <div class="d-flex gap-2 align-items-center">
                        <MudNumericField @bind-Value="Model.Amount"
                                         T="decimal"
                                         HideSpinButtons="true"
                                         Format="#,##0.###"
                                         dir="ltr"
                                         Immediate="true"
                                         Disabled="Model.Disabled"
                                         For="@(() => Model.Amount)"
                                         Label="@(Model.GetDisplayName(() => Model.Amount))"
                                         Margin="Margin.Dense"
                                         Variant="Variant.Outlined"
                                         Adornment="Adornment.End"
                                         AdornmentText="@Model.AmountAdornmentText"
                                         Class="flex-grow-1" />
                        @if (Model.PaymentType is PaymentType.InternalCash or PaymentType.CustomerTransfer)
                        {
                            <MudMenu>
                                <ActivatorContent>
                                    <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" Variant="Variant.Outlined" Color="Color.Primary" OnClick="context.ToggleAsync" />
                                </ActivatorContent>
                                <ChildContent>
                                    @foreach (var item in PriceUnits)
                                    {
                                        <MudMenuItem OnClick="() => SelectPriceUnit(item)">
                                            <div class="d-flex align-items-center gap-2">
                                                @if (item.HasIcon)
                                                {
                                                    <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                        <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                    </MudAvatar>
                                                }
                                                @item.Title
                                            </div>
                                        </MudMenuItem>
                                    }
                                </ChildContent>
                            </MudMenu>
                        }
                    </div>
                </MudItem>
                @if (Model.PriceUnit?.Id != BasePriceUnit.Id)
                {
                    <MudItem xs="12" md="6">
                        <MudNumericField T="decimal?"
                                         Value="Model.GetDisplayExchangeRate(BasePriceUnit)"
                                         ValueChanged="@(v => Model.SetFromDisplayExchangeRate(v, BasePriceUnit))"
                                         Immediate="true"
                                         dir="ltr"
                                         Label="@Model.GetExchangeRateLabel(BasePriceUnit)"
                                         Margin="Margin.Dense"
                                         Disabled="Model.Disabled"
                                         HideSpinButtons="true"
                                         Variant="Variant.Outlined"
                                         Format="#,##0.########"
                                         Adornment="Adornment.End"
                                         AdornmentText="@Model.GetExchangeRateAdornment(BasePriceUnit)" />
                    </MudItem>
                }

                @switch (Model.PaymentType)
                {
                    case PaymentType.InternalCash:
                        <MudItem xs="12" md="6">
                            <div class="d-flex align-center gap-2">
                                <MudAutocomplete @bind-Value="@Model.FinancialAccount"
                                                 T="GetFinancialAccountTitleResponse ?"
                                                 For="@(() => Model.FinancialAccount)"
                                                 Label="@FinancialAccountLabelText"
                                                 Margin="Margin.Dense"
                                                 Disabled="Model.Disabled"
                                                 InputClass="text-truncate"
                                                 Variant="Variant.Outlined"
                                                 DebounceInterval="500"
                                                 Placeholder="جستجوی حساب مالی..."
                                                 MaxItems="100"
                                                 ToStringFunc="@(acc => acc?.Title)"
                                                 SearchFunc="SearchFinancialAccountsAsync"
                                                 ResetValueOnEmptyText="true" />
                                <MudIconButton Disabled="Model.Disabled" Icon="@Icons.Material.Filled.Add"
                                               Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnAddFinancialAccount"></MudIconButton>
                            </div>
                        </MudItem>
                        <MudItem xs="12" md="@(string.IsNullOrEmpty(Model.ExchangeRateLabel) ? 6 : 12)">
                            <MudTextField @bind-Value="@Model.ReferenceNumber"
                                          T="string"
                                          dir="ltr"
                                          For="@(() => Model.ReferenceNumber!)"
                                          Label="@(Model.GetDisplayName(() => Model.ReferenceNumber))"
                                          Margin="Margin.Dense"
                                          Disabled="Model.Disabled"
                                          AdornmentIcon="@Icons.Material.Filled.Numbers"
                                          Adornment="Adornment.End"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                        break;
                    case PaymentType.CustomerTransfer:
                        <MudItem xs="12" md="6">
                            <div class="d-flex align-center gap-2">
                                <MudAutocomplete T="CustomerVm"
                                                 Value="Model.Endorser"
                                                 ValueChanged="OnEndorserChanged"
                                                 Text="@Model.Endorser?.FullName"
                                                 For="@(() => Model.Endorser!)"
                                                 Placeholder="جستجوی طرف حساب..."
                                                 Label="@(Model.GetDisplayName(() => Model.Endorser))"
                                                 ToStringFunc="@(customer => customer != null ? $"{customer.FullName}" : null)"
                                                 Margin="Margin.Dense"
                                                 FullWidth="true"
                                                 Adornment="Adornment.Start"
                                                 AdornmentIcon="@Icons.Material.Filled.Search"
                                                 Variant="Variant.Outlined"
                                                 SearchFunc="@SearchCustomers"
                                                 ResetValueOnEmptyText="true"
                                                 DebounceInterval="0"
                                                 ShowProgressIndicator="false">
                                </MudAutocomplete>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => OnAddCustomer("طرف حساب"))" />
                            </div>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudAutocomplete @bind-Value="@Model.TargetInvoice"
                                             T="GetTinyInvoiceResponse ?"
                                             For="@(() => Model.TargetInvoice)"
                                             Label="@Model.GetDisplayName(() => Model.TargetInvoice)"
                                             Margin="Margin.Dense"
                                             Disabled="@(Model.Endorser is null || Model.PaymentSide is PaymentSide.Receive)"
                                             Adornment="Adornment.End"
                                             AdornmentIcon="@Icons.Material.Outlined.ArrowDropDown"
                                             InputClass="text-truncate"
                                             Variant="Variant.Outlined"
                                             DebounceInterval="500"
                                             Placeholder="جستجوی فاکتور..."
                                             MaxItems="100"
                                             ToStringFunc="InvoiceToStringFunc"
                                             SearchFunc="SearchCustomerInvoicesAsync"
                                             ResetValueOnEmptyText="true" />
                        </MudItem>
                        break;
                    case PaymentType.UsedGoldInventory or PaymentType.MoltenGoldInventory:
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@Model.GoldFineness"
                                          T="decimal?"
                                          Format="G29"
                                          dir="ltr"
                                          Immediate="true"
                                          For="@(() => Model.GoldFineness!)"
                                          Label="@(Model.GetDisplayName(() => Model.GoldFineness))"
                                          Margin="Margin.Dense"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                        break;
                    case PaymentType.Check:
                        <MudItem xs="12" md="6">
                            <div class="d-flex align-center gap-2">
                                <MudAutocomplete T="CustomerVm?"
                                                 Value="Model.CheckIssuer"
                                                 ValueChanged="OnCheckIssuerChanged"
                                                 Text="@Model.CheckIssuer?.FullName"
                                                 For="@(() => Model.CheckIssuer!)"
                                                 Placeholder="جستجوی صادر کننده چک..."
                                                 Label="@(Model.GetDisplayName(() => Model.CheckIssuer))"
                                                 ToStringFunc="@(customer => customer != null ? $"{customer.FullName}" : null)"
                                                 Margin="Margin.Dense"
                                                 FullWidth="true"
                                                 Adornment="Adornment.Start"
                                                 AdornmentIcon="@Icons.Material.Filled.Search"
                                                 Variant="Variant.Outlined"
                                                 SearchFunc="@SearchCustomers"
                                                 ResetValueOnEmptyText="true"
                                                 DebounceInterval="0"
                                                 ShowProgressIndicator="false">
                                </MudAutocomplete>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => OnAddCustomer("صادر کننده چک"))" />
                            </div>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <div class="d-flex align-center gap-2">
                                <div style="min-width: 0; flex: 1;">
                                    <MudSelect T="FinancialAccountVm"
                                               @bind-Value="Model.CheckIssuerFinancialAccount"
                                               Text="@Model.CheckIssuerFinancialAccount?.GetAccountTypeText()"
                                               For="@(() => Model.CheckIssuerFinancialAccount!)"
                                               Label="@(Model.GetDisplayName(() => Model.CheckIssuerFinancialAccount))"
                                               ToStringFunc="@(fa => fa != null ? $"{fa.GetAccountTypeText()}" : null)"
                                               Margin="Margin.Dense"
                                               FullWidth="true"
                                               Variant="Variant.Outlined"
                                               Disabled="@(Model.CheckIssuer == null)">
                                        @foreach (var item in _customerFinancialAccounts)
                                        {
                                            <MudSelectItem T="FinancialAccountVm" Value="@item">@item.GetAccountTypeText()</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary"
                                               Disabled="@(Model.CheckIssuer == null)"
                                               OnClick="@(() => OnAddCustomerFinancialAccount(Model.CheckIssuer!))" />
                            </div>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@Model.CheckNumber"
                                          T="string?"
                                          dir="ltr"
                                          For="@(() => Model.CheckNumber!)"
                                          Label="@(Model.GetDisplayName(() => Model.CheckNumber))"
                                          Margin="Margin.Dense"
                                          Adornment="Adornment.End"
                                          AdornmentIcon="@Icons.Material.Filled.ConfirmationNumber"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@Model.CheckSayadiCode"
                                          T="string?"
                                          dir="ltr"
                                          For="@(() => Model.CheckSayadiCode!)"
                                          Label="@(Model.GetDisplayName(() => Model.CheckSayadiCode))"
                                          Margin="Margin.Dense"
                                          Adornment="Adornment.End"
                                          AdornmentIcon="@Icons.Material.Filled.Numbers"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudDatePicker @bind-Date="Model.CheckDueDate"
                                           Color="Color.Secondary"
                                           Editable="true"
                                           dir="ltr"
                                           AnchorOrigin="Origin.TopCenter"
                                           TransformOrigin="Origin.BottomCenter"
                                           For="@(() => Model.CheckDueDate)"
                                           Label="@(Model.GetDisplayName(() => Model.CheckDueDate))"
                                           ImmediateText="true"
                                           Margin="Margin.Dense"
                                           Rounded="true"
                                           Variant="Variant.Outlined" />
                        </MudItem>
                        break;
                }

                <MudItem xs="12" md="6">
                    <MudDatePicker @bind-Date="Model.PaymentDate"
                                   Color="Color.Secondary"
                                   Editable="true"
                                   dir="ltr"
                                   Disabled="Model.Disabled"
                                   AnchorOrigin="Origin.TopCenter"
                                   TransformOrigin="Origin.BottomCenter"
                                   For="@(() => Model.PaymentDate)"
                                   Label="@(Model.GetDisplayName(() => Model.PaymentDate))"
                                   ImmediateText="true"
                                   Margin="Margin.Dense"
                                   Rounded="true"
                                   Variant="Variant.Outlined" />
                </MudItem>

                @if (Model.PaymentType is PaymentType.Check)
                {
                    <MudItem xs="12" md="6">
                        <MudFileUpload T="IBrowserFile"
                                       @bind-Files="Model.CheckImageFile"
                                       For="@(() => Model.CheckImageFile!)"
                                       Accept="image/*"
                                       Style="margin-top: 9px;"
                                       OnFilesChanged="OnCheckImageChanged">
                            <CustomContent Context="ctx">
                                <MudButton Variant="Variant.Outlined"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload"
                                           OnClick="ctx.OpenFilePickerAsync"
                                           FullWidth="true">
                                    @(_checkImagePreviewUrl == null ? "بارگذاری تصویر چک" : "تغییر تصویر چک")
                                </MudButton>
                            </CustomContent>
                        </MudFileUpload>
                    </MudItem>
                }

                @if (_checkImagePreviewUrl != null)
                {
                    <MudItem xs="12">
                        <div class="image-fieldset rounded-5">
                            <fieldset>
                                <legend>تصویر چک</legend>
                                <div class="image-preview-container">
                                    <MudImage Src="@_checkImagePreviewUrl"
                                              Alt="تصویر چک"
                                              ObjectFit="ObjectFit.Cover"
                                              Class="rounded check-image" />
                                    <div class="image-overlay rounded-5">
                                        <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                                       Color="Color.Default"
                                                       Size="Size.Medium"
                                                       OnClick="@(() => JsRuntime.InvokeVoidAsync("openImageInNewTab", _checkImagePreviewUrl))" />
                                        <MudFileUpload T="IBrowserFile"
                                                       @bind-Files="Model.CheckImageFile"
                                                       For="@(() => Model.CheckImageFile!)"
                                                       Accept="image/*"
                                                       OnFilesChanged="OnCheckImageChanged">
                                            <CustomContent Context="ctx">
                                                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                               Color="Color.Default"
                                                               Size="Size.Medium"
                                                               OnClick="ctx.OpenFilePickerAsync" />
                                            </CustomContent>
                                        </MudFileUpload>
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                       Color="Color.Default"
                                                       Size="Size.Medium"
                                                       OnClick="ClearCheckImage" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </MudItem>
                }


                <MudItem xs="12">
                    <MudTextField @bind-Value="@Model.Note"
                                  T="string"
                                  For="@(() => Model.Note!)"
                                  Label="@(Model.GetDisplayName(() => Model.Note))"
                                  Margin="Margin.Dense"
                                  AdornmentIcon="@Icons.Material.Filled.Notes"
                                  Adornment="Adornment.End"
                                  Lines="3"
                                  Disabled="Model.Disabled"
                                  Variant="Variant.Outlined" />
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <div class="price-container d-flex align-center justify-content-between w-100 flex-wrap">
                <div class="d-flex gap-2 mr-md-4">
                    @if (Model.PriceUnit?.Id == BasePriceUnit.Id)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" Color="Color.Primary" OnClick="ApplyTotalRemaining" Variant="Variant.Outlined" />
                    }
                    <MudText Class="price-text" Typo="Typo.h6" Color="@RemainingColor">
                        @RemainingLabel @(TotalRemainingCalculated != 0 ? Math.Abs(TotalRemainingCalculated).ToCurrencyFormat(BasePriceUnit.Title) : "")
                    </MudText>
                </div>

                <div class="button-group">
                    <MudButton Color="Color.Error"
                               OnClick="Close"
                               StartIcon="@Icons.Material.Filled.Close"
                               Variant="Variant.Filled">انصراف</MudButton>
                    <MudButton Class="m-2"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save"
                               OnClick="Submit"
                               Variant="Variant.Filled">ذخیره</MudButton>
                </div>
            </div>
        </DialogActions>
    </MudDialog>
</MudForm>

<script>
    window.createObjectURL = async (streamRef) => {
        const buffer = await streamRef.arrayBuffer();
        const blob = new Blob([buffer], { type: "image/*" });
        return URL.createObjectURL(blob);
    };

    window.openImageInNewTab = (url) => {
        const newTab = window.open();
        newTab.document.body.innerHTML = `<img src="${url}" style="max-width: 100%; height: auto;" />`;
    };
</script>

<style>
    .mud-file-upload-files {
        display: none;
    }
</style>