@using GoldEx.Shared.DTOs.Customers
@using GoldEx.Shared.DTOs.FinancialAccounts
@inherits GoldExComponentBase

<div>
    <MudStack Row AlignItems="AlignItems.Center" Class="mt-2">
        <MudText Typo="Typo.h6">جزئیات پرداخت ها</MudText>
        <MudSpacer />
        @if (InvoiceType is InvoiceType.Purchase)
        {
            <MudTooltip Text="افزودن سند پرداخت" Arrow="true" Placement="Placement.Top" Color="Color.Success">
                <MudIconButton Icon="@Icons.Material.Filled.AddCard" Size="Size.Small" Variant="Variant.Filled" Color="Color.Success"
                               OnClick="OnAddPaymentVoucher"></MudIconButton>
            </MudTooltip>
        }
        <MudTooltip Text="افزودن ردیف جدید" Arrow="true" Placement="Placement.Top" Color="Color.Info">
            <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small" Variant="Variant.Filled" Color="Color.Info"
                           OnClick="AddItem"></MudIconButton>
        </MudTooltip>
    </MudStack>

    <MudTable Items="@Items" Elevation="0">
        <RowTemplate>
            <MudTd DataLabel="مبلغ" Class="p-1">
                <MudMenu @bind-Open="context.AmountMenuOpen" ActivationEvent="@MouseEvent.RightClick" Class="w-100">
                    <ActivatorContent>
                        <MudNumericField Value="context.Amount"
                                         ValueChanged="amount => OnAmountChanged(amount, context)"
                                         T="decimal"
                                         HideSpinButtons="true"
                                         Format="#,##0.##"
                                         dir="rtl"
                                         Immediate="true"
                                         Disabled="context.Disabled"
                                         For="@(() => context.Amount)"
                                         Label="@(context.GetDisplayName(() => context.Amount))"
                                         Margin="Margin.Dense"
                                         Variant="Variant.Outlined"
                                         Adornment="Adornment.End"
                                         AdornmentText="@context.AmountAdornmentText"
                                         OnAdornmentClick="() => context.AmountMenuOpen = true" />
                    </ActivatorContent>
                    <ChildContent>
                        @foreach (var item in PriceUnits)
                        {
                            <MudMenuItem OnClick="() => SelectPriceUnit(item, context)">
                                <div style="display: flex; align-items: center; gap: 8px;">
                                    @if (item.HasIcon)
                                    {
                                        <MudAvatar Size="Size.Small" Color="Color.Primary">
                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                        </MudAvatar>
                                    }
                                    @item.Title
                                </div>
                            </MudMenuItem>
                        }
                    </ChildContent>
                </MudMenu>
            </MudTd>
            @if (context.PriceUnit?.Id != PriceUnit.Id)
            {
                <MudTd DataLabel="@context.ExchangeRateLabel">
                    <MudNumericField For="@(() => context.ExchangeRate)"
                                     Format="#,##0.########"
                                     Immediate="true"
                                     dir="rtl"
                                     Label="@context.ExchangeRateLabel"
                                     Margin="Margin.Dense"
                                     Disabled="context.Disabled"
                                     T="decimal?"
                                     @bind-Value="context.ExchangeRate"
                                     HideSpinButtons="true"
                                     Variant="Variant.Outlined" />
                </MudTd>
            }

            <MudTd DataLabel="نحوه پرداخت">
                <MudSelect Value="@context.PaymentType"
                           ValueChanged="(arg) => OnPaymentTypeChanged(context, arg)"
                           T="PaymentType"
                           For="@(() => context.PaymentType)"
                           Label="نحوه پرداخت"
                           Variant="Variant.Outlined"
                           Margin="Margin.Dense"
                           Disabled="context.Disabled">
                    @foreach (var paymentType in Enum.GetValues<PaymentType>())
                    {
                        if (context.PriceUnit?.IsGoldBased == false && paymentType == PaymentType.MoltenGoldInventory)
                        {
                            continue;
                        }
                        <MudSelectItem T="PaymentType" Value="@paymentType">@paymentType.GetDisplayName()</MudSelectItem>
                    }
                </MudSelect>
            </MudTd>

            @if (context.PaymentType == PaymentType.InternalCash)
            {
                <MudTd DataLabel="@FinancialAccountLabelText" Class="p-1">
                    <div class="d-flex flex-row align-center">
                        <MudSelect @bind-Value="@context.FinancialAccount"
                                   T="GetFinancialAccountTitleResponse?"
                                   For="@(() => context.FinancialAccount)"
                                   Label="@FinancialAccountLabelText"
                                   Margin="Margin.Dense"
                                   Disabled="context.Disabled"
                                   Variant="Variant.Outlined"
                                   ToStringFunc="@(acc => acc?.Title)">
                            @foreach (var account in context.FinancialAccounts)
                            {
                                <MudSelectItem T="GetFinancialAccountTitleResponse" Value="@account">@account.Title</MudSelectItem>
                            }
                        </MudSelect>
                        <MudIconButton Disabled="context.Disabled" Icon="@Icons.Material.Filled.Add"
                                       Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => OnAddFinancialAccount(context)"></MudIconButton>
                    </div>
                </MudTd>
            }

            @if (context.PaymentType == PaymentType.CustomerTransfer)
            {
                <MudTd DataLabel="طرف حساب" Class="p-1">
                    <div class="d-flex flex-row align-center">
                        <MudAutocomplete T="CustomerVm"
                                         @bind-Value="context.Endorser"
                                         Text="@context.Endorser?.FullName"
                                         For="@(() => context.Endorser!)"
                                         Placeholder="جستجوی طرف حساب..."
                                         Label="@(context.GetDisplayName(() => context.Endorser))"
                                         ToStringFunc="@(customer => customer != null ? $"{customer.FullName}" : null)"
                                         Margin="Margin.Dense"
                                         Adornment="Adornment.Start"
                                         AdornmentIcon="@Icons.Material.Filled.Search"
                                         Variant="Variant.Outlined"
                                         SearchFunc="@SearchCustomers"
                                         ResetValueOnEmptyText="true"
                                         DebounceInterval="0"
                                         ShowProgressIndicator="false">
                        </MudAutocomplete>
                        <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => OnAddCustomer(context)"></MudIconButton>
                    </div>
                </MudTd>
            }

            @if (context.PaymentType is PaymentType.MoltenGoldInventory or PaymentType.UsedGoldInventory)
            {
                <MudTd DataLabel="عیار طلا" Class="p-1">
                    <MudTextField @bind-Value="@context.GoldFineness"
                                  T="decimal?"
                                  Format="G29"
                                  dir="rtl"
                                  Immediate="true"
                                  For="@(() => context.GoldFineness!)"
                                  Label="@(context.GetDisplayName(() => context.GoldFineness))"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudTd>
            }

            <MudTd DataLabel="یادداشت" Class="p-1">
                <MudTextField @bind-Value="@context.Note"
                              T="string"
                              For="@(() => context.Note!)"
                              Label="@(context.GetDisplayName(() => context.Note))"
                              Margin="Margin.Dense"
                              AdornmentIcon="@Icons.Material.Filled.Notes"
                              Adornment="Adornment.End"
                              Disabled="context.Disabled"
                              Variant="Variant.Outlined" />
            </MudTd>
            <MudTd DataLabel="کد پیگیری" Class="p-1">
                <MudTextField @bind-Value="@context.ReferenceNumber"
                              T="string"
                              dir="rtl"
                              For="@(() => context.ReferenceNumber!)"
                              Label="@(context.GetDisplayName(() => context.ReferenceNumber))"
                              Margin="Margin.Dense"
                              Disabled="context.Disabled"
                              AdornmentIcon="@Icons.Material.Filled.Numbers"
                              Adornment="Adornment.End"
                              Variant="Variant.Outlined" />
            </MudTd>
            <MudTd DataLabel="تاریخ پرداخت">
                <MudDatePicker @bind-Date="context.PaymentDate"
                               Color="Color.Secondary"
                               Editable="true"
                               dir="rtl"
                               Disabled="context.Disabled"
                               AnchorOrigin="Origin.TopCenter"
                               TransformOrigin="Origin.BottomCenter"
                               For="@(() => context.PaymentDate)"
                               Label="@(context.GetDisplayName(() => context.PaymentDate))"
                               ImmediateText="true"
                               Margin="Margin.Dense"
                               Rounded="true"
                               Variant="Variant.Outlined" />
            </MudTd>
            <MudTd DataLabel="عملیات">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled"
                               Color="Color.Error" OnClick="() => RemoveItem(context)"></MudIconButton>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText Typo="Typo.body1">هیچ پرداختی برای این فاکتور ثبت نشده است</MudText>
        </NoRecordsContent>
    </MudTable>

    <div class="d-flex flex-row justify-content-between">
        <MudText>جمع کل پرداختی ها: @Items.Sum(x => x.FinalAmount * (x.ExchangeRate ?? 1)).ToCurrencyFormat(PriceUnit.Title)</MudText>
        <MudText Style="cursor: pointer" @onclick="OnTotalRemainingClicked">مانده کل: @TotalRemainingCalculated.ToCurrencyFormat(PriceUnit.Title)</MudText>
    </div>
</div>
