@using GoldEx.Client.Pages.Settings.ViewModels
@using GoldEx.Shared.DTOs.PriceUnits
@inherits GoldExComponentBase

<MudForm Model="Model" @ref="@_form" Validation="@(_productItemValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog>
        <DialogContent>
            <div class="d-flex flex-column flex-wrap align-center gap-3 pa-3">
                @if (!PriceUnit.IsGoldBased)
                {
                    <MudNumericField Adornment="Adornment.End"
                                     AdornmentText="@PriceUnit.Title"
                                     @bind-Value="Model.GramPrice"
                                     dir="ltr"
                                     For="@(() => Model.GramPrice)"
                                     Format="#,##0.##"
                                     Immediate="true"
                                     HideSpinButtons="true"
                                     Label="@($"نرخ هر {Model.Product.GoldUnitType.GetDisplayName()} طلا")"
                                     Margin="Margin.Dense"
                                     Variant="Variant.Outlined" />
                }
            </div>
            <MudGrid Class="mb-0">
                <MudItem xs="12" sm="6" md="4">
                    <MudSelect For="() => Model.Product.ProductType"
                               Label="@Model.Product.GetDisplayName(() => Model.Product.ProductType)"
                               Margin="Margin.Dense"
                               T="ProductType"
                               Value="Model.Product.ProductType"
                               ValueChanged="OnProductTypeChanged"
                               Variant="Variant.Outlined">
                        @foreach (var productType in Enum.GetValues<ProductType>().Where(x => x != ProductType.UsedGold))
                        {
                            <MudSelectItem T="ProductType"
                                           Value="productType">
                                @productType.GetDisplayName()
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudAutocomplete T="string"
                                     Value="Model.Product.Name"
                                     ValueChanged="OnProductNameChanged"
                                     @bind-Text="Model.Product.Name"
                                     For="@(() => Model.Product.Name!)"
                                     Label="@Model.GetDisplayName(() => Model.Product.Name)"
                                     Margin="Margin.Dense"
                                     Variant="Variant.Outlined"
                                     SearchFunc="@SearchNames"
                                     AutoFocus="true"
                                     ResetValueOnEmptyText="true"
                                     CoerceValue="false"
                                     Strict="false"
                                     DebounceInterval="0"
                                     ShowProgressIndicator="false">
                    </MudAutocomplete>
                </MudItem>
                @if (Model.Product.ProductType is not ProductType.MoltenGold)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <div class="d-flex flex-row align-center">
                            <MudSelect T="ProductCategoryVm?"
                                       Value="Model.Product.CategoryVm"
                                       ValueChanged="OnProductCategoryChanged"
                                       Label="@Model.Product.GetDisplayName(() => Model.Product.ProductCategoryId)"
                                       For="() => Model.Product.CategoryVm"
                                       Margin="Margin.Dense"
                                       Variant="Variant.Outlined">
                                <MudSelectItem T="ProductCategoryVm?" Value="null">ندارد</MudSelectItem>
                                @foreach (var item in _productCategories)
                                {
                                    <MudSelectItem Value="item">@item.Title</MudSelectItem>
                                }
                            </MudSelect>
                            <MudIconButton Icon="@Icons.Material.Filled.Add" class="mt-1" Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnAddCategory" />
                        </div>
                    </MudItem>
                }

                <MudItem xs="12" sm="6" md="4">
                    <MudNumericField For="@(() => Model.Quantity)"
                                     Immediate="true"
                                     dir="ltr"
                                     Label="@Model.GetDisplayName(() => Model.Quantity)"
                                     Margin="Margin.Dense"
                                     T="int"
                                     @bind-Value="Model.Quantity"
                                     HideSpinButtons="true"
                                     Variant="Variant.Outlined" />
                </MudItem>

                <MudItem xs="12" sm="6" md="4">
                    <div style="display: flex; gap: 8px; align-items: center;">
                        <MudNumericField Adornment="Adornment.End"
                                         AdornmentText="@Model.Product.GoldUnitType.GetDisplayName()"
                                         For="() => Model.TotalWeight"
                                         dir="ltr"
                                         Format="G29"
                                         Immediate="true"
                                         HideSpinButtons="true"
                                         Margin="Margin.Dense"
                                         Label="@(Model.GetDisplayName(() => Model.TotalWeight))"
                                         T="decimal?"
                                         Value="Model.TotalWeight"
                                         ValueChanged="OnTotalWeightChanged"
                                         Variant="Variant.Outlined"
                                         Class="flex-grow-1" />

                        <MudMenu @bind-Open="_weightFieldMenuOpen"
                                 ActivationEvent="@MouseEvent.LeftClick">
                            <ActivatorContent>
                                <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" />
                            </ActivatorContent>
                            <ChildContent>
                                @foreach (var item in Enum.GetValues<GoldUnitType>())
                                {
                                    <MudMenuItem OnClick="() => OnGoldUnitTypeSelected(item)">
                                        <div style="display: flex; align-items: center; gap: 8px;">
                                            @item.GetDisplayName()
                                        </div>
                                    </MudMenuItem>
                                }
                            </ChildContent>
                        </MudMenu>
                    </div>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudNumericField For="@(() => Model.Product.Fineness)"
                                     Format="G29"
                                     Immediate="true"
                                     dir="ltr"
                                     Label="@Model.GetDisplayName(() => Model.Product.Fineness)"
                                     Margin="Margin.Dense"
                                     T="decimal"
                                     @bind-Value="Model.Product.Fineness"
                                     HideSpinButtons="true"
                                     Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudSelect For="() => Model.Product.WageType"
                               Label="@Model.Product.GetDisplayName(() => Model.Product.WageType)"
                               Margin="Margin.Dense"
                               T="WageType?"
                               Value="Model.Product.WageType"
                               ValueChanged="OnWageTypeChanged"
                               Variant="Variant.Outlined">
                        <MudSelectItem Value="@((WageType?)null)">ندارد</MudSelectItem>
                        @foreach (var wageType in Enum.GetValues<WageType>())
                        {
                            <MudSelectItem Value="@((WageType?)wageType)">
                                @wageType.GetDisplayName()
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                @if (Model.Product.WageType != null)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <div style="display: flex; gap: 8px; align-items: center;">
                            <MudNumericField Adornment="Adornment.End"
                                             AdornmentText="@WageFieldAdornmentText"
                                             For="() => Model.Product.Wage"
                                             Format="#,##0.##"
                                             dir="ltr"
                                             HideSpinButtons="true"
                                             Immediate="true"
                                             Margin="Margin.Dense"
                                             Label="@(Model.GetDisplayName(() => Model.Product.Wage))"
                                             T="decimal?"
                                             Value="Model.Product.Wage"
                                             ValueChanged="OnWageChanged"
                                             Variant="Variant.Outlined"
                                             Class="flex-grow-1" />
                            @if (Model.Product.WageType is WageType.Fixed)
                            {
                                <MudMenu @bind-Open="_wageFieldMenuOpen"
                                         ActivationEvent="@MouseEvent.LeftClick">
                                    <ActivatorContent>
                                        <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" />
                                    </ActivatorContent>
                                    <ChildContent>
                                        @foreach (var item in PriceUnits)
                                        {
                                            <MudMenuItem OnClick="() => SelectWagePriceUnit(item)">
                                                <div style="display: flex; align-items: center; gap: 8px;">
                                                    @if (item.HasIcon)
                                                    {
                                                        <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                        </MudAvatar>
                                                    }
                                                    @item.Title
                                                </div>
                                            </MudMenuItem>
                                        }
                                    </ChildContent>
                                </MudMenu>
                            }
                        </div>
                    </MudItem>
                }

                @if (Model.Product.WageType is WageType.Fixed && PriceUnit.Id != Model.Product.WagePriceUnitId)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <MudNumericField For="@(() => Model.WageExchangeRate)"
                                         Format="#,##0.########"
                                         dir="ltr"
                                         Immediate="true"
                                         Label="@WageExchangeRateLabel"
                                         Margin="Margin.Dense"
                                         T="decimal?"
                                         @bind-Value="Model.WageExchangeRate"
                                         Adornment="Adornment.End"
                                         AdornmentIcon="@Icons.Material.Filled.MonetizationOn"
                                         HideSpinButtons="true"
                                         Variant="Variant.Outlined" />
                    </MudItem>
                }

                @if (Model.InvoiceType is InvoiceType.Sell && Model.Product.ProductType is not ProductType.MoltenGold)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <MudNumericField For="@(() => Model.ProfitPercent)"
                                         Format="G29"
                                         dir="ltr"
                                         Immediate="true"
                                         Label="@Model.GetDisplayName(() => Model.ProfitPercent)"
                                         Margin="Margin.Dense"
                                         T="decimal"
                                         @bind-Value="Model.ProfitPercent"
                                         Adornment="Adornment.End"
                                         AdornmentText="درصد"
                                         HideSpinButtons="true"
                                         Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudNumericField For="@(() => Model.TaxPercent)"
                                         Format="G29"
                                         dir="ltr"
                                         Immediate="true"
                                         Label="@Model.GetDisplayName(() => Model.TaxPercent)"
                                         Margin="Margin.Dense"
                                         T="decimal"
                                         Adornment="Adornment.End"
                                         AdornmentText="درصد"
                                         HideSpinButtons="true"
                                         @bind-Value="Model.TaxPercent"
                                         Variant="Variant.Outlined" />
                    </MudItem>
                }

                <MudItem xs="12" sm="6" md="4">
                    <div style="display: flex; gap: 8px; align-items: center;">
                        <MudNumericField Adornment="Adornment.End"
                                         AdornmentText="@CostPriceAdornmentText"
                                         For="() => Model.CostPrice"
                                         Format="#,##0.##"
                                         dir="ltr"
                                         HideSpinButtons="true"
                                         Immediate="true"
                                         Margin="Margin.Dense"
                                         Label="@(Model.GetDisplayName(() => Model.CostPrice))"
                                         T="decimal?"
                                         Value="Model.CostPrice"
                                         ValueChanged="OnCostPriceChanged"
                                         Variant="Variant.Outlined"
                                         Class="flex-grow-1" />

                        <MudMenu @bind-Open="_costPriceMenuOpen"
                                 ActivationEvent="@MouseEvent.LeftClick">
                            <ActivatorContent>
                                <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" />
                            </ActivatorContent>
                            <ChildContent>
                                @foreach (var item in PriceUnits)
                                {
                                    <MudMenuItem OnClick="() => SelectCostPriceUnit(item)">
                                        <div style="display: flex; align-items: center; gap: 8px;">
                                            @if (item.HasIcon)
                                            {
                                                <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                    <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                </MudAvatar>
                                            }
                                            @item.Title
                                        </div>
                                    </MudMenuItem>
                                }
                            </ChildContent>
                        </MudMenu>
                    </div>
                </MudItem>

                @if (Model.CostPriceUnitId.HasValue && PriceUnit.Id != Model.CostPriceUnitId)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <MudNumericField For="@(() => Model.CostPriceExchangeRate)"
                                         Format="#,##0.########"
                                         dir="ltr"
                                         Immediate="true"
                                         Label="@CostExchangeRateLabel"
                                         Margin="Margin.Dense"
                                         T="decimal?"
                                         @bind-Value="Model.CostPriceExchangeRate"
                                         Adornment="Adornment.End"
                                         AdornmentIcon="@Icons.Material.Filled.MonetizationOn"
                                         HideSpinButtons="true"
                                         Variant="Variant.Outlined" />
                    </MudItem>
                }

                @if (Model.Product.ProductType is ProductType.MoltenGold && Model.Product.MoltenGold is not null)
                {
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField @bind-Value="Model.Product.MoltenGold.AssayNumber"
                                      For="() => Model.Product.MoltenGold.AssayNumber!"
                                      Label="@Model.GetDisplayName(() => Model.Product.MoltenGold.AssayNumber)"
                                      Margin="Margin.Dense"
                                      dir="ltr"
                                      T="string"
                                      Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <div class="d-flex flex-row align-center">
                            <MudAutocomplete T="CustomerVm"
                                             @bind-Value="Model.Product.MoltenGold.Assayer"
                                             Text="@Model.Product.MoltenGold.Assayer?.FullName"
                                             For="@(() => Model.Product.MoltenGold.Assayer!)"
                                             Placeholder="جستجوی آزمایشگاه..."
                                             Label="@(Model.GetDisplayName(() => Model.Product.MoltenGold.Assayer))"
                                             ToStringFunc="@(customer => customer != null ? $"{customer.FullName}" : null)"
                                             Margin="Margin.Dense"
                                             Adornment="Adornment.Start"
                                             AdornmentIcon="@Icons.Material.Filled.Search"
                                             Variant="Variant.Outlined"
                                             SearchFunc="@SearchCustomers"
                                             ResetValueOnEmptyText="true"
                                             DebounceInterval="0"
                                             ShowProgressIndicator="false">
                            </MudAutocomplete>
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnAddCustomer"></MudIconButton>
                        </div>
                    </MudItem>

                    <MudItem xs="12" sm="6" md="4">
                        <MudDatePicker @bind-Date="Model.Product.MoltenGold.AssayDate"
                                       Color="Color.Secondary"
                                       Editable="true"
                                       AnchorOrigin="Origin.TopCenter"
                                       TransformOrigin="Origin.BottomCenter"
                                       For="@(() => Model.Product.MoltenGold.AssayDate)"
                                       dir="ltr"
                                       Label="@(Model.GetDisplayName(() => Model.Product.MoltenGold.AssayDate))"
                                       ImmediateText="true"
                                       Margin="Margin.Dense"
                                       Rounded="true"
                                       Variant="Variant.Outlined" />
                    </MudItem>

                }

                @if (Model.Product.ProductType is ProductType.Jewelry)
                {
                    <MudItem xs="12" md="6" lg="4">
                        <MudSelect For="() => Model.Product.StonePriceUnit"
                                   Label="@Model.GetDisplayName(() => Model.Product.StonePriceUnit)"
                                   Margin="Margin.Dense"
                                   T="GetPriceUnitTitleResponse?"
                                   Value="Model.Product.StonePriceUnit"
                                   ValueChanged="OnProductStonePriceUnitChanged"
                                   Variant="Variant.Outlined">
                            @foreach (var item in PriceUnits)
                            {
                                <MudSelectItem Value="item">
                                    <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                        </MudAvatar>
                                        <MudText>@item.Title</MudText>
                                    </MudStack>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    @if (Model.Product.StonePriceUnit != null && PriceUnit.Id != Model.Product.StonePriceUnit?.Id)
                    {
                        <MudItem xs="12" sm="6" md="4">
                            <MudNumericField For="@(() => Model.StonePriceUnitExchangeRate)"
                                             Format="#,##0.########"
                                             dir="ltr"
                                             Immediate="true"
                                             Label="@StonePriceExchangeRateLabel"
                                             Margin="Margin.Dense"
                                             T="decimal?"
                                             @bind-Value="Model.StonePriceUnitExchangeRate"
                                             Adornment="Adornment.End"
                                             AdornmentIcon="@Icons.Material.Filled.MonetizationOn"
                                             HideSpinButtons="true"
                                             Variant="Variant.Outlined" />
                        </MudItem>

                    }

                    @if (Model.Product.Stones is not null)
                    {
                        @for (var i = 0; i < Model.Product.Stones.Count; i++)
                        {
                            var index = i;

                            <MudItem @key="@index" xs="12" Class="d-flex justify-center m-0">
                                <MudText Typo="Typo.body1">
                                    سنگ شماره @(index + 1)
                                    <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                   OnClick="() => OnRemoveGemStone(index)"
                                                   Size="Size.Small">
                                    </MudIconButton>
                                </MudText>
                            </MudItem>

                            <MudItem @key="@($"{index} type")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Product.Stones[index].Type"
                                              For="() => Model.Product.Stones[index].Type"
                                              Label="نوع سنگ" Margin="Margin.Dense"
                                              T="string" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} color")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Product.Stones[index].Color"
                                              For="() => Model.Product.Stones[index].Color"
                                              Label="رنگ" Margin="Margin.Dense"
                                              T="string" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} cut")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Product.Stones[index].Cut"
                                              For="() => Model.Product.Stones[index].Cut"
                                              Label="برش" Margin="Margin.Dense"
                                              T="string?" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} carat")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Product.Stones[index].Carat"
                                              For="() => Model.Product.Stones[index].Carat"
                                              dir="ltr"
                                              Label="قیراط" Margin="Margin.Dense" Format="G29"
                                              T="decimal" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} purity")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Product.Stones[index].Purity"
                                              For="() => Model.Product.Stones[index].Purity"
                                              Label="پاکی" Margin="Margin.Dense"
                                              T="string?" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} cost")" xs="6" md="4" Class="pt-0">
                                <MudNumericField @bind-Value="Model.Product.Stones[index].Cost"
                                                 For="() => Model.Product.Stones[index].Cost"
                                                 Label="نرخ"
                                                 Margin="Margin.Dense"
                                                 T="decimal"
                                                 dir="ltr"
                                                 Format="#,##0.##"
                                                 HideSpinButtons="true"
                                                 Adornment="Adornment.End"
                                                 AdornmentText="@Model.Product.StonePriceUnit?.Title"
                                                 Variant="Variant.Outlined"></MudNumericField>
                            </MudItem>
                        }
                    }

                    <MudItem xs="12">
                        <div class="d-flex align-center justify-center">
                            <MudButton Color="Color.Primary"
                                       OnClick="OnAddGemStone"
                                       StartIcon="@Icons.Material.Filled.Add"
                                       Variant="Variant.Filled">افزودن سنگ جواهر</MudButton>
                        </div>
                    </MudItem>
                }
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <div class="final-price-container d-flex align-center justify-content-between w-100 flex-wrap">
                <MudText Class="final-price-text mr-md-5" Typo="Typo.h6" Color="Color.Primary">
                    قیمت نهایی جنس: @Model.FinalAmount.ToCurrencyFormat(PriceUnit.Title)
                </MudText>

                <div class="button-group">
                    <MudButton Color="Color.Error"
                               OnClick="Close"
                               StartIcon="@Icons.Material.Filled.Close"
                               Variant="Variant.Filled">انصراف</MudButton>

                    <MudButton Class="m-2"
                               Color="Color.Primary"
                               Disabled="@_isProcessing"
                               StartIcon="@Icons.Material.Filled.Save"
                               OnClick="@(async () => await Submit())"
                               Variant="Variant.Filled">
                        @if (_isProcessing)
                        {
                            <MudProgressCircular Class="ms-n1"
                                                 Size="Size.Small"
                                                 Indeterminate="true" />
                            <MudText Class="ms-2">در حال ذخیره</MudText>
                        }
                        else
                        {
                            <MudText>ذخیره</MudText>
                        }
                    </MudButton>
                </div>
            </div>
        </DialogActions>
    </MudDialog>
</MudForm>