@inherits GoldExComponentBase

<MudPaper Elevation="@Elevation" Class="@Class">
    <MudStack Row AlignItems="AlignItems.Center" Class="my-2">
        <MudText Typo="Typo.h6">لیست طلا جواهرات دست دوم</MudText>
        <MudSpacer />
        <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Error" Text="افزودن جنس دست دوم">
            <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small"
                           Variant="Variant.Filled" Color="Color.Error" OnClick="OnAddItem"></MudIconButton>
        </MudTooltip>
    </MudStack>

    <MudTable Dense="true" Hover="true" Items="@Items" T="UsedProductVm">
        <ColGroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh>ردیف</MudTh>
            <MudTh>عنوان</MudTh>
            <MudTh>کسری عیار</MudTh>
            <MudTh>وزن</MudTh>
            <MudTh>ارزش کالا</MudTh>
            <MudTh>مخارج جانبی</MudTh>
            <MudTh>ارزش کل</MudTh>
            <MudTh>عملیات</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ردیف">@context.Index</MudTd>
            <MudTd DataLabel="عنوان">
                @if (context.IsBroken)
                {
                    <MudIcon Color="Color.Error" Size="Size.Small" Icon="@Icons.Material.Filled.BrokenImage" />
                }
                else
                {
                    <MudIcon Color="Color.Success" Size="Size.Small" Icon="@Icons.Material.Filled.CheckCircle" />
                }
                @context.Description
            </MudTd>
            <MudTd DataLabel="کسری عیار">@context.FinenessDeductionRate.ToString("G29")</MudTd>
            <MudTd DataLabel="وزن">@context.Weight?.ToString("G29") @context.UnitType.GetDisplayName()</MudTd>
            <MudTd DataLabel="ارزش کالا">@context.ItemAmount.ToCurrencyFormat(PriceUnit?.Title)</MudTd>
            <MudTd DataLabel="مخارج جانبی">@context.ExtraCostsAmount?.ToCurrencyFormat(PriceUnit?.Title)</MudTd>
            <MudTd DataLabel="ارزش کل">@context.ItemFinalAmount.ToCurrencyFormat(PriceUnit?.Title)</MudTd>
            <MudTd DataLabel="عملیات">
                <div class="d-flex gap-2">
                    <MudTooltip Text="چاپ بارکد">
                        <MudIconButton Icon="@Icons.Material.Filled.Print" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Success" OnClick="() => OnPrintBarcode.InvokeAsync(context)"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="ویرایش جنس">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Primary" OnClick="() => OnEditItem.InvokeAsync(context)"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="حذف جنس">
                        <MudIconButton OnClick="@(_ => OnRemoveItem.InvokeAsync(context))" ClickPropagation="true"
                                       Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error"></MudIconButton>
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText Typo="Typo.body2">هیچ جنسی ثبت نشده است</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText Typo="Typo.body2">در حال بارگیری</MudText>
        </LoadingContent>
    </MudTable>
</MudPaper>