@inherits GoldExComponentBase

<MudPaper Elevation="0" Class="mt-2 px-4">
    <MudStack AlignItems="AlignItems.Center" Row Justify="Justify.Center" Spacing="2" Class="my-2">
        <MudText Typo="Typo.h6" GutterBottom="true" Class="d-none d-md-block">
            لیست سکه ها
        </MudText>
        <div class="flex-fill d-none d-md-block"></div>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Small"
                   Variant="Variant.Filled" Color="Color.Info" OnClick="AddItem">
            افزودن سکه از انبار
        </MudButton>
    </MudStack>
    <MudTable Dense="true" Hover="true" Elevation="0" Virtualize="true" Items="@Model.CoinItems" FixedHeader="true"
              T="CoinItemVm" ContainerClass="responsive-table-toolbar">
        <ColGroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh>ردیف</MudTh>
            <MudTh>عنوان</MudTh>
            <MudTh>نوع سکه</MudTh>
            <MudTh>وزن</MudTh>
            <MudTh>سال ضرب</MudTh>
            <MudTh>تعداد</MudTh>
            <MudTh>نرخ واحد</MudTh>
            <MudTh>ارزش کل</MudTh>
            <MudTh>عملیات</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ردیف">@context.Index</MudTd>
            <MudTd DataLabel="عنوان">@context.CoinInstance.Coin?.Title</MudTd>
            <MudTd DataLabel="نوع سکه">@($"{context.CoinInstance.MintType.GetDisplayName()} ({context.CoinInstance.PackageType.GetDisplayName()})")</MudTd>
            <MudTd DataLabel="وزن">@GetWeight(context)</MudTd>
            <MudTd DataLabel="سال ضرب">@GetMintYear(context)</MudTd>
            <MudTd DataLabel="تعداد">@context.Quantity</MudTd>
            <MudTd DataLabel="نرخ واحد">@context.UnitPrice.ToCurrencyFormat(PriceUnit?.Title)</MudTd>
            <MudTd DataLabel="ارزش کل">@context.TotalAmount.ToCurrencyFormat(PriceUnit?.Title)</MudTd>
            <MudTd DataLabel="عملیات">
                <div class="d-flex gap-2">
                    <MudTooltip Text="ویرایش">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Primary" OnClick="() => EditItem(context)" />
                    </MudTooltip>
                    <MudTooltip Text="حذف">
                        <MudIconButton OnClick="@(_ => RemoveItem(context))" ClickPropagation="true"
                                       Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error" />
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText Typo="Typo.body2">هیچ سکه ای ثبت نشده است</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText Typo="Typo.body2">در حال بارگیری</MudText>
        </LoadingContent>
    </MudTable>
</MudPaper>