@attribute [Route(ClientRoutes.Home.Index)]
@attribute [Route(ClientRoutes.Calculator.Simple)]

@inherits GoldExComponentBase

<PageTitle>ماشین حساب گلدکس</PageTitle>

<div class="container">
    <div class="row">

        <MudGrid Class="position-relative">
            <MudItem xs="12" Class="text-center">
                <MudText Typo="Typo.h4" Class="mb-2 mt-4">محاسبه قیمت طلا</MudText>
                <MudText Typo="Typo.body1">بر اساس فرمول محاسبه اتحادیه طلا</MudText>
            </MudItem>

            @if (_canInstall)
            {
                <!-- Desktop Button -->
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.InstallDesktop"
                               OnClick="InstallPwa"
                               Class="position-absolute start-0 top-50 ml-3">
                        نصب اپلیکیشن
                    </MudButton>
                </MudHidden>

                <!-- Mobile Button -->
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudItem xs="12" Class="d-flex justify-center pt-3">
                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.InstallMobile"
                                   OnClick="InstallPwa"
                                   Color="Color.Primary">
                            نصب اپلیکیشن
                        </MudButton>
                    </MudItem>
                </MudHidden>
            }

        </MudGrid>
    </div>

    <SimpleCalculator Class="mt-4" 
                      Elevation="24" 
                      EnableQuickInvoice="true"
                      OnAddToInvoice="HandleAddToInvoiceAsync" />
</div>

@if (_basketCount > 0)
{
    <div class="quick-invoice-fab">
        <MudBadge Content="@_basketCount" Color="Color.Error" Overlap="true">
            <MudFab StartIcon="@Icons.Material.Filled.ShoppingCartCheckout"
                    Color="Color.Primary"
                    Size="Size.Large"
                    Class="d-md-none d-flex"
                    OnClick="FinalizeInvoiceAsync" />
            
            <MudButton EndIcon="@Icons.Material.Filled.ArrowBack"
                       Color="Color.Primary"
                       Variant="Variant.Filled"
                       Size="Size.Large"
                       Class="d-none d-md-flex"
                       OnClick="FinalizeInvoiceAsync">
                صدور فاکتور
            </MudButton>
        </MudBadge>
    </div>
}
