@using GoldEx.Shared.DTOs.PriceUnits
@inherits GoldExComponentBase

<MudCard Elevation="@Elevation" Class="pa-4">
    <MudGrid Class="mt-3" Justify="Justify.SpaceBetween">
        <MudItem xs="12" sm="6" md="4">
            @if (_isInitialLoading)
            {
                <MudSkeleton Class="rounded-5" SkeletonType="SkeletonType.Rectangle" Width="100%" Height="56px" Animation="Animation.Wave" />
            }
            else
            {
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="@_model.PriceUnit?.Title"
                                 For="() => _model.GramPrice"
                                 Format="#,##0.##"
                                 HideSpinButtons="true"
                                 Immediate="true"
                                 Margin="Margin.Dense"
                                 Label="@($"نرخ {_model.UnitType.GetDisplayName()}")"
                                 T="decimal"
                                 @bind-Value="@_model.GramPrice"
                                 Variant="Variant.Outlined"></MudNumericField>
            }
        </MudItem>
        <AuthorizeView>
            <Authorized>
                <MudItem xs="12" sm="6" md="4">
                    @if (_isInitialLoading)
                    {
                        <MudSkeleton Class="rounded-5" SkeletonType="SkeletonType.Rectangle" Width="100%" Height="56px" Animation="Animation.Wave" />
                    }
                    else
                    {
                        <MudSelect T="GetPriceUnitTitleResponse?"
                                   Value="_model.PriceUnit"
                                   ValueChanged="OnPriceUnitChanged"
                                   Label="@_model.GetDisplayName(() => _model.PriceUnit)"
                                   For="() => _model.PriceUnit"
                                   Margin="Margin.Dense"
                                   Variant="Variant.Outlined">
                            @foreach (var item in _priceUnits)
                            {
                                <MudSelectItem Value="item">
                                    <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                        </MudAvatar>
                                        <MudText Class="d-none d-md-inline">@item.Title</MudText>
                                    </MudStack>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    }
                </MudItem>
            </Authorized>
        </AuthorizeView>
    </MudGrid>

    <div class="d-flex flex-column flex-wrap align-center gap-3 mt-3">
        @if (_isInitialLoading)
        {
            <MudSkeleton Class="rounded-5 mb-2" SkeletonType="SkeletonType.Rectangle" Width="100%" Height="30px" Animation="Animation.Wave" />
        }
        else
        {
            <MudRadioGroup For="() => _model.ProductType"
                           T="ProductType"
                           Value="_model.ProductType"
                           ValueChanged="OnProductTypeChanged">
                <MudRadio Value="ProductType.Gold" Class="ml-8" Color="Color.Warning">طلا</MudRadio>
                <MudRadio Value="ProductType.Jewelry" Class="ml-8" Color="Color.Primary">جواهر</MudRadio>
                <MudRadio Value="ProductType.MoltenGold" Color="Color.Dark">طلای آب شده</MudRadio>
            </MudRadioGroup>
        }
    </div>

    <MudGrid Spacing="3">
        <MudItem xs="12" md="3">
            <MudPaper Outlined="true" Class="pa-4">
                <MudText Typo="Typo.h6" GutterBottom="true">فیلترها</MudText>

                <MudText Typo="Typo.subtitle2" Class="mt-2">محدوده قیمت</MudText>
                <MudNumericField T="decimal?"
                                 Label="@_model.GetDisplayName(() => _model.MinPrice)"
                                 For="() => _model.MinPrice"
                                 @bind-Value="_model.MinPrice"
                                 Immediate="true"
                                 Format="#,##0.##"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 HideSpinButtons="true"
                                 Adornment="Adornment.End"
                                 AdornmentText="@_model.PriceUnit?.Title" />

                <MudNumericField T="decimal?"
                                 Label="@_model.GetDisplayName(() => _model.MaxPrice)"
                                 For="() => _model.MaxPrice"
                                 @bind-Value="_model.MaxPrice"
                                 Variant="Variant.Outlined"
                                 Immediate="true"
                                 Format="#,##0.##"
                                 Margin="Margin.Dense"
                                 HideSpinButtons="true"
                                 Adornment="Adornment.End"
                                 AdornmentText="@_model.PriceUnit?.Title" />

                <MudDivider Class="my-4" />

                <MudText Typo="Typo.subtitle2">مشخصات فیزیکی</MudText>
                <MudNumericField T="decimal?"
                                 Label="@_model.GetDisplayName(() => _model.MinWeight)"
                                 For="() => _model.MinWeight"
                                 @bind-Value="_model.MinWeight"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 HideSpinButtons="true"
                                 Adornment="Adornment.End"
                                 AdornmentText="@_model.UnitType.GetDisplayName()" />
                <MudNumericField T="decimal?"
                                 Label="@_model.GetDisplayName(() => _model.MaxWeight)"
                                 For="() => _model.MaxWeight"
                                 @bind-Value="_model.MaxWeight"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 HideSpinButtons="true"
                                 Adornment="Adornment.End"
                                 AdornmentText="@_model.UnitType.GetDisplayName()" />
                <MudNumericField T="decimal?"
                                 Label="@_model.GetDisplayName(() => _model.Fineness)"
                                 For="() => _model.Fineness"
                                 @bind-Value="_model.Fineness"
                                 Variant="Variant.Outlined"
                                 Min="0"
                                 Max="1000"
                                 Margin="Margin.Dense"
                                 HideSpinButtons="true" />
                
                <MudDivider Class="my-4" />

                <MudText Typo="Typo.subtitle2">پارامترهای فروش</MudText>

                <MudNumericField T="decimal?"
                                 Label="@_model.GetDisplayName(() => _model.MaxWage)"
                                 For="() => _model.MaxWage"
                                 @bind-Value="_model.MaxWage"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 HideSpinButtons="true"
                                 Adornment="Adornment.End"
                                 Min="0"
                                 Max="100"
                                 AdornmentText="درصد" />
                
                <MudNumericField T="decimal"
                                 Label="@_model.GetDisplayName(() => _model.ProfitPercent)"
                                 For="() => _model.ProfitPercent"
                                 @bind-Value="_model.ProfitPercent"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 Format="G29"
                                 Min="0"
                                 Max="100"
                                 HideSpinButtons="true"
                                 Adornment="Adornment.End"
                                 AdornmentText="درصد" />
                <MudStack Row Class="mt-5" Justify="Justify.SpaceBetween">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnSearch" StartIcon="@Icons.Material.Filled.Search" Disabled="@_isSearching">جستجو</MudButton>
                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="ResetModel" StartIcon="@Icons.Material.Filled.Clear">پاک کردن</MudButton>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="9">
            <MudText Typo="Typo.h6" GutterBottom="true">نتایج جستجو</MudText>

            <MudTable Items="_results" Hover="true" Dense="true" Striped="true" Loading="@_isSearching">
                <HeaderContent>
                    <MudTh>نام محصول</MudTh>
                    <MudTh>وزن</MudTh>
                    <MudTh>عیار</MudTh>
                    <MudTh>اجرت</MudTh>
                    <MudTh>قیمت نهایی</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="نام محصول">@context.Product?.Name</MudTd>
                    <MudTd DataLabel="وزن">@context.Product?.Weight.ToWeightFormat(_model.UnitType)</MudTd>
                    <MudTd DataLabel="عیار">@context.Product?.Fineness.ToString("G29")</MudTd>
                    <MudTd DataLabel="اجرت">@context.Product?.Wage?.ToString("G29") درصد</MudTd>
                    <MudTd DataLabel="قیمت نهایی">
                        <strong>@CalculateFinalPrice(context.Product).ToCurrencyFormat(_model.PriceUnit?.Title)</strong>
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText>برای مشاهده نتایج، لطفاً فیلترها را تنظیم کرده و دکمه جستجو را بزنید.</MudText>
                </NoRecordsContent>
                <LoadingContent>
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                </LoadingContent>
            </MudTable>

        </MudItem>
    </MudGrid>
</MudCard>