@using GoldEx.Shared.DTOs.PriceUnits
@inherits GoldExComponentBase

<MudCard Elevation="@Elevation" Class="pa-4">
    <AuthorizeView>
        <Authorized>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="4">

                <MudItem xs="12" sm="6" md="3">
                    <div class="d-flex gap-2 align-start">
                        <MudAutocomplete T="string"
                                         Adornment="Adornment.End"
                                         AdornmentIcon="@Icons.Material.Filled.QrCode"
                                         Clearable="true"
                                         Label="بارکد جنس"
                                         dir="ltr"
                                         Margin="Margin.Dense"
                                         OnClearButtonClick="OnBarcodeCleared"
                                         Value="_barcode"
                                         ValueChanged="OnBarcodeChanged"
                                         SearchFunc="SearchBarcodes"
                                         Variant="Variant.Outlined"
                                         DebounceInterval="1"
                                         CoerceValue="true"
                                         ResetValueOnEmptyText="true"
                                         Class="flex-grow-1" />

                        <MudHidden Breakpoint="Breakpoint.MdAndUp">
                            <MudIconButton Icon="@Icons.Material.Filled.CameraAlt"
                                           OnClick="ToggleScanner"
                                           Variant="Variant.Outlined"
                                           Color="Color.Primary"
                                           Class="mt-2" />
                        </MudHidden>

                        @if (_searchedProduct is not null)
                        {
                            <MudTooltip Text="افزودن به فاکتور" Color="Color.Primary" Arrow="true">
                                <MudIconButton Icon="@Icons.Material.Filled.AddShoppingCart"
                                               OnClick="() => AddToInvoice(_searchedProduct)"
                                               Variant="Variant.Outlined"
                                               Color="Color.Primary"
                                               Class="mt-2" />
                            </MudTooltip>
                        }
                    </div>

                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                        @if (_searchedProduct is not null)
                        {
                            <div class="d-flex justify-center">
                                <MudText Typo="Typo.body1" Color="Color.Secondary" Class="mt-1 ml-1">
                                    @_searchedProduct.Name
                                </MudText>
                            </div>
                        }
                    </MudHidden>

                    <MudCollapse Expanded="_scannerOpen">
                        @if (_scannerOpen)
                        {
                            <BarcodeScanner OnResult="SetBarcodeFromScanner" OnClose="ToggleScanner" />
                        }
                    </MudCollapse>
                </MudItem>

                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudItem xs="12" md="6">
                        <div class="d-flex align-center justify-center h-100 w-100">
                            @if (_searchedProduct is not null)
                            {
                                <MudText Typo="Typo.h5" Color="Color.Primary">
                                    @_searchedProduct.Name
                                </MudText>
                            }
                        </div>
                    </MudItem>
                </MudHidden>

                <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="GetPriceUnitTitleResponse?"
                               Value="_model.PriceUnit"
                               ValueChanged="OnPriceUnitChanged"
                               Label="@_model.GetDisplayName(() => _model.PriceUnit)"
                               For="() => _model.PriceUnit"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined">
                        @foreach (var item in _priceUnits)
                        {
                            <MudSelectItem Value="item">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                    <MudAvatar Size="Size.Small">
                                        <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                    </MudAvatar>
                                    <MudText>@item.Title</MudText>
                                </MudStack>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </Authorized>
    </AuthorizeView>

    <MudForm Model="_model" @ref="@_form" Validation="@(_calculatorValidator.ValidateValue)" ValidationDelay="0">
        <div class="d-flex flex-column flex-wrap align-center gap-3 my-3">
            <MudChipSet T="ProductType"
                        SelectionMode="SelectionMode.SingleSelection"
                        Variant="Variant.Outlined"
                        Size="Size.Medium"
                        CheckMark="true"
                        SelectedValue="_model.ProductType"
                        SelectedValueChanged="OnProductTypeChanged">
                <MudChip Color="Color.Primary"
                         Value="ProductType.Gold"
                         Size="@(_model.ProductType == ProductType.Gold ? Size.Large : Size.Medium)"
                         Variant="@(_model.ProductType == ProductType.Gold ? Variant.Text : Variant.Outlined)">طلا</MudChip>
                <MudChip Color="Color.Error"
                         Value="ProductType.Jewelry"
                         Size="@(_model.ProductType == ProductType.Jewelry ? Size.Large : Size.Medium)"
                         Variant="@(_model.ProductType == ProductType.Jewelry ? Variant.Text : Variant.Outlined)">جواهر</MudChip>
                <MudChip Color="Color.Success"
                         Value="ProductType.MoltenGold"
                         Size="@(_model.ProductType == ProductType.MoltenGold ? Size.Large : Size.Medium)"
                         Variant="@(_model.ProductType == ProductType.MoltenGold ? Variant.Text : Variant.Outlined)">آبشده</MudChip>
                <MudChip Color="Color.Info"
                         Value="ProductType.UsedGold"
                         Size="@(_model.ProductType == ProductType.UsedGold ? Size.Large : Size.Medium)"
                         Variant="@(_model.ProductType == ProductType.UsedGold ? Variant.Text : Variant.Outlined)">کهنه</MudChip>
            </MudChipSet>
        </div>

        <MudGrid Spacing="4">
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="@_model.PriceUnit?.Title"
                                 For="() => _model.GramPrice"
                                 Format="#,##0.##"
                                 HideSpinButtons="true"
                                 Immediate="true"
                                 Margin="Margin.Dense"
                                 Label="@($"نرخ {_model.GoldUnitType.GetDisplayName()}")"
                                 dir="ltr"
                                 T="decimal"
                                 Value="@_model.GramPrice"
                                 ValueChanged="OnGramPriceChanged"
                                 Variant="Variant.Outlined"></MudNumericField>
            </MudItem>

            <MudItem xs="12" sm="6" md="4" lg="3">
                <div style="display: flex; gap: 8px; align-items: center;">
                    <MudNumericField Adornment="Adornment.End"
                                     AdornmentText="@_model.GoldUnitType.GetDisplayName()"
                                     For="() => _model.Weight"
                                     Format="G29"
                                     HideSpinButtons="true"
                                     Immediate="true"
                                     Margin="Margin.Dense"
                                     Label="@(_model.GetDisplayName(() => _model.Weight))"
                                     dir="ltr"
                                     T="decimal"
                                     Value="_model.Weight"
                                     ValueChanged="OnWeightChanged"
                                     Variant="Variant.Outlined"
                                     OnAdornmentClick="OnWeightAdornmentClicked"
                                     Class="flex-grow-1" />

                    <MudMenu @bind-Open="_weightFieldMenuOpen"
                             ActivationEvent="@MouseEvent.LeftClick">
                        <ActivatorContent>
                            <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" Variant="Variant.Outlined" Color="Color.Primary" />
                        </ActivatorContent>
                        <ChildContent>
                            @foreach (var item in Enum.GetValues<GoldUnitType>())
                            {
                                <MudMenuItem OnClick="() => SelectGoldUnitType(item)">
                                    <div style="display: flex; align-items: center; gap: 8px;">
                                        @item.GetDisplayName()
                                    </div>
                                </MudMenuItem>
                            }
                        </ChildContent>
                    </MudMenu>
                </div>
            </MudItem>

            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudNumericField For="() => _model.Fineness"
                                 Immediate="true"
                                 HideSpinButtons="true"
                                 Format="G29"
                                 Margin="Margin.Dense"
                                 Label="@(_model.GetDisplayName(() => _model.Fineness))"
                                 dir="ltr"
                                 T="decimal"
                                 Value="_model.Fineness"
                                 ValueChanged="OnFinenessChanged"
                                 Variant="Variant.Outlined"></MudNumericField>
            </MudItem>

            @if (_model.ProductType is ProductType.UsedGold)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField For="() => _model.UsedGoldFinenessDeductionRate"
                                     Immediate="true"
                                     HideSpinButtons="true"
                                     Format="G29"
                                     Margin="Margin.Dense"
                                     Label="@(_model.GetDisplayName(() => _model.UsedGoldFinenessDeductionRate))"
                                     dir="ltr"
                                     T="decimal"
                                     Value="_model.UsedGoldFinenessDeductionRate"
                                     ValueChanged="OnUsedGoldFinenessDeductionRateChanged"
                                     Variant="Variant.Outlined"></MudNumericField>
                </MudItem>
            }

            @if (_model.ProductType is ProductType.Jewelry or ProductType.Gold)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSelect For="() => _model.WageType"
                               Immediate="true"
                               Margin="Margin.Dense"
                               Label="@(_model.GetDisplayName(() => _model.WageType))"
                               T="WageType ?"
                               Value="_model.WageType"
                               ValueChanged="OnWageTypeChanged"
                               Variant="Variant.Outlined"
                               AdornmentIcon="@WageTypeAdornmentIcon">
                        <MudSelectItem Value="@((WageType?)null)">ندارد</MudSelectItem>
                        @foreach (WageType wageType in Enum.GetValues(typeof(WageType)))
                        {
                            <MudSelectItem Value="@((WageType?)wageType)">@wageType.GetDisplayName()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                @if (_model.WageType.HasValue)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <div style="display: flex; gap: 8px; align-items: center;">
                            <MudNumericField Adornment="Adornment.End"
                                             AdornmentText="@WageFieldAdornmentText"
                                             For="() => _model.Wage"
                                             Format="#,##0.##"
                                             Immediate="true"
                                             HideSpinButtons="true"
                                             Margin="Margin.Dense"
                                             Label="@(_model.GetDisplayName(() => _model.Wage))"
                                             dir="ltr"
                                             T="decimal?"
                                             Value="_model.Wage"
                                             ValueChanged="OnWageChanged"
                                             Variant="Variant.Outlined"
                                             Class="flex-grow-1" />

                            @if (_model.WageType is WageType.Fixed)
                            {
                                <AuthorizeView>
                                    <MudMenu @bind-Open="_wageFieldMenuOpen"
                                             ActivationEvent="@MouseEvent.LeftClick">
                                        <ActivatorContent>
                                            <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" Variant="Variant.Outlined" Color="Color.Primary" />
                                        </ActivatorContent>
                                        <ChildContent>
                                            @foreach (var item in _priceUnits)
                                            {
                                                <MudMenuItem OnClick="() => SelectWagePriceUnit(item)">
                                                    <div style="display: flex; align-items: center; gap: 8px;">
                                                        @if (item.HasIcon)
                                                        {
                                                            <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                                <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                            </MudAvatar>
                                                        }
                                                        @item.Title
                                                    </div>
                                                </MudMenuItem>
                                            }
                                        </ChildContent>
                                    </MudMenu>
                                </AuthorizeView>
                            }
                        </div>
                    </MudItem>
                }

                @if (_model.WageType is WageType.Fixed && _model.PriceUnit?.Title != _model.WagePriceUnit?.Title)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudNumericField For="() => _model.WageExchangeRate"
                                         Format="#,##0.########"
                                         HideSpinButtons="true"
                                         Immediate="true"
                                         Margin="Margin.Dense"
                                         Label="@WageExchangeRateLabel"
                                         dir="ltr"
                                         T="decimal?"
                                         Value="_model.WageExchangeRate"
                                         ValueChanged="OnWageExchangeRateChanged"
                                         Variant="Variant.Outlined"></MudNumericField>
                    </MudItem>
                }
            }

            @if (_model.ProductType != ProductType.UsedGold)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField Adornment="Adornment.End"
                                     AdornmentText="درصد"
                                     For="() => _model.ProfitPercent"
                                     Format="G29"
                                     HideSpinButtons="true"
                                     Immediate="true"
                                     Margin="Margin.Dense"
                                     Label="@(_model.GetDisplayName(() => _model.ProfitPercent))"
                                     dir="ltr"
                                     T="decimal"
                                     Value="_model.ProfitPercent"
                                     ValueChanged="OnProfitChanged"
                                     Variant="Variant.Outlined"></MudNumericField>
                </MudItem>
            }

            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="@_model.PriceUnit?.Title"
                                 For="() => _model.ExtraCosts"
                                 Format="#,##0.##"
                                 HideSpinButtons="true"
                                 Immediate="true"
                                 Margin="Margin.Dense"
                                 Label="@(_model.GetDisplayName(() => _model.ExtraCosts))"
                                 dir="ltr"
                                 T="decimal?"
                                 Value="_model.ExtraCosts"
                                 ValueChanged="OnExtraCostChanges"
                                 Variant="Variant.Outlined"></MudNumericField>
            </MudItem>
            @if (_model.ProductType is ProductType.Jewelry)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <div style="display: flex; gap: 8px; align-items: center;">
                        <MudNumericField Adornment="Adornment.End"
                                         AdornmentText="@StoneFieldAdornmentText"
                                         For="() => _model.StonePrice"
                                         Format="#,##0.##"
                                         HideSpinButtons="true"
                                         Immediate="true"
                                         Margin="Margin.Dense"
                                         Label="@(_model.GetDisplayName(() => _model.StonePrice))"
                                         dir="ltr"
                                         T="decimal?"
                                         Value="_model.StonePrice"
                                         ValueChanged="OnStonePriceChanged"
                                         Variant="Variant.Outlined"
                                         OnAdornmentClick="OnStoneAdornmentClicked"
                                         Class="flex-grow-1" />

                        <MudMenu @bind-Open="_stoneFieldMenuOpen"
                                 ActivationEvent="@MouseEvent.LeftClick">
                            <ActivatorContent>
                                <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" Variant="Variant.Outlined" Color="Color.Primary" />
                            </ActivatorContent>
                            <ChildContent>
                                @foreach (var item in _priceUnits)
                                {
                                    <MudMenuItem OnClick="() => SelectStonePriceUnit(item)">
                                        <div style="display: flex; align-items: center; gap: 8px;">
                                            @if (item.HasIcon)
                                            {
                                                <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                    <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                </MudAvatar>
                                            }
                                            @item.Title
                                        </div>
                                    </MudMenuItem>
                                }
                            </ChildContent>
                        </MudMenu>
                    </div>
                </MudItem>
                @if (_model.PriceUnit?.Title != _model.StonePriceUnit?.Title)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudNumericField For="() => _model.StoneExchangeRate"
                                         Format="#,##0.########"
                                         HideSpinButtons="true"
                                         Immediate="true"
                                         Margin="Margin.Dense"
                                         Label="@StoneExchangeRateLabel"
                                         dir="ltr"
                                         T="decimal?"
                                         Value="_model.StoneExchangeRate"
                                         ValueChanged="OnStoneExchangeRateChanged"
                                         Variant="Variant.Outlined"></MudNumericField>
                    </MudItem>
                }
            }
        </MudGrid>

        @if (_finalPrice.HasValue && _finalPrice.Value is not 0)
        {
            <MudPaper Elevation="4" Class="pa-3 mt-4 rounded-b-0">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <MudText Typo="Typo.h6">قیمت نهایی جنس:</MudText>
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="font-weight-bold">@_finalPrice?.ToCurrencyFormat(_model.PriceUnit?.Title)</MudText>
                </div>
            </MudPaper>

            <MudExpansionPanels Class="rounded-t-0" Elevation="4">
                <MudExpansionPanel Text="نمایش جزئیات محاسبه">
                    <div class="d-flex flex-column gap-4 mt-2">

                        @if (_model.Fineness != 750)
                        {
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <MudText>
                                    وزن معادل
                                    <span class="d-none d-md-inline"> (بر اساس عیار ۷۵۰)</span>:
                                </MudText>
                                <MudText Class="font-weight-bold">@_model.WeightAs750.ToString("F2") @_model.GoldUnitType.GetDisplayName()</MudText>
                            </div>
                        }

                        @if (_rawPrice.HasValue && _rawPrice.Value != 0)
                        {
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <MudText>
                                    قیمت طلا
                                    <span class="d-none d-md-inline">
                                        : وزن × نرخ روز طلا
                                        @if (_model.ProductType is ProductType.UsedGold)
                                        {
                                            var fineness = _model.Fineness;
                                            var deduction = _model.UsedGoldFinenessDeductionRate;
                                            var parts = new List<string>();
                                            if (fineness != 750) parts.Add($"(750 / {fineness:G29})");
                                            if (deduction > 0) parts.Add($"(750 / {750m - deduction:G29})");
                                            if (parts.Any())
                                            {
                                                <text> × @string.Join(" × ", parts)</text>
                                                ;
                                            }
                                        }
                                    </span>
                                </MudText>

                                <MudText Class="font-weight-bold">
                                    @_rawPrice.Value.ToCurrencyFormat() @_model.PriceUnit?.Title
                                </MudText>
                            </div>
                        }

                        @if (_stoneCost.HasValue && _stoneCost.Value is not 0)
                        {
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <MudText>
                                    قیمت سنگ
                                    <span class="d-none d-md-inline">: مبلغ ثابت (@($"{_model.StonePrice?.ToCurrencyFormat(_model.StonePriceUnit?.Title)}"))</span>
                                </MudText>
                                <MudText Class="font-weight-bold">@_stoneCost.Value.ToCurrencyFormat() @_model.PriceUnit?.Title</MudText>
                            </div>
                        }

                        @if (_wage.HasValue && _wage.Value is not 0)
                        {
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <MudText>
                                    اجرت ساخت
                                    <span class="d-none d-md-inline">: @(_model.WageType is WageType.Fixed ? "مبلغ ثابت" : $"{_model.Wage?.ToCurrencyFormat()}% قیمت طلا")</span>
                                </MudText>
                                <MudText Class="font-weight-bold">@_wage.Value.ToCurrencyFormat() @_model.PriceUnit?.Title</MudText>
                            </div>
                        }

                        @if (_profit.HasValue && _profit.Value is not 0)
                        {
                            if (_model.ProductType is ProductType.MoltenGold)
                            {
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <MudText>
                                        کارمزد فروش
                                        <span class="d-none d-md-inline">: @_model.ProfitPercent.ToCurrencyFormat()% (قیمت طلا)</span>
                                    </MudText>
                                    <MudText Class="font-weight-bold">@_profit.Value.ToCurrencyFormat(_model.PriceUnit?.Title)</MudText>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <MudText>
                                        سود فروش طلا
                                        <span class="d-none d-md-inline">: @_model.ProfitPercent.ToCurrencyFormat()% (قیمت طلا + اجرت ساخت)</span>
                                    </MudText>
                                    <MudText Class="font-weight-bold">@_profit.Value.ToCurrencyFormat(_model.PriceUnit?.Title)</MudText>
                                </div>
                            }
                        }

                        @if (_tax.HasValue && _tax.Value is not 0)
                        {
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <MudText>
                                    مالیات
                                    <span class="d-none d-md-inline">: @_model.TaxPercent.ToCurrencyFormat()% (سود فروش طلا + اجرت ساخت@(_model.StonePrice.HasValue && _model.StonePrice != 0 ? " + قیمت سنگ" : string.Empty))</span>
                                </MudText>
                                <MudText Class="font-weight-bold">@_tax.Value.ToCurrencyFormat(_model.PriceUnit?.Title)</MudText>
                            </div>
                        }

                        @if (_model.ExtraCosts.HasValue && _model.ExtraCosts.Value is not 0)
                        {
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <MudText>هزینه های جانبی</MudText>
                                <MudText Class="font-weight-bold">@_model.ExtraCosts?.ToCurrencyFormat(_model.PriceUnit?.Title)</MudText>
                            </div>
                        }

                    </div>
                </MudExpansionPanel>
            </MudExpansionPanels>
        }
    </MudForm>
</MudCard>