@using GoldEx.Client.Components.Extensions
@using GoldEx.Sdk.Common.Extensions
@using GoldEx.Shared.Routings
@inherits GoldEx.Client.Components.Components.GoldExComponentBase

<AuthorizeView>
    <Authorized>
        <MudIconButton Color="Color.Inherit" Edge="Edge.End" OnClick="ToggleProfile" Icon="@Icons.Material.Filled.Person">
        </MudIconButton>

        <MudPopover Open="@_isProfileOpen" Fixed="false" TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomLeft" Class="px-4 pt-4">
            <MudIconButton OnClick="@ToggleProfile" Class="p-0 m-0" Color="Color.Error" Icon="@Icons.Material.Filled.Close"></MudIconButton>

            <div class="d-flex flex-column align-center">
                <MudTooltip Text="@_status" Placement="Placement.Right" Arrow="true">
                    <MudBadge Color="@_color" Overlap="true" Bordered="true">
                        <MudAvatar Size="Size.Large" Color="Color.Secondary">@context.User.GetDisplayName().GetInitialsWithPeriods()</MudAvatar>
                    </MudBadge>
                </MudTooltip>

                <MudText Typo="Typo.h6" Class="mt-2">@_username</MudText>
                <MudText Typo="Typo.body2">
                    @context.User.Identity?.Name
                </MudText>
            </div>

            <MudDivider Class="my-4" />

            <div class="d-flex flex-column align-center">
                <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Class="mb-4">
                    <MudTooltip Text="مدیریت حساب" Placement="Placement.Right" Arrow="true">
                        <MudIconButton Icon="@Icons.Material.Filled.ManageAccounts" OnClick="@NavigateToAccountManagement"></MudIconButton>
                    </MudTooltip>
                    
                    <MudTooltip Text="تنظیمات" Placement="Placement.Bottom" Arrow="true">
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Href="@ClientRoutes.Settings.Index"></MudIconButton>
                    </MudTooltip>

                    <MudTooltip Text="عملکرد برنامه" Placement="Placement.Bottom" Arrow="true">
                        <MudIconButton Icon="@Icons.Material.Filled.MonitorHeart" Href="@ClientRoutes.Health.Base"></MudIconButton>
                    </MudTooltip>
                    
                    <MudTooltip Text="گزارش خطاهای برنامه" Placement="Placement.Bottom" Arrow="true">
                        <MudIconButton Icon="@Icons.Material.Filled.ErrorOutline" Href="@ClientRoutes.Logs.Base"></MudIconButton>
                    </MudTooltip>

                    <MudTooltip Text="خروج" Placement="Placement.Right" Arrow="true">
                        <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" Href="@ApiUrls.Account.Logout(_currentUrl)"></MudIconButton>
                    </MudTooltip>
                </MudButtonGroup>
            </div>

        </MudPopover>
    </Authorized>
    <NotAuthorized>
        <MudIconButton Color="Color.Inherit" Edge="Edge.End" Icon="@Icons.Material.Filled.Key" Href="@ClientRoutes.Accounts.Login"></MudIconButton>
    </NotAuthorized>
</AuthorizeView>