@namespace GoldEx.Client.Components.Calculator.Components
@inherits GoldExComponentBase

<MudCard Class="@($"pa-4 {Class}")" Elevation="@Elevation">
    <MudForm Model="_model" ValidationDelay="0">
        <MudStack Spacing="3">
            <MudGrid Justify="Justify.SpaceBetween" Spacing="4">
                <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="GetPriceUnitTitleResponse?"
                               Value="_model.SourcePriceUnit"
                               ValueChanged="OnSourcePriceUnitChanged"
                               Label="@_model.GetDisplayName(() => _model.SourcePriceUnit)"
                               For="() => _model.SourcePriceUnit"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined">
                        @foreach (var item in _priceUnits)
                        {
                            <MudSelectItem Value="item">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                    @if (item.HasIcon)
                                    {
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                        </MudAvatar>
                                    }
                                    <MudText>@item.Title</MudText>
                                </MudStack>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudItem xs="12" md="6">
                        <div class="d-flex align-center justify-center h-100 w-100">
                            <MudText Typo="Typo.h5" Color="Color.Primary" Class="fs-3">تبدیل ارز</MudText>
                        </div>
                    </MudItem>
                </MudHidden>

                <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="GetPriceUnitTitleResponse?"
                               Value="_model.DestinationPriceUnit"
                               ValueChanged="OnDestinationPriceUnitChanged"
                               Label="@_model.GetDisplayName(() => _model.DestinationPriceUnit)"
                               For="() => _model.DestinationPriceUnit"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined">
                        @foreach (var item in _priceUnits)
                        {
                            <MudSelectItem Value="item">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                    @if (item.HasIcon)
                                    {
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                        </MudAvatar>
                                    }
                                    <MudText>@item.Title</MudText>
                                </MudStack>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid Spacing="3">
                @if (_model.SourcePriceUnit is not null && _model.DestinationPriceUnit is not null && _model.SourcePriceUnit.Id != _model.DestinationPriceUnit.Id)
                {
                    <MudItem xs="12" md="3">
                        <MudNumericField T="decimal?"
                                         Value="_model.ExchangeRate"
                                         ValueChanged="OnExchangeRateChanged"
                                         DebounceInterval="1"
                                         dir="ltr"
                                         Label="@(_model.IsExchangeRateInverted ? $"نرخ تبدیل هر  {_model.DestinationPriceUnit?.Title} به {_model.SourcePriceUnit?.Title}" : $"نرخ تبدیل هر  {_model.SourcePriceUnit?.Title} به {_model.DestinationPriceUnit?.Title}")"
                                         Margin="Margin.Dense"
                                         HideSpinButtons="true"
                                         Variant="Variant.Outlined"
                                         Format="#,##0.##"
                                         Adornment="Adornment.End"
                                         AdornmentText="@(_model.IsExchangeRateInverted ? _model.SourcePriceUnit?.Title : _model.DestinationPriceUnit?.Title)" />
                    </MudItem>
                }

                <MudItem xs="12" md="3">
                    <MudNumericField T="decimal?"
                                     Value="_model.SourceAmount"
                                     ValueChanged="OnSourceAmountChanged"
                                     Label="@_model.GetDisplayName(() => _model.SourceAmount)"
                                     For="() => _model.SourceAmount"
                                     dir="ltr"
                                     DebounceInterval="1"
                                     Format="#,##0.##"
                                     HideSpinButtons="true"
                                     Margin="Margin.Dense"
                                     Variant="Variant.Outlined"
                                     Adornment="Adornment.End"
                                     AdornmentText="@_model.SourcePriceUnit?.Title" />
                </MudItem>

                <MudItem xs="12" md="3">
                    <MudSelect For="() => _model.FeeType"
                               Immediate="true"
                               Margin="Margin.Dense"
                               Label="@(_model.GetDisplayName(() => _model.FeeType))"
                               T="WageType?"
                               Value="_model.FeeType"
                               ValueChanged="OnFeeTypeChanged"
                               Variant="Variant.Outlined"
                               AdornmentIcon="@FeeTypeAdornmentIcon">
                        <MudSelectItem Value="@((WageType?)null)">ندارد</MudSelectItem>
                        @foreach (WageType feeType in Enum.GetValues(typeof(WageType)))
                        {
                            <MudSelectItem Value="@((WageType?)feeType)">@feeType.GetDisplayName()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                @if (_model.FeeType.HasValue)
                {
                    <MudItem xs="12" md="3">
                        <div class="d-flex align-items-center gap-2">
                            <MudNumericField Adornment="Adornment.End"
                                             AdornmentText="@FeeFieldAdornmentText"
                                             For="() => _model.Fee"
                                             Format="#,##0.##"
                                             DebounceInterval="1"
                                             HideSpinButtons="true"
                                             Margin="Margin.Dense"
                                             Label="@(_model.GetDisplayName(() => _model.Fee))"
                                             dir="ltr"
                                             T="decimal?"
                                             Value="_model.Fee"
                                             ValueChanged="OnFeeChanged"
                                             Variant="Variant.Outlined"
                                             Class="flex-grow-1" />

                            @if (_model.FeeType is WageType.Fixed)
                            {
                                <MudTooltip Arrow="true" Text="تغییر واحد" Color="Color.Primary" Placement="Placement.Top">
                                    <MudMenu MaxHeight="200">
                                        <ActivatorContent>
                                            <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" Variant="Variant.Outlined" Color="Color.Primary" OnClick="context.ToggleAsync" />
                                        </ActivatorContent>
                                        <ChildContent>
                                            @foreach (var item in _priceUnits)
                                            {
                                                <MudMenuItem OnClick="() => SelectFeePriceUnit(item)">
                                                    <div class="d-flex align-items-center gap-2">
                                                        @if (item.HasIcon)
                                                        {
                                                            <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                                <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                            </MudAvatar>
                                                        }
                                                        @item.Title
                                                    </div>
                                                </MudMenuItem>
                                            }
                                        </ChildContent>
                                    </MudMenu>
                                </MudTooltip>
                            }
                        </div>
                    </MudItem>
                }

                @if (_model is { FeeType: WageType.Fixed, DestinationPriceUnit: not null, FeePriceUnit: not null } && _model.FeePriceUnit.Id != _model.DestinationPriceUnit.Id)
                {
                    <MudItem xs="12" md="3">
                        <MudNumericField For="() => _model.FeeExchangeRate"
                                         Format="#,##0.##"
                                         HideSpinButtons="true"
                                         DebounceInterval="1"
                                         Margin="Margin.Dense"
                                         Label="@FeeExchangeRateLabel"
                                         dir="ltr"
                                         T="decimal?"
                                         Value="_model.FeeExchangeRate"
                                         ValueChanged="OnFeeExchangeRateChanged"
                                         Variant="Variant.Outlined" />
                    </MudItem>
                }
            </MudGrid>
        </MudStack>
    </MudForm>
</MudCard>

@if (_model is { SourcePriceUnit: not null, DestinationPriceUnit: not null, SourceAmount: > 0, FinalDestinationAmount: not null })
{
    <MudExpansionPanels Elevation="24" Class="mt-4">
        <MudExpansionPanel Expanded="false" Icon="@Icons.Material.Filled.ExpandMore">
            <TitleContent>
                <div class="d-flex justify-content-between align-items-center flex-wrap ml-0 ml-md-3">
                    <MudText Typo="Typo.h6" Class="d-none d-md-block">نرخ نهایی:</MudText>
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="font-weight-bold">
                        @_model.FinalDestinationAmount.Value.ToCurrencyFormat(_model.DestinationPriceUnit?.Title)
                    </MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <div class="d-flex flex-column gap-4 mt-2">
                    @if (_model.ExchangeRate.HasValue && _model.SourcePriceUnit?.Id != _model.DestinationPriceUnit?.Id)
                    {
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <MudText>
                                نرخ تبدیل
                                <span class="d-none d-md-inline">
                                    : هر 1 @(_model.IsExchangeRateInverted? _model.DestinationPriceUnit?.Title : _model.SourcePriceUnit?.Title)
                                    به @(_model.IsExchangeRateInverted? _model.SourcePriceUnit?.Title : _model.DestinationPriceUnit?.Title)
                                </span>
                            </MudText>
                            <MudText Class="font-weight-bold">
                                @_model.ExchangeRate.Value.ToCurrencyFormat(_model.IsExchangeRateInverted ? _model.SourcePriceUnit?.Title : _model.DestinationPriceUnit?.Title)
                            </MudText>
                        </div>
                    }

                    @if (_model.DestinationAmount.HasValue)
                    {
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <MudText>قیمت خام</MudText>
                            <MudText Class="font-weight-bold">
                                @_model.DestinationAmount.Value.ToCurrencyFormat(_model.DestinationPriceUnit?.Title)
                            </MudText>
                        </div>
                    }

                    @if (_model is { FeeType: not null, FeeInDestination: not null } && _model.FeeInDestination.Value != 0)
                    {
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <MudText>
                                کارمزد
                                <span class="d-none d-md-inline">
                                    : @(_model.FeeType is WageType.Fixed
                                                                ? $"مبلغ ثابت ({_model.Fee?.ToCurrencyFormat(_model.FeePriceUnit?.Title)})"
                                                                : $"{_model.Fee?.ToCurrencyFormat()}%")
                                </span>
                            </MudText>
                            <MudText Class="font-weight-bold">
                                @_model.FeeInDestination.Value.ToCurrencyFormat(_model.DestinationPriceUnit?.Title)
                            </MudText>
                        </div>
                    }
                </div>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
}
