@using GoldEx.Shared.DTOs.InventoryStocks
@inherits GoldExComponentBase

<MudTable T="GetInventoryStockTraceResponse" RowsPerPage="14" Hover="true" @ref="_table" FixedHeader="true"
          Dense="true" ServerData="LoadItemsAsync" SelectOnRowClick="false" Breakpoint="Breakpoint.Sm" Elevation="0">
    <ToolBarContent>
        <MudText Typo="Typo.body1">تاریخچه ورود و خروج</MudText>
    </ToolBarContent>
    <ColGroup>
        <col />
        <col />
        <col />
        <col />
        <col />
    </ColGroup>
    <HeaderContent>
        <MudTh>تاریخ</MudTh>
        <MudTh>نوع عملیات</MudTh>
        <MudTh>حجم</MudTh>
        <MudTh>شرح</MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <GroupHeaderTemplate>
        <MudTh colspan="5" Style="background-color: var(--mud-palette-table-striped);"></MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="تاریخ">
            <MudTooltip Text="@context.DateTime.ToString("yyyy/MM/dd HH:mm:ss")" Arrow="true" Placement="Placement.Top">
                @context.DateTime.ToString("yyyy/MM/dd")
            </MudTooltip>
        </MudTd>
        <MudTd DataLabel="نوع عملیات انبار">
            @if (context.ActionType == WarehouseActionType.In)
            {
                <MudChip T="string" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.KeyboardArrowDown">
                    @context.ActionType.GetDisplayName()
                </MudChip>
            }
            else
            {
                <MudChip T="string" Color="Color.Error" Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.KeyboardArrowUp">
                    @context.ActionType.GetDisplayName()
                </MudChip>
            }
        </MudTd>
        <MudTd DataLabel="حجم">@(context.GoldUnitType.HasValue ? $"{context.Amount.ToWeightFormat(context.GoldUnitType.Value)}" : context.Amount.ToCurrencyFormat(context.PriceUnit))</MudTd>
        <MudTd DataLabel="شرح">@context.Description</MudTd>
        <MudTd DataLabel="عملیات">
            @if (!string.IsNullOrEmpty(context.SourceUrl))
            {
                <div class="d-flex gap-2">
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" EndIcon="@Icons.Material.Filled.ArrowBack"
                               OnClick="_ => OnViewSource(context.SourceUrl)"
                               Color="@Color.Info">
                        مشاهده فاکتور
                    </MudButton>
                </div>
            }
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ تاریخچه ای یافت نشد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگیری</MudText>
    </LoadingContent>
    <PagerContent>
        @{
            var totalItems = _table.GetFilteredItemsCount();
            var startItem = totalItems == 0 ? 0 : _table.CurrentPage * _table.RowsPerPage + 1;
            var endItem = Math.Min((_table.CurrentPage + 1) * _table.RowsPerPage, totalItems);
            var pageCount = (totalItems + _table.RowsPerPage - 1) / _table.RowsPerPage;
            var infoText = $"نمایش {startItem} تا {endItem} از {totalItems} ردیف";
        }

        <div class="d-flex flex-column flex-sm-row align-center justify-sm-space-between w-100 pa-4" style="gap: 1rem;">
            <div class="mud-table-pagination-caption">
                @infoText
            </div>
            <MudPagination SelectedChanged="PageChanged"
                           Color="Color.Primary"
                           Count="@pageCount"
                           Class="justify-center"
                           BoundaryCount="1"
                           MiddleCount="3" />

            <div class="d-none d-sm-block mud-table-pagination-caption" style="visibility: hidden; pointer-events: none;">
                @infoText
            </div>
        </div>
    </PagerContent>
</MudTable>