@inherits GoldExComponentBase

@if (ShowTitle)
{
    <div class="d-flex justify-content-center">
        <MudText Typo="Typo.h5" GutterBottom="true" Class="mt-6">مدیریت انبار</MudText>
    </div>
    <MudDivider />
}

<MudTable T="InventoryStockVm" Class="@Class" RowsPerPage="14" Hover="true" @ref="_table" FixedHeader="true"
          OnRowClick="(arg) => ShowDetails(arg)" RowClass="cursor-pointer"
          MultiSelection="@Selectable" SelectedItemsChanged="(arg) => SelectedItemsChanged.InvokeAsync(arg)" ContainerClass="@ContainerClass"
          Dense="true" ServerData="LoadInventoryAsync" SelectOnRowClick="false" Breakpoint="Breakpoint.Sm" Elevation="@Elevation">
    <ToolBarContent>
        <MudTextField T="string" Clearable="true" Immediate="true" ValueChanged="@(s => OnSearch(s))"
                      Placeholder="جستجو ..." Adornment="Adornment.Start" Variant="Variant.Outlined" Margin="Margin.Dense"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
        <MudSpacer />
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Icon="@Icons.Material.Filled.Tune"
                           Color="Color.Primary"
                           Variant="Variant.Filled"
                           Class="mr-3"
                           Size="Size.Small"
                           OnClick="OpenMobileFilters" />
            <InventoryFiltersPopover Open="@_mobileFiltersOpen"
                                     OnClose="CloseMobileFilters"
                                     ItemType="ItemType"
                                     ItemStatus="ItemStatus"
                                     CategoryFilter="_categoryFilter"
                                     Categories="_categories"
                                     DateRange="_filterDateRange"
                                     Selectable="Selectable"
                                     OnApply="ApplyMobileFilters" />
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            @if (!Selectable)
            {
                <MudDateRangePicker DateRange="@_filterDateRange"
                                    DateRangeChanged="OnDateRangeChanged"
                                    Margin="Margin.Dense"
                                    Variant="Variant.Outlined"
                                    Class="ml-3"
                                    MaxMonthColumns="1"
                                    DisplayMonths="1"
                                    Rounded="true"
                                    ShowToolbar="false"
                                    Style="max-width: 320px;"
                                    PlaceholderStart="از"
                                    PlaceholderEnd="تا"
                                    Label="@DateRangeFilterLabel"
                                    Clearable="true" />

                @if (ItemType is ItemType.Product)
                {
                    <MudButtonGroup Size="Size.Small" Color="@(_categoryFilter is null ? Color.Info : Color.Success)" Variant="Variant.Filled" Class="ml-3">
                        <MudButton Size="Size.Small">
                            @(_categoryFilter?.Title ?? "دسته بندی")
                        </MudButton>
                        <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                            <MudMenuItem Icon="@Icons.Material.Filled.List" IconColor="Color.Info"
                                         OnClick="() => SetCategoryFilterText(null)">همه دسته بندی ها</MudMenuItem>
                            @foreach (var category in _categories)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.ArrowBackIos" IconColor="Color.Primary"
                                             OnClick="() => SetCategoryFilterText(category)">
                                    @category.Title
                                </MudMenuItem>
                            }
                        </MudMenu>
                    </MudButtonGroup>
                }
            }
            <MudButtonGroup Size="Size.Small" Color="@ItemTypeColor" Variant="Variant.Filled" Class="ml-3">
                <MudButton Size="Size.Small" StartIcon="@ItemTypeIcon"
                           Class="@(ItemType == ItemType.MoltenGold ? "black-text" : "")">
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <div class="@(ItemType == ItemType.MoltenGold ? "black-text" : "")">
                            @ItemType.GetDisplayName()
                        </div>
                    </MudHidden>
                </MudButton>

                <MudMenu Size="Size.Small"
                         Icon="@Icons.Material.Filled.ArrowDropDown"
                         Color="@(ItemType == ItemType.MoltenGold ? Color.Dark : Color.Default)"
                         Style="align-self: auto;">

                    @foreach (var type in SelectableTypes)
                    {
                        <MudMenuItem OnClick="() => SetItemTypeFilterText(type)">
                            <MudIcon Icon="@GetItemTypeIcon(type)" Color="@GetItemTypeIconColor(type)" Class="mr-2" />
                            @type.GetDisplayName()
                        </MudMenuItem>
                    }

                </MudMenu>
            </MudButtonGroup>

            @if (!Selectable)
            {
                <MudButtonGroup Size="Size.Small" Color="@ItemStatusColor" Variant="Variant.Filled" Class="ml-3">
                    <MudButton Size="Size.Small" StartIcon="@ItemStatusIcon" Class="@(ItemStatus == ItemStatus.Melted ? "black-text" : "")">
                        <MudHidden Breakpoint="Breakpoint.SmAndDown">
                            @ItemStatus.GetDisplayName()
                        </MudHidden>
                    </MudButton>
                    <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.ArrowDropDown" Color="@(ItemStatus == ItemStatus.Melted ? Color.Dark : Color.Default)" Style="align-self: auto;">
                        <MudMenuItem Icon="@Icons.Material.Filled.Warehouse" IconColor="Color.Success"
                                     OnClick="() => SetStatusFilterText(ItemStatus.Available)">
                            @ItemStatus.Available.GetDisplayName()
                        </MudMenuItem>
                        @if (ItemType is not ItemType.UsedProduct)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.ShoppingBasket" IconColor="Color.Error"
                                         OnClick="() => SetStatusFilterText(ItemStatus.Sold)">
                                @ItemStatus.Sold.GetDisplayName()
                            </MudMenuItem>
                        }
                        @if (ItemType is ItemType.UsedProduct)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.Whatshot" IconColor="Color.Warning"
                                         OnClick="() => SetStatusFilterText(ItemStatus.Melted)">
                                <div class="@(ItemStatus == ItemStatus.Melted ? "black-text" : "")">@ItemStatus.Melted.GetDisplayName()</div>
                            </MudMenuItem>
                        }
                    </MudMenu>
                </MudButtonGroup>
            }
        </MudHidden>
    </ToolBarContent>
    <HeaderContent>
        @switch (ItemType)
        {
            case ItemType.UsedProduct:
            case ItemType.Product:
                <MudTh><MudTableSortLabel SortLabel="Product.Barcode" T="InventoryStockVm">بارکد</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Product.ProductType" T="InventoryStockVm">نوع جنس</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Product.ProductCategory.Title" T="InventoryStockVm">دسته</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Product.Name" T="InventoryStockVm">عنوان</MudTableSortLabel></MudTh>
                @* <MudTh><MudTableSortLabel SortLabel="Product.Weight" T="InventoryStockVm">وزن</MudTableSortLabel></MudTh> *@
                @if (ItemStatus is ItemStatus.Sold)
                {
                    <MudTh>اجرت ساخت</MudTh>
                }
                else
                {
                    <MudTh><MudTableSortLabel SortLabel="Product.Wage" T="InventoryStockVm">اجرت ساخت</MudTableSortLabel></MudTh>
                }
                <MudTh><MudTableSortLabel SortLabel="Product.Fineness" T="InventoryStockVm">عیار</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="CurrentQuantity" T="InventoryStockVm">وزن موجود</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="SoldQuantity" T="InventoryStockVm">وزن فروخته شده</MudTableSortLabel></MudTh>
                break;
            case ItemType.MoltenGold:
                <MudTh><MudTableSortLabel SortLabel="Product.Barcode" T="InventoryStockVm">بارکد</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Product.Name" T="InventoryStockVm">عنوان</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Product.Fineness" T="InventoryStockVm">عیار</MudTableSortLabel></MudTh>
                <MudTh>شماره انگ</MudTh>
                <MudTh>آزمایشگاه</MudTh>
                <MudTh>تاریخ ری گیری</MudTh>
                <MudTh><MudTableSortLabel SortLabel="CurrentQuantity" T="InventoryStockVm">وزن موجود</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="SoldQuantity" T="InventoryStockVm">وزن فروخته شده</MudTableSortLabel></MudTh>
                break;

            case ItemType.Coin:
                <MudTh><MudTableSortLabel SortLabel="Coin.Title" T="InventoryStockVm">عنوان</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="CurrentAmount" T="InventoryStockVm">تعداد موجود</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="SoldAmount" T="InventoryStockVm">تعداد فروخته شده</MudTableSortLabel></MudTh>
                break;
            case ItemType.Currency:
                <MudTh><MudTableSortLabel SortLabel="Currency.Title" T="InventoryStockVm">عنوان</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="CurrentAmount" T="InventoryStockVm">تعداد موجود</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="SoldAmount" T="InventoryStockVm">تعداد فروخته شده</MudTableSortLabel></MudTh>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
        @switch (ItemType)
        {
            case ItemType.MoltenGold:
            case ItemType.Product:
                <MudTh>عملیات</MudTh>
                break;
        }
    </HeaderContent>
    <RowTemplate>
        @switch (ItemType)
        {
            case ItemType.UsedProduct when context.Product is not null:
            case ItemType.Product when context.Product is not null:
                <MudTd DataLabel="بارکد">
                    <MudTooltip Text="@GetBarcodeTooltipText(context)" Arrow="true" Placement="Placement.Top">
                        @context.Product.Barcode
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="نوع جنس">@context.Product.ProductType.GetDisplayName()</MudTd>
                <MudTd DataLabel="دسته">@(context.Product.ProductCategoryTitle ?? "-")</MudTd>
                <MudTd DataLabel="عنوان">@context.Product.Name</MudTd>
                @* <MudTd DataLabel="وزن">@(context.CurrentAmount.ToWeightFormat(context.Product.GoldUnitType))</MudTd> *@
                <MudTd DataLabel="اجرت">
                    <MudTooltip Text="@GetWageTooltipText(context)" Arrow="true" Placement="Placement.Top">
                        @{
                            if (ItemStatus is ItemStatus.Sold)
                            {
                                @(context.SaleWageType switch
                                {
                                    WageType.Fixed => $"{context.SaleWage?.ToCurrencyFormat(context.SaleWagePriceUnitTitle)}",
                                    WageType.Percent => context.SaleWage?.ToString("G29") + " درصد",
                                    _ => "ندارد"
                                })
                                }
                            else
                            {
                                @(context.Product.WageType switch
                                {
                                    WageType.Fixed => $"{context.Product.Wage?.ToCurrencyFormat(context.Product.WagePriceUnitTitle)}",
                                    WageType.Percent => context.Product.Wage?.ToString("G29") + " درصد",
                                    _ => "ندارد"
                                })
                                }
                        }

                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="عیار">@context.Product.Fineness.ToString("G29")</MudTd>
                <MudTd DataLabel="وزن موجود">@context.CurrentAmount.ToWeightFormat(context.Product.GoldUnitType)</MudTd>
                <MudTd DataLabel="وزن فروخته شده">@context.SoldAmount.ToWeightFormat(context.Product.GoldUnitType)</MudTd>
                break;
            case ItemType.MoltenGold when context.Product is not null:
                <MudTd DataLabel="بارکد">
                    <MudTooltip Text="@GetBarcodeTooltipText(context)" Arrow="true" Placement="Placement.Top">
                        @context.Product.Barcode
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="عنوان">@context.Product.Name</MudTd>
                <MudTd DataLabel="عیار">@context.Product.Fineness.ToString("G29")</MudTd>
                <MudTd DataLabel="شماره انگ">@context.Product.MoltenGold?.AssayNumber</MudTd>
                <MudTd DataLabel="آزمایشگاه">@context.Product.MoltenGold?.Assayer?.FullName</MudTd>
                <MudTd DataLabel="تاریخ ری گیری">@context.Product.MoltenGold?.AssayDate?.ToString("yyyy-MM-dd")</MudTd>
                <MudTd DataLabel="وزن موجود">@context.CurrentAmount.ToWeightFormat(context.Product.GoldUnitType)</MudTd>
                <MudTd DataLabel="وزن فروخته شده">@context.SoldAmount.ToWeightFormat(context.Product.GoldUnitType)</MudTd>
                break;
            case ItemType.Coin when context.Coin is not null:
                <MudTd DataLabel="عنوان">@(context.Coin.Title)</MudTd>
                <MudTd DataLabel="تعداد موجود">@context.CurrentAmount.ToString("G29")</MudTd>
                <MudTd DataLabel="تعداد فروخته شده">@context.SoldAmount.ToString("G29")</MudTd>
                break;
            case ItemType.Currency when context.Currency is not null:
                <MudTd DataLabel="عنوان">@(context.Currency.Title)</MudTd>
                <MudTd DataLabel="حجم موجود">@context.CurrentAmount.ToCurrencyFormat()</MudTd>
                <MudTd DataLabel="حجم فروخته شده">@context.SoldAmount.ToCurrencyFormat()</MudTd>
                break;
        }
        @switch (ItemType)
        {
            case ItemType.MoltenGold when context.Product is not null:
            case ItemType.Product when context.Product is not null:
                <MudTd DataLabel="عملیات">
                    <div class="d-flex gap-2">
                        <MudTooltip Text="ویرایش محصول">
                            <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Edit"
                                           OnClick="_ => OnEditProduct(context)"
                                           Color="@Color.Primary"></MudIconButton>
                        </MudTooltip>
                        <MudTooltip Text="چاپ بارکد">
                            <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Print"
                                           OnClick="_ => OnPrintBarcode(context)"
                                           Color="@Color.Success"></MudIconButton>
                        </MudTooltip>
                    </div>
                </MudTd>
                break;
            case ItemType.Coin:
                break;
            case ItemType.Currency:
                break;
        }
    </RowTemplate>
    <ChildRowContent>
        <MudTr Class="mud-table-row-child">
            <td colspan="10">
                <MudCollapse Expanded="@context.ShowDetails">
                    @if (context.ShowDetails)
                    {
                        <MudCard Elevation="2" Class="m-2">
                            <MudCardContent>
                                <InventoryStockTraceList ItemId="@GetItemId(context)" ItemType="@GetItemType(context)" />
                            </MudCardContent>
                        </MudCard>
                    }
                </MudCollapse>
            </td>
        </MudTr>
    </ChildRowContent>
    <NoRecordsContent>
        <MudText>هیچ جنسی در انبار یافت نشد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگیری</MudText>
    </LoadingContent>
    <PagerContent>
        @{
            var totalItems = _table.GetFilteredItemsCount();
            var startItem = totalItems == 0 ? 0 : _table.CurrentPage * _table.RowsPerPage + 1;
            var endItem = Math.Min((_table.CurrentPage + 1) * _table.RowsPerPage, totalItems);
            var pageCount = (totalItems + _table.RowsPerPage - 1) / _table.RowsPerPage;
            var infoText = $"نمایش {startItem} تا {endItem} از {totalItems} ردیف";
        }

        <div class="d-flex flex-column flex-sm-row align-center justify-sm-space-between w-100 pa-4" style="gap: 1rem;">
            <div class="mud-table-pagination-caption">
                @infoText
            </div>
            <MudPagination SelectedChanged="PageChanged"
                           Color="Color.Primary"
                           Count="@pageCount"
                           Class="justify-center"
                           BoundaryCount="1"
                           MiddleCount="3" />

            <div class="d-none d-sm-block mud-table-pagination-caption" style="visibility: hidden; pointer-events: none;">
                @infoText
            </div>
        </div>
    </PagerContent>
</MudTable>

<script src="/js/libs/jsbarcode.all.min.js"></script>
<script src="/js/print.js?v=@_jsVersion"></script>