@using GoldEx.Client.Helpers
@inherits GoldExComponentBase

<MudForm Model="_model" @ref="@_form" Validation="@(_transactionValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog>
        <DialogContent>

            <div class="d-flex align-center justify-content-between">
                <MudText Typo="Typo.h6" GutterBottom="true">مشخصات مشتری</MudText>
                @if (_model is { CustomerCreditRemaining: not null, CustomerCreditRemainingUnit: not null })
                {
                    <MudText Typo="Typo.body1" Class="d-none d-sm-flex">
                        اعتبار باقی مانده مشتری: @($"{_model.CustomerCreditRemaining.FormatNumber()} {_model.CustomerCreditRemainingUnit.Title}")
                    </MudText>
                }
            </div>
            <MudDivider Class="mb-2" />
            <MudGrid>
                <MudItem xs="12" md="4" lg="2">
                    <MudSelect T="CustomerType"
                               Value="_model.CustomerType"
                               Label="نوع مشتری"
                               For="() => _model.CustomerType"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined">
                        @foreach (var item in Enum.GetValues<CustomerType>())
                        {
                            <MudSelectItem Value="@item">@item.GetDisplayName()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="4" lg="2">
                    <MudTextField Value="_model.CustomerNationalId"
                                  ValueChanged="OnCustomerNationalIdChanged"
                                  Variant="Variant.Outlined"
                                  Immediate="true"
                                  T="string"
                                  DebounceInterval="500"
                                  For="@(() => _model.CustomerNationalId)"
                                  Label="شناسه یکتا"
                                  Clearable="true"
                                  OnClearButtonClick="OnCustomerNationalIdCleared"
                                  HelperText="کد ملی یا شناسه یکتای مشتری"
                                  HelperTextOnFocus="true"
                                  Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12" md="4" lg="4" Class="pt-lg-6 pt-md-6 pt-sm-0">
                    <MudTextField @bind-Value="_model.CustomerFullName"
                                  Variant="Variant.Outlined"
                                  Immediate="true"
                                  Label="نام مشتری"
                                  HelperText="نام و نام خانوادگی مشتری"
                                  HelperTextOnFocus="true"
                                  Margin="Margin.Dense"></MudTextField>
                </MudItem>

                <MudItem xs="12" md="12" lg="4" Class="pt-md-0 pt-lg-6">
                    <MudMenu @bind-Open="_isCreditLimitMenuOpen" ActivationEvent="@MouseEvent.RightClick" Class="w-100">
                        <ActivatorContent>
                            <MudNumericField Value="_model.CustomerCreditLimit"
                                             ValueChanged="OnCustomerCreditLimitChanged"
                                             T="decimal?"
                                             Immediate="true"
                                             For="@(() => _model.CustomerCreditLimit)"
                                             Format="G29"
                                             HideSpinButtons="true"
                                             HelperText="@_customerCreditLimitHelperText"
                                             Label="سقف اعتبار"
                                             Margin="Margin.Dense"
                                             Variant="Variant.Outlined"
                                             Adornment="Adornment.End"
                                             AdornmentIcon="@Icons.Material.Filled.UnfoldMore"
                                             OnAdornmentClick="() => _isCreditLimitMenuOpen = true" />
                        </ActivatorContent>
                        <ChildContent>
                            @foreach (var item in _priceUnits)
                            {
                                <MudMenuItem OnClick="() => SelectCreditLimitUnit(item)">
                                    <div style="display: flex; align-items: center; gap: 8px;">
                                        @if (item.HasIcon)
                                        {
                                            <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                            </MudAvatar>
                                        }
                                        @item.Title
                                    </div>
                                </MudMenuItem>
                            }
                        </ChildContent>
                    </MudMenu>
                </MudItem>

                <MudItem xs="12" md="4" lg="4" Class="pt-lg-0 pt-md-0 pt-sm-6">
                    <MudTextField @bind-Value="_model.CustomerPhoneNumber"
                                  Variant="Variant.Outlined"
                                  Immediate="true"
                                  Label="شماره تماس"
                                  HelperText="شماره تماس مشتری"
                                  HelperTextOnFocus="true"
                                  Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="8" lg="8" Class="pt-0">
                    <MudTextField @bind-Value="_model.CustomerAddress"
                                  For="@(() => _model.CustomerAddress)"
                                  Label="آدرس"
                                  HelperText="آدرس مشتری"
                                  HelperTextOnFocus="true"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
            </MudGrid>
            <MudText Typo="Typo.h6" GutterBottom="true">جزئیات تراکنش</MudText>
            <MudDivider Class="mb-2" />
            <MudGrid>
                <MudItem xs="12" md="3" lg="2">
                    <MudTextField @bind-Value="_model.TransactionNumber"
                                  Variant="Variant.Outlined"
                                  Immediate="true"
                                  Label="شماره تراکنش"
                                  HelperText="شماره یکتای تراکنش"
                                  HelperTextOnFocus="true"
                                  Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="9" lg="6" Class="pt-md-6 pt-sm-0">
                    <MudTextField @bind-Value="_model.Description"
                                  Immediate="true"
                                  For="@(() => _model.Description)"
                                  Label="شرح تراکنش"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" sm="6" md="6" lg="2" Class="pt-lg-6 pt-md-0 pt-sm-6">
                    <MudDatePicker @bind-Date="_model.TransactionDate"
                                   Color="Color.Secondary"
                                   Editable="true"
                                   AnchorOrigin="Origin.TopCenter"
                                   TransformOrigin="Origin.BottomCenter"
                                   For="@(() => _model.TransactionDate)"
                                   HelperText="تاریخ ثبت تراکنش"
                                   HelperTextOnFocus="true"
                                   Label="تاریخ تراکنش"
                                   ImmediateText="true"
                                   Margin="Margin.Dense"
                                   Rounded="true"
                                   Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" sm="6" md="6" lg="2" Class="pt-lg-6 pt-md-0 pt-sm-6">
                    <MudTimePicker AmPm="true"
                                   @bind-Time="_model.TransactionTime"
                                   Label="زمان"
                                   HelperText="زمان ثبت تراکنش"
                                   HelperTextOnFocus="true"
                                   AnchorOrigin="Origin.TopCenter"
                                   TransformOrigin="Origin.BottomCenter"
                                   Margin="Margin.Dense"
                                   ImmediateText="true"
                                   Rounded="true"
                                   Editable="true"
                                   Variant="Variant.Outlined" />
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem xs="12" md="12" lg="6">
                    <MudPaper Elevation="0" Class="">
                        <MudText Typo="Typo.body1" GutterBottom="true">
                            بستانکار @(_model.CreditEquivalent.HasValue ? $" - معادل ریالی : {_model.CreditEquivalent:N0} ریال" : "")
                        </MudText>
                        <MudGrid>
                            <MudItem xs="12" md="6" lg="6">
                                <MudMenu @bind-Open="_isCreditMenuOpen" ActivationEvent="@MouseEvent.RightClick" Class="w-100">
                                    <ActivatorContent>
                                        <MudNumericField Value="_model.Credit"
                                                         ValueChanged="OnCreditChanged"
                                                         HelperText="@_creditHelperText"
                                                         T="decimal?"
                                                         Immediate="true"
                                                         For="@(() => _model.Credit)"
                                                         Format="G29"
                                                         HideSpinButtons="true"
                                                         Label="بستانکار"
                                                         Margin="Margin.Dense"
                                                         Variant="Variant.Outlined"
                                                         Adornment="Adornment.End"
                                                         AdornmentIcon="@Icons.Material.Filled.UnfoldMore"
                                                         OnAdornmentClick="() => _isCreditMenuOpen = true" />
                                    </ActivatorContent>
                                    <ChildContent>
                                        @foreach (var item in _priceUnits)
                                        {
                                            <MudMenuItem OnClick="() => SelectCreditUnit(item)">  
                                                <div style="display: flex; align-items: center; gap: 8px;">
                                                    @if (item.HasIcon)
                                                    {
                                                        <MudAvatar Size="Size.Small" Color="Color.Primary">  
                                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                        </MudAvatar>  
                                                    }
                                                    @item.Title
                                                </div>  
                                            </MudMenuItem>  
                                        }
                                    </ChildContent>
                                </MudMenu>
                            </MudItem>
                            <MudItem xs="12" md="6" lg="6">
                                <MudNumericField Value="_model.CreditRate"
                                                 ValueChanged="OnCreditRateChanged"
                                                 HelperText="@_creditRateHelperText"
                                                 T="decimal?"
                                                 Immediate="true"
                                                 For="@(() => _model.CreditRate)"
                                                 Format="G29"
                                                 HideSpinButtons="true"
                                                 Label="نرخ تبدیل"
                                                 Margin="Margin.Dense"
                                                 Variant="Variant.Outlined" />
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" md="12" lg="6">
                    <MudPaper Elevation="0" Class="">
                        <MudText Typo="Typo.body1" GutterBottom="true">
                            بدهکار @(_model.DebitEquivalent.HasValue ? $" - معادل ریالی : {_model.DebitEquivalent:N0} ریال" : "")
                        </MudText>
                        <MudGrid>
                            <MudItem xs="12" md="6" lg="6">
                                <MudMenu @bind-Open="_isDebitMenuOpen" ActivationEvent="@MouseEvent.RightClick" Class="w-100">
                                    <ActivatorContent>
                                        <MudNumericField Value="_model.Debit"
                                                         ValueChanged="OnDebitChanged"
                                                         HelperText="@_debitHelperText"
                                                         T="decimal?"
                                                         Immediate="true"
                                                         For="@(() => _model.Debit)"
                                                         Format="G29"
                                                         HideSpinButtons="true"
                                                         Label="بدهکار"
                                                         Margin="Margin.Dense"
                                                         Variant="Variant.Outlined"
                                                         Adornment="Adornment.End"
                                                         AdornmentIcon="@Icons.Material.Filled.UnfoldMore"
                                                         OnAdornmentClick="() => _isDebitMenuOpen = true" />
                                    </ActivatorContent>
                                    <ChildContent>
                                        @foreach (var item in _priceUnits)
                                        {
                                            <MudMenuItem OnClick="() => SelectDebitUnit(item)">  
                                                <div style="display: flex; align-items: center; gap: 8px;">
                                                    @if (item.HasIcon)
                                                    {
                                                        <MudAvatar Size="Size.Small" Color="Color.Primary">  
                                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                        </MudAvatar>  
                                                    }
                                                    @item.Title
                                                </div>  
                                            </MudMenuItem>  
                                        }
                                    </ChildContent>
                                </MudMenu>
                            </MudItem>

                            <MudItem xs="12" md="6" lg="6">
                                <MudNumericField Value="_model.DebitRate"
                                                 ValueChanged="OnDebitRateChanged"
                                                 HelperText="@_debitRateHelperText"
                                                 T="decimal?"
                                                 Immediate="true"
                                                 For="@(() => _model.DebitRate)"
                                                 Format="G29"
                                                 HideSpinButtons="true"
                                                 Label="نرخ تبدیل"
                                                 Margin="Margin.Dense"
                                                 Variant="Variant.Outlined" />
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>

        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error"
                       OnClick="Close"
                       StartIcon="@Icons.Material.Filled.Close"
                       Variant="Variant.Filled">بستن</MudButton>

            <MudButton Class="m-2"
                       Color="Color.Primary"
                       Disabled="@IsBusy"
                       StartIcon="@Icons.Material.Filled.Save"
                       OnClick="@(async () => await OnSubmit())"
                       Variant="Variant.Filled">
                @if (IsBusy)
                {
                    <MudProgressCircular Class="ms-n1"
                                         Size="Size.Small"
                                         Indeterminate="true" />
                    <MudText Class="ms-2">
                        در حال ذخیره
                    </MudText>
                }
                else
                {
                    <MudText>ذخیره</MudText>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</MudForm>