@using System.Globalization
@inherits GoldExComponentBase

<MudTable T="TransactionVm" Class="@Class" RowsPerPage="8" Hover="true" @ref="_table" FixedHeader="true"
          Dense="true" ServerData="LoadTransactionsAsync" SelectOnRowClick="false" Breakpoint="Breakpoint.Sm" Elevation="@Elevation">
    <ToolBarContent>
        <MudTextField T="string" AutoFocus="true" Clearable="true" Immediate="true" ValueChanged="@(s=>OnSearch(s))" Placeholder="جستجو ..." Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButton Class="ml-4" Color="Color.Primary"
                       EndIcon="@Icons.Material.Filled.Add" OnClick="@(_ => OnCreateTransaction())" Size="Size.Small" Variant="Variant.Filled">ثبت تراکنش جدید</MudButton>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Color="@Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="@(_ => OnCreateTransaction())" Size="@Size.Small" Variant="@Variant.Filled"></MudIconButton>
        </MudHidden>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Number" T="TransactionVm">کد</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Description" T="TransactionVm">شرح</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Customer.FullName" T="TransactionVm">نام مشتری</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Customer.NationalId" T="TransactionVm">شناسه یکتا</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Credit" T="TransactionVm">بستانکاری</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Debit" T="TransactionVm">بدهکاری</MudTableSortLabel></MudTh>
        @* <MudTh>مانده</MudTh> *@
        <MudTh><MudTableSortLabel SortLabel="DateTime" T="TransactionVm">تاریخ</MudTableSortLabel></MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="شماره تراکنش">@context.TransactionNumber</MudTd>
        <MudTd DataLabel="شرح">@context.Description</MudTd>
        <MudTd DataLabel="نام مشتری">@context.CustomerFullName</MudTd>
        <MudTd DataLabel="شناسه یکتای مشتری">@context.CustomerNationalId</MudTd>
        <MudTd DataLabel="بستانکاری">@(context.Credit.HasValue ? $"{context.Credit:N0} {context.CreditUnit}" : "-")</MudTd>
        <MudTd DataLabel="بدهکاری">@(context.Debit.HasValue ? $"{context.Debit:N0} {context.DebitUnit}" : "-")</MudTd>
        @* <MudTd DataLabel="مانده">@($"{context.Remaining:N0} {context.RemainingUnit}")</MudTd> *@
        <MudTd DataLabel="تاریخ">@context.DateTime.ToString(CultureInfo.CurrentCulture)</MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="چاپ تراکنش">
                    <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Print"
                                   Color="@Color.Success"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="ویرایش تراکنش">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                   Color="Color.Primary" OnClick="_ => OnEditTransaction(context)"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="حذف تراکنش">
                    <MudIconButton OnClick="@(_ => OnRemoveTransaction(context))" ClickPropagation="true"
                                   Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error"></MudIconButton>
                </MudTooltip>
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ تراکنشی یافت نشد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
    <PagerContent>
        <div class="d-flex flex-column align-center">
            <MudPagination SelectedChanged="PageChanged"
                           Color="Color.Primary"
                           Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                           Class="pa-4"
                           ShowFirstButton="true"
                           ShowLastButton="true" />
        </div>
    </PagerContent>
</MudTable>
