<div class="d-flex justify-start pr-2 py-3">
    <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Small"></MudIcon>
    <MudText Class="me-2" Typo="Typo.body2">
        در اولین قدم از فرایند ذوب، ابتدا باید اجناس مستعمل خریداری شده از مشتریان را جهت وارد کردن به چرخه ذوب انتخاب کنید و سپس آن ها را به آزمایشگاه جهت ری گیری ارسال کنید.
    </MudText>
</div>

<InventoryStockList ItemStatus="ItemStatus.Available"
                    ItemType="ItemType.UsedProduct"
                    Elevation="0"
                    Selectable="true"
                    SelectableTypes="[ItemType.UsedProduct]"
                    SelectedItemsChanged="OnSelectedItemsChanged" />

<MudPaper Elevation="0" Class="d-flex justify-content-between align-center flex-wrap mt-4 p-2">
    <MudText Class="m-2">تعداد اقلام انتخابی: @Model.Products.Count</MudText>
    <MudText Class="m-2">وزن کل: @(Model.TotalWeight?.ToWeightFormat(Model.WeightUnitType) ?? "0")</MudText>
    <MudButton Variant="Variant.Filled"
               Color="Color.Success"
               OnClick="OnMeltingProducts"
               Disabled="@(!Model.Products.Any() || Processing)"
               EndIcon="@Icons.Material.Filled.ArrowBack">
        @if (Processing)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
            <MudText Class="ms-2">در حال پردازش</MudText>
        }
        else
        {
            <MudText>جمع آوری برای ذوب</MudText>
        }
    </MudButton>
</MudPaper>