@inherits GoldExComponentBase

<EditForm Model="_model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <MudDialog>
        <DialogContent>
            @if (_loadingCatalogs)
            {
                <div class="align-center d-flex flex-column gap-3 justify-content-center">
                    <MudProgressLinear Color="Color.Info" Indeterminate="true" />
                    <div>در حال بارگیری اطلاعات</div>
                </div>
            }
            else
            {
                <MudGrid Justify="Justify.Center" Class="align-center" Spacing="2">
                    <MudItem xs="12" md="6" Class="mt-2">
                        <MudSelect Value="_model.ProviderType"
                                   Label="سرویس دهنده قیمت"
                                   Variant="Variant.Outlined"
                                   T="PriceProviderType"
                                   Dense="true"
                                   Margin="Margin.Dense"
                                   ValueChanged="OnProviderTypeChanged">
                            @foreach (var item in Enum.GetValues<PriceProviderType>())
                            {
                                <MudSelectItem Value="@item">@item.GetDisplayName()</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" md="6" Class="mt-2">
                        <MudAutocomplete T="string"
                                         Label="نماد در سرویس دهنده"
                                         Variant="Variant.Outlined"
                                         Dense="true"
                                         Margin="Margin.Dense"
                                         Value="@_model.ProviderSymbol"
                                         ValueChanged="OnSymbolChanged"
                                         ToStringFunc="s => s"
                                         ResetValueOnEmptyText="true"
                                         SearchFunc="SearchSymbols"
                                         CoerceText="true" />
                    </MudItem>
                </MudGrid>
            }

            @if (_lastValidation is not null)
            {
                <MudAlert Severity="@(_lastValidation.IsSupported? Severity.Success: Severity.Error)" ContentAlignment="HorizontalAlignment.Start" Class="mt-2">
                    @_lastValidation.Message
                </MudAlert>

                @if (_lastValidation.Sample is not null)
                {
                    <MudPaper Class="align-items-center d-flex flex-column gap-2 justify-content-center my-4 pa-3">
                        <MudText Typo="Typo.h6">نماد: @_model.ProviderSymbol</MudText>
                        <MudText>نرخ: @_lastValidation.Sample.CurrentValue.ToCurrencyFormat(_lastValidation.Sample.Unit)</MudText>
                        <MudText>به‌روزرسانی: @_lastValidation.Sample.LastUpdate</MudText>
                    </MudPaper>
                }
            }
        </DialogContent>

        <DialogActions>
            <MudFileUpload T="IBrowserFile" Accept=".png" @bind-Files="_model.IconFile" For="() => _model.IconFile!" Class="align-center d-flex justify-content-center">
                <CustomContent Context="ctx">
                    <MudIconButton Variant="Variant.Filled"
                                   Color="Color.Success"
                                   Size="Size.Medium"
                                   Class="m-2"
                                   OnClick="ctx.OpenFilePickerAsync"
                                   Icon="@Icons.Material.Filled.AttachFile" />
                </CustomContent>
                <SelectedTemplate Context="ctx">
                    @if (ctx != null)
                    {
                        <MudText class="mt-1">@ctx.Name</MudText>
                    }
                </SelectedTemplate>
            </MudFileUpload>

            <MudSpacer />

            <MudButton Color="Color.Error"
                       OnClick="Close"
                       StartIcon="@Icons.Material.Filled.Close"
                       Variant="Variant.Filled">انصراف</MudButton>

            <MudButton Class="m-2"
                       Variant="Variant.Filled"
                       Color="Color.Info"
                       Disabled="@IsBusy"
                       StartIcon="@Icons.Material.Filled.Sync"
                       OnClick="ValidateAsync">اعتبارسنجی</MudButton>

            <MudButton Class="m-2"
                       Color="Color.Primary"
                       Disabled="@IsBusy"
                       StartIcon="@Icons.Material.Filled.Save"
                       ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled">
                ذخیره
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

<style>
    .mud-dialog-actions{
        flex-wrap: wrap;
    }
</style>