@using GoldEx.Shared.DTOs.Customers
@inherits GoldExComponentBase

<MudForm Model="@_model">
    <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
        <MudAutocomplete T="GetCustomerResponse"
                         @bind-Value="_model.Customer"
                         Text="@_model.Customer?.FullName"
                         For="@(() => _model.Customer!)"
                         Label="@_model.GetDisplayName(() => _model.Customer)"
                         ToStringFunc="@(customer => customer?.FullName)"
                         Margin="Margin.Dense"
                         Variant="Variant.Outlined"
                         SearchFunc="@SearchCustomers"
                         AutoFocus="true"
                         ResetValueOnEmptyText="true"
                         DebounceInterval="0"
                         ShowProgressIndicator="false">
        </MudAutocomplete>

        <MudDateRangePicker @bind-DateRange="@_model.DateRange" Margin="Margin.Dense" Variant="Variant.Outlined" Class="ml-3"
                            PlaceholderStart="از" PlaceholderEnd="تا" Label="تاریخ ثبت" Clearable="true" />
        <MudSpacer />

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButton Class="ml-4" Color="Color.Info" EndIcon="@Icons.Material.Filled.Search"
                       OnClick="@(_ => OnSubmit())" Size="Size.Small" Variant="Variant.Filled">تولید گزارش</MudButton>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Color="@Color.Info" Icon="@Icons.Material.Filled.Search"
                           OnClick="@(_ => OnSubmit())" Size="@Size.Small" Variant="@Variant.Filled"></MudIconButton>
        </MudHidden>
    </MudStack>

   @*  <MudStack Class="mt-4">
        @if (_model.ReportData is not null)
        {
            <MudTable Items="_model.ReportData" Hover="true" Dense="true" Breakpoint="Breakpoint.Sm">
                <HeaderContent>
                    <MudTh>ردیف</MudTh>
                    <MudTh>تاریخ</MudTh>
                    <MudTh>مشتری</MudTh>
                    <MudTh>نوع تراکنش</MudTh>
                    <MudTh>مبلغ</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="ردیف">@(context.Index + 1)</MudTd>
                    <MudTd DataLabel="تاریخ">@context.Date.ToShortDateString()</MudTd>
                    <MudTd DataLabel="مشتری">@context.Customer?.FullName</MudTd>
                    <MudTd DataLabel="نوع تراکنش">@context.TransactionType</MudTd>
                    <MudTd DataLabel="مبلغ">@context.Amount.ToString("N0")</MudTd>
                </RowTemplate>
            </MudTable>
        }
        else
        {
            <p class="text-center">لطفاً برای مشاهده گزارش، فیلترها را تنظیم کنید.</p>
        }
    </MudStack> *@
</MudForm>