@inherits GoldExComponentBase

<MudPaper Elevation="0" Class="mt-2 px-4">
    <MudStack AlignItems="AlignItems.Center" Row Justify="Justify.Center" Spacing="2" Class="my-2">
        <MudText Typo="Typo.h6" GutterBottom="true" Class="d-none d-md-block">
            لیست اجناس
        </MudText>
        <div Class="flex-fill d-none d-md-block"></div>

        <MudPaper Elevation="0" Style="max-width: 250px;">
            <MudNumericField Adornment="Adornment.End"
                             AdornmentText="@PriceUnit?.Title"
                             For="() => _gramPrice"
                             Format="#,##0.##"
                             HideSpinButtons="true"
                             Immediate="true"
                             Margin="Margin.Dense"
                             Label="نرخ هر گرم طلای 18 عیار"
                             dir="ltr"
                             T="decimal"
                             Value="@_gramPrice"
                             ValueChanged="OnGramPriceChanged"
                             Variant="Variant.Outlined" />
        </MudPaper>
        <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Info" Text="افزودن جنس">
            <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small"
                           Variant="Variant.Filled" Color="Color.Info" OnClick="AddItem" />
        </MudTooltip>
        <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Success" Text="آپلود فایل اکسل">
            <MudIconButton Icon="@Icons.Custom.FileFormats.FileExcel" Size="Size.Small"
                           Variant="Variant.Filled" Color="Color.Success" OnClick="UploadExcel" />
        </MudTooltip>
    </MudStack>
    <MudTable Elevation="0" Dense="true" Hover="true" Virtualize="true" Items="@Model.ProductItems" T="ProductItemVm" FixedHeader="true"
              ContainerClass="responsive-table-import">
        <ColGroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            @if (Model.ProductItems.Any(x => x.StoneAmount > 0))
            {
                <col/>
            }
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh>ردیف</MudTh>
            <MudTh>کد</MudTh>
            <MudTh>نوع جنس</MudTh>
            <MudTh>عنوان</MudTh>
            <MudTh>دسته بندی</MudTh>
            <MudTh>تعداد</MudTh>
            <MudTh>عیار</MudTh>
            <MudTh>اجرت</MudTh>
            <MudTh>وزن</MudTh>
            @if (Model.ProductItems.Any(x => x.StoneAmount > 0))
            {
                <MudTh>ارزش سنگ</MudTh>
            }
            <MudTh>ارزش کل</MudTh>
            <MudTh>عملیات</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ردیف">@context.Index</MudTd>
            <MudTd DataLabel="کد">@context.Product.Barcode</MudTd>
            <MudTd DataLabel="نوع جنس">@context.Product.ProductType.GetDisplayName()</MudTd>
            <MudTd DataLabel="عنوان">@context.Product.Name</MudTd>
            <MudTd DataLabel="دسته بندی">@(context.Product.ProductCategoryTitle ?? "ندارد")</MudTd>
            <MudTd DataLabel="تعداد">@context.Quantity</MudTd>
            <MudTd DataLabel="عیار">@context.Product.Fineness.ToString("G29")</MudTd>
            <MudTd DataLabel="اجرت">
                @{
                    @(context.Product.WageType switch
                    {
                        WageType.Fixed => $"{context.Product.Wage?.ToCurrencyFormat(context.Product.WagePriceUnitTitle)}",
                        WageType.Percent => context.Product.Wage?.ToString("G29") + " درصد",
                        _ => "ندارد"
                    })
                }
            </MudTd>
            <MudTd DataLabel="وزن">@context.TotalWeight?.ToString("G29") @context.Product.GoldUnitType.GetDisplayName()</MudTd>
            @if (Model.ProductItems.Any(x => x.StoneAmount > 0))
            {
                <MudTd DataLabel="ارزش سنگ">@context.StoneAmount.ToCurrencyFormat(PriceUnit?.Title)</MudTd>
            }
            <MudTd DataLabel="ارزش کل">@context.FinalAmount.ToCurrencyFormat(_gramPriceUnit?.Title)</MudTd>
            <MudTd DataLabel="عملیات">
                <div class="d-flex gap-2">
                    <MudTooltip Text="چاپ بارکد">
                        <MudIconButton Icon="@Icons.Material.Filled.Print" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Success" OnClick="() => PrintBarcode(context)"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="ویرایش جنس">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Primary" OnClick="() => EditItem(context)"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="حذف جنس">
                        <MudIconButton OnClick="@(_ => RemoveItem(context))" Icon="@Icons.Material.Filled.Delete"
                                       Color="@Color.Error" Size="@Size.Small" Variant="@Variant.Filled"></MudIconButton>
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText Typo="Typo.body2">هیچ جنسی ثبت نشده است</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText Typo="Typo.body2">در حال بارگیری</MudText>
        </LoadingContent>
    </MudTable>
</MudPaper>