@inherits GoldExComponentBase

@attribute [Route(ClientRoutes.Settings.Index)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

<PageTitle>اطلاعات پایه</PageTitle>

<MudText Typo="Typo.h6" GutterBottom="true">اطلاعات پایه</MudText>
<MudDivider Class="my-4" />

<MudCard Elevation="24" Class="p-4">
    <EditForm Model="_model" OnValidSubmit="OnGallerySettingsSubmitted">
        <DataAnnotationsValidator />
        
        <MudText Typo="Typo.h6" GutterBottom="true">اطلاعات گالری</MudText>
        <hr />
        <MudGrid Spacing="4">
            <MudItem xs="12" md="8" Class="order-1 order-md-0">
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mb-3">
                        اطلاعات مجموعه
                    </MudText>

                    <MudGrid Spacing="3">
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="_model.InstitutionName"
                                          Label="@_model.GetDisplayName(() => _model.InstitutionName)"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Required
                                          For="() => _model.InstitutionName"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Store" />
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="_model.PhoneNumber"
                                          Label="@_model.GetDisplayName(() => _model.PhoneNumber)"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Required
                                          For="() => _model.PhoneNumber"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.LocalPhone" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudTextField @bind-Value="_model.Address"
                                          Label="@_model.GetDisplayName(() => _model.Address)"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Required
                                          Lines="3"
                                          For="() => _model.Address"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.LocationOn" />
                        </MudItem>
                    </MudGrid>
                </div>
            </MudItem>
            <MudItem xs="12" md="4">
                <div class="text-center">
                    <MudText Typo="Typo.subtitle1" Class="mb-6">
                        لوگوی مجموعه
                    </MudText>

                    <MudFileUpload T="IBrowserFile" Accept=".png" @bind-Files="_model.IconFile" Class="align-center">
                        <CustomContent Context="ctx">
                            <MudAvatar Size="Size.Large"
                                       Style="cursor:pointer;width:110px;height:110px;"
                                       @onclick="ctx.OpenFilePickerAsync"
                                       Color="Color.Surface">
                                @if (_model.HasIcon)
                                {
                                    <MudImage Src="@ApiUrls.Icons.Get(IconType.App, Guid.Empty)" />
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.Image" Size="Size.Large" />
                                }
                            </MudAvatar>
                        </CustomContent>
                    </MudFileUpload>
                </div>
            </MudItem>
        </MudGrid>

        <MudText Class="mt-6" Typo="Typo.h6" GutterBottom="true">پیش فرض های برنامه</MudText>
        <hr />
        <MudGrid Spacing="4">
            <MudItem xs="6" sm="4">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="درصد"
                                 @bind-Value="_model.TaxPercent"
                                 Format="G29"
                                 Margin="Margin.Dense"
                                 dir="ltr"
                                 Variant="Variant.Outlined"
                                 Label="@_model.GetDisplayName(() => _model.TaxPercent)"
                                 HideSpinButtons="true"
                                 For="() => _model.TaxPercent"></MudNumericField>
            </MudItem>
            <MudItem xs="6" sm="4">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="درصد"
                                 @bind-Value="_model.GoldProfitPercent"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 Format="G29"
                                 dir="ltr"
                                 Label="@_model.GetDisplayName(() => _model.GoldProfitPercent)"
                                 HideSpinButtons="true"
                                 For="() => _model.GoldProfitPercent"></MudNumericField>
            </MudItem>
            <MudItem xs="6" sm="4">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="درصد"
                                 @bind-Value="_model.JewelryProfitPercent"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 dir="ltr"
                                 Format="G29"
                                 Label="@_model.GetDisplayName(() => _model.JewelryProfitPercent)"
                                 HideSpinButtons="true"
                                 For="() => _model.JewelryProfitPercent"></MudNumericField>
            </MudItem>
            <MudItem xs="6" sm="4">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="درصد"
                                 @bind-Value="_model.MoltenGoldCommissionPercent"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 dir="ltr"
                                 Format="G29"
                                 Label="@_model.GetDisplayName(() => _model.MoltenGoldCommissionPercent)"
                                 HideSpinButtons="true"
                                 For="() => _model.MoltenGoldCommissionPercent"></MudNumericField>
            </MudItem>
            <MudItem xs="6" sm="4">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentText="درصد"
                                 Margin="Margin.Dense"
                                 @bind-Value="_model.GoldSafetyMarginPercent"
                                 Variant="Variant.Outlined"
                                 dir="ltr"
                                 Format="G29"
                                 Label="@_model.GetDisplayName(() => _model.GoldSafetyMarginPercent)"
                                 HideSpinButtons="true"
                                 For="() => _model.GoldSafetyMarginPercent"></MudNumericField>
            </MudItem>
            <MudItem xs="6" sm="4">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentIcon="@Icons.Material.Outlined.Numbers"
                                 @bind-Value="_model.UsedGoldFinenessDeductionRate"
                                 Margin="Margin.Dense"
                                 Variant="Variant.Outlined"
                                 dir="ltr"
                                 Format="G29"
                                 Label="@_model.GetDisplayName(() => _model.UsedGoldFinenessDeductionRate)"
                                 HideSpinButtons="true"
                                 For="() => _model.UsedGoldFinenessDeductionRate"></MudNumericField>
            </MudItem>
            <MudItem xs="12" sm="4">
                <MudNumericField Adornment="Adornment.End"
                                 AdornmentIcon="@Icons.Material.Filled.CurrencyExchange"
                                 @bind-Value="_model.GramPerMesghal"
                                 Margin="Margin.Dense"
                                 Variant="Variant.Outlined"
                                 Format="G29"
                                 dir="ltr"
                                 Label="@_model.GetDisplayName(() => _model.GramPerMesghal)"
                                 HideSpinButtons="true"
                                 For="() => _model.GramPerMesghal"></MudNumericField>
            </MudItem>
            <MudItem xs="12" sm="4">
                <MudTextField Adornment="Adornment.End"
                              AdornmentIcon="@Icons.Material.Outlined.Timer"
                              Margin="Margin.Dense"
                              @bind-Value="_model.PriceUpdateInterval"
                              Variant="Variant.Outlined"
                              InputType="InputType.Time"
                              Label="@(_model.GetDisplayName(() => _model.PriceUpdateInterval))"
                              For="() => _model.PriceUpdateInterval"></MudTextField>
            </MudItem>
        </MudGrid>

        <div class="d-flex justify-content-end">
            <MudButton Class="mt-4" ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Save"
                       Color="Color.Primary">ذخیره</MudButton>
        </div>
    </EditForm>
</MudCard>
