@attribute [Route(ClientRoutes.ProductCategories.Index)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

@inherits GoldExComponentBase

<PageTitle>دسته بندی اجناس</PageTitle>


<div class="d-flex align-center justify-space-between">
    <MudText Typo="Typo.h6" GutterBottom="true">دسته بندی اجناس</MudText>
    
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudFab Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" Label="افزودن دسته جدید" Size="Size.Small" OnClick="_ => OnCreateCategory()" />
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudFab Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="_ => OnCreateCategory()" />
    </MudHidden>
</div>
<MudDivider Class="my-2" />

<MudTable T="ProductCategoryVm" Hover="true" FixedHeader="true" Dense="true" Items="_productCategories"
          SelectOnRowClick="false" Breakpoint="Breakpoint.Xs" Elevation="3" Height="350px">
    <HeaderContent>
        <MudTh>ردیف</MudTh>
        <MudTh>عنوان</MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ردیف">@context.Index</MudTd>
        <MudTd DataLabel="عنوان">@context.Title</MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="ویرایش">
                    <MudFab Color="Color.Primary" EndIcon="@Icons.Material.Filled.Edit" OnClick="_ => OnEditCategory(context)" Size="Size.Small"></MudFab>
                </MudTooltip>
                <MudTooltip Text="حذف">
                    <MudFab Color="@Color.Error" EndIcon="@Icons.Material.Filled.Delete" OnClick="@(_ => OnRemoveCategory(context))" Size="@Size.Small"></MudFab>
                </MudTooltip>
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ دسته ای وجود ندارد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
</MudTable>