@inherits GoldExComponentBase

@attribute [Route(ClientRoutes.Settings.Coins)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

<PageTitle>مدیریت سکه ها</PageTitle>

<div class="d-flex align-center justify-space-between">
    <MudText Typo="Typo.h6" GutterBottom="true">مدیریت سکه ها</MudText>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudButton Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Size="Size.Small" OnClick="_ => OnCreate()">افزودن سکه جدید</MudButton>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudIconButton Color="Color.Success" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="_ => OnCreate()" />
    </MudHidden>
</div>

<MudDivider Class="my-2" />

<MudTable T="CoinVm" Hover="true" FixedHeader="true" Dense="true" Items="_coins" Loading="_processing"
          SelectOnRowClick="false" Breakpoint="Breakpoint.Xs" Elevation="24" Class="p-2 mt-4" ContainerClass="responsive-table">
    <HeaderContent>
        <MudTh>عنوان</MudTh>
        <MudTh>وزن</MudTh>
        <MudTh>عیار</MudTh>
        <MudTh>سال ضرب</MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="عنوان">@context.Title</MudTd>
        <MudTd DataLabel="وزن">@context.Weight?.ToWeightFormat(GoldUnitType.Gram)</MudTd>
        <MudTd DataLabel="عیار">@context.Fineness?.ToString("G29")</MudTd>
        <MudTd DataLabel="سال ضرب">@GetMintYearText(context.StartMintYear, context.EndMintYear)</MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="ویرایش" Arrow="true" Color="Color.Primary">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                   Color="Color.Primary" OnClick="_ => OnEdit(context)" />
                </MudTooltip>
                @if (context.IsActive)
                {
                    <MudTooltip Text="غیرفعال سازی" Arrow="true" Color="Color.Error">
                        <MudIconButton OnClick="@(_ => OnStatusChanged(context))" Size="@Size.Small"
                                       Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Lock" Color="@Color.Error" />
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="فعال سازی" Arrow="true" Color="Color.Success">
                        <MudIconButton OnClick="@(_ => OnStatusChanged(context))" Size="@Size.Small"
                                       Variant="@Variant.Filled" Icon="@Icons.Material.Filled.LockOpen" Color="@Color.Success" />
                    </MudTooltip>
                }
                <MudTooltip Text="حذف" Arrow="true" Color="Color.Error">
                    <MudIconButton OnClick="@(_ => OnDelete(context))" Size="@Size.Small"
                                   Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error" />
                </MudTooltip>
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ سکه ای وجود ندارد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگیری</MudText>
    </LoadingContent>
</MudTable>
