@inherits GoldExComponentBase

@attribute [Route(ClientRoutes.Settings.PaymentMethods)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

<PageTitle>مدیریت روش های پرداخت</PageTitle>

<div class="d-flex align-center justify-space-between">
    <MudText Typo="Typo.h6" GutterBottom="true">مدیریت روش های پرداخت</MudText>
    
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudButton Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Size="Size.Small" OnClick="_ => OnCreate()">افزودن روش پرداخت جدید</MudButton>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudIconButton Color="Color.Success" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="_ => OnCreate()" />
    </MudHidden>
</div>
<MudDivider Class="my-2" />

<MudTable T="PaymentMethodVm" Hover="true" FixedHeader="true" Dense="true" Items="_paymentMethods"
          SelectOnRowClick="false" Breakpoint="Breakpoint.Xs" Elevation="3" Height="350px">
    <HeaderContent>
        <MudTh>ردیف</MudTh>
        <MudTh>عنوان</MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ردیف">@context.Index</MudTd>
        <MudTd DataLabel="عنوان">
            @context.Title
        </MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="ویرایش">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                   Color="Color.Primary" OnClick="_ => OnEdit(context)"></MudIconButton>
                </MudTooltip>
                @if (context.IsActive)
                {
                    <MudTooltip Text="غیرفعال سازی">
                        <MudIconButton OnClick="@(_ => OnStatusChanged(context))" ClickPropagation="true"
                                       Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Lock" Color="@Color.Error"></MudIconButton>
                    </MudTooltip>
                }
                else
                {
                <MudTooltip Text="فعال سازی">
                    <MudIconButton OnClick="@(_ => OnStatusChanged(context))" Size="@Size.Small" Variant="@Variant.Filled"
                                   Icon="@Icons.Material.Filled.LockOpen" Color="@Color.Success"></MudIconButton>
                    </MudTooltip>
                }

            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ روش پرداختی وجود ندارد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
</MudTable>