@inherits GoldExComponentBase

@attribute [Route(ClientRoutes.Settings.PriceSettings)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

<PageTitle>مدیریت نمادها</PageTitle>

<MudText Typo="Typo.h6" GutterBottom="true">مدیریت نمادها</MudText>
<MudDivider Class="my-4" />

@if (!_priceSettings.Any())
{
    <div class="align-center d-flex flex-column gap-3 justify-content-center">
        <MudProgressLinear Color="Color.Info" Indeterminate="true" />
        <div>در حال بارگیری</div>
    </div>
}
else
{
    @if (_showAlert)
    {
        <MudAlert Class="mb-4 w-md-50" ContentAlignment="HorizontalAlignment.Start" Severity="Severity.Info" Elevation="24"
                  Variant="Variant.Filled" ShowCloseIcon="true" CloseIconClicked="() => CloseAlert(true)">
            با انتخاب هر کدام از آیتم های زیر، قیمت آن در تابلوی قیمت ها نمایش داده می شود.
        </MudAlert>
    }

    <MudPaper Elevation="24" Class="w-md-50">
        <MudTreeView T="object" SelectionMode="SelectionMode.MultiSelection" Hover="true">    
            @foreach (var response in _priceSettings.GroupBy(r => r.MarketType))    
            {    
                <MudTreeViewItem T="object" Value="response.Key" Text="@response.Key.GetDisplayName()">    
                    @foreach (var price in response.SelectMany(r => r.Prices ?? []))    
                    {    
                        <MudTreeViewItem T="object"     
                                         Value="price"  
                                         Selected="price.IsActive"  
                                         SelectedChanged="context => OnPriceItemSelectionChanged(price.Id, context)">  
                            <BodyContent>  
                                <div class="d-flex align-items-center justify-space-between w-100">
                                    <MudText>@price.Title</MudText>
                                    <MudSpacer />
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"  
                                                   Color="Color.Info"
                                                   Size="Size.Small"
                                                   OnClick="@(() => OnEditPrice(price))" />
                                    <MudIconButton Icon="@(price.IsPinned ? Icons.Material.Filled.PushPin : Icons.Material.Outlined.PushPin)"  
                                                   Color="@(price.IsPinned ? Color.Primary : Color.Default)"  
                                                   Size="Size.Small"  
                                                   OnClick="@(() => OnPinToggleAsync(price.Id, price.IsPinned))" />  
                                </div>  
                            </BodyContent>  
                        </MudTreeViewItem>  
                    }    
                </MudTreeViewItem>  
            }  
        </MudTreeView>
    </MudPaper>
}