@inherits GoldExComponentBase

@attribute [Route(ClientRoutes.Settings.PriceUnits)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

<PageTitle>مدیریت واحدهای ارزی</PageTitle>

<div class="d-flex align-center justify-space-between">
    <MudText Typo="Typo.h6" GutterBottom="true">مدیریت واحدهای ارزی</MudText>
    
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudButton Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Size="Size.Small" OnClick="_ => OnCreate()">افزودن واحد ارزی جدید</MudButton>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudIconButton Color="Color.Success" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Size="Size.Small" OnClick="_ => OnCreate()" />
    </MudHidden>
</div>
<MudDivider Class="my-2" />

<MudTable T="PriceUnitVm" Hover="true" FixedHeader="true" Dense="true" Items="_priceUnits"
          SelectOnRowClick="false" Breakpoint="Breakpoint.Xs" Elevation="24" Height="350px">
    <HeaderContent>
        <MudTh>ردیف</MudTh>
        <MudTh>عنوان</MudTh>
        <MudTh></MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ردیف">@context.Index</MudTd>
        <MudTd DataLabel="عنوان">
            @context.Title
            @if (context.IsDefault)
            {
                <MudChip T="string" Color="Color.Success" Size="Size.Small" Class="ml-2">پیش فرض</MudChip>
            }
        </MudTd>
        <MudTd>
            @if (context.HasIcon)
            {
                <span class="mr-2">
                    <MudAvatar Size="Size.Small">
                        <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, context.Id))" Alt="img" />
                    </MudAvatar>
                </span>
            }
        </MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="ویرایش">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                   Color="Color.Primary" OnClick="_ => OnEdit(context)"></MudIconButton>
                </MudTooltip>
                @if (context.IsActive)
                {
                    <MudTooltip Text="غیرفعال سازی">
                        <MudIconButton OnClick="@(_ => OnStatusChanged(context))" ClickPropagation="true"
                                       Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Lock" Color="@Color.Error"></MudIconButton>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="فعال سازی">
                        <MudIconButton OnClick="@(_ => OnStatusChanged(context))" ClickPropagation="true"
                                       Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.LockOpen" Color="@Color.Success"></MudIconButton>
                    </MudTooltip>
                }
                @if (context is { IsDefault: false, IsActive: true })
                {
                    <MudTooltip Text="تنظیم به عنوان ارز پیش فرض">
                        <MudIconButton OnClick="@(_ => OnSetAsDefault(context.Id))" Size="@Size.Small" Variant="@Variant.Filled"
                                       Icon="@Icons.Material.Filled.Check" Color="@Color.Success"></MudIconButton>
                    </MudTooltip>
                }
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ واحد ارزی وجود ندارد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
</MudTable>