@inherits GoldExComponentBase

<MudCard Elevation="24">
    <MudCardHeader>
        <CardHeaderContent>
            <div class="d-flex justify-content-between align-items-center">
                <MudText Typo="Typo.h6">@CardTitle</MudText>
                <MudTooltip Arrow="true" Text="تغییر نوع گزارش" Color="Color.Info" Placement="Placement.Top">
                    <MudMenu>
                        <ActivatorContent>
                            <MudIconButton Icon="@Icons.Material.Filled.Warehouse" Variant="Variant.Outlined" Color="Color.Info" OnClick="context.ToggleAsync" />
                        </ActivatorContent>
                        <ChildContent>
                            @foreach (var item in Enum.GetValues<WarehouseActionType>())
                            {
                                <MudMenuItem OnClick="() => OnActionTypeChanged(item)">
                                    @GetDisplayName(item)
                                </MudMenuItem>
                            }
                        </ChildContent>
                    </MudMenu>
                </MudTooltip>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        @if (_chartResponse is null)
        {
            <div class="d-flex flex-column gap-4 justify-content-center align-items-center">
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
                <MudText Class="mr-2">در حال بارگیری...</MudText>
            </div>
        }
        else
        {
            if (!_chartResponse.Any())
            {
                <div class="d-flex flex-column gap-4 justify-content-center align-items-center">
                    <MudText>هیچ داده ای در دسترس نیست</MudText>
                </div>
            }
            else
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudChart ChartType="ChartType.Pie"
                              ChartSeries="@_chartSeries"
                              ChartLabels="@_chartLabels" />
                </MudStack>
            }
        }

    </MudCardContent>
</MudCard>