@using GoldEx.Client.Pages.Settings.ViewModels
@using GoldEx.Shared.DTOs.PriceUnits

@inherits GoldExComponentBase

<MudForm Model="Model" @ref="@_form" Validation="@(_productValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog>
        <DialogContent>
            <MudGrid Spacing="4">
                <MudItem xs="12" md="6" lg="6">
                    <MudSelect For="() => Model.ProductType"
                               Label="@Model.GetDisplayName(() => Model.ProductType)"
                               Margin="Margin.Dense"
                               T="ProductType"
                               Value="Model.ProductType"
                               ValueChanged="OnProductTypeChanged"
                               Variant="Variant.Outlined">
                        @foreach (var productType in Enum.GetValues<ProductType>().Where(x => x != ProductType.UsedGold))
                        {
                            <MudSelectItem T="ProductType"
                                           Value="productType">
                                @productType.GetDisplayName()
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    @if (Model.ProductType is ProductType.MoltenGold)
                    {
                        <MudTextField T="string"
                                      @bind-Value="Model.Name"
                                      For="@(() => Model.Name!)"
                                      Label="نام برند"
                                      Margin="Margin.Dense"
                                      Variant="Variant.Outlined"
                                      AutoFocus="true"
                                      DebounceInterval="0">
                        </MudTextField>
                    }
                    else
                    {
                        <MudAutocomplete T="string"
                                         Value="Model.Name"
                                         ValueChanged="OnProductNameChanged"
                                         @bind-Text="Model.Name"
                                         For="@(() => Model.Name!)"
                                         Label="@Model.GetDisplayName(() => Model.Name)"
                                         Margin="Margin.Dense"
                                         Variant="Variant.Outlined"
                                         SearchFunc="@SearchNames"
                                         AutoFocus="true"
                                         ResetValueOnEmptyText="true"
                                         CoerceValue="false"
                                         Strict="false"
                                         DebounceInterval="0"
                                         ShowProgressIndicator="false">
                        </MudAutocomplete>
                    }
                </MudItem>
                @if (Model.ProductType is not ProductType.MoltenGold)
                {
                    <MudItem xs="12" md="6" lg="6">
                        <div class="d-flex flex-row align-center gap-2">
                            <MudSelect T="ProductCategoryVm?"
                                       Value="Model.CategoryVm"
                                       Clearable="true"
                                       OnClearButtonClick="() => OnProductCategoryChanged(null)"
                                       ValueChanged="OnProductCategoryChanged"
                                       Label="@Model.GetDisplayName(() => Model.ProductCategoryId)"
                                       For="() => Model.CategoryVm"
                                       Margin="Margin.Dense"
                                       Variant="Variant.Outlined">
                                @foreach (var item in _productCategories)
                                {
                                    <MudSelectItem Value="item">@item.Title</MudSelectItem>
                                }
                            </MudSelect>
                            <MudTooltip Arrow Color="Color.Primary" Text="دسته بندی جدید" Placement="Placement.Top">
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnAddCategory" />
                            </MudTooltip>
                        </div>
                    </MudItem>
                }
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField @bind-Value="Model.Barcode"
                                  For="@(() => Model.Barcode)"
                                  Label="@Model.GetDisplayName(() => Model.Barcode)"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <div style="display: flex; gap: 8px; align-items: center;">
                        <MudNumericField Adornment="Adornment.End"
                                         AdornmentText="@Model.GoldUnitType.GetDisplayName()"
                                         For="() => Model.Weight"
                                         dir="ltr"
                                         Format="G29"
                                         Immediate="true"
                                         HideSpinButtons="true"
                                         Margin="Margin.Dense"
                                         Label="@(Model.GetDisplayName(() => Model.Weight))"
                                         T="decimal?"
                                         @bind-Value="Model.Weight"
                                         Variant="Variant.Outlined"
                                         Class="flex-grow-1" />
                        <MudTooltip Arrow Color="Color.Primary" Text="تغییر واحد" Placement="Placement.Top">
                            <MudMenu>
                                <ActivatorContent>
                                    <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" Variant="Variant.Outlined" Color="Color.Primary" OnClick="context.ToggleAsync" />
                                </ActivatorContent>
                                <ChildContent>
                                    @foreach (var item in Enum.GetValues<GoldUnitType>())
                                    {
                                        <MudMenuItem OnClick="() => Model.GoldUnitType = item">
                                            <div class="d-flex align-items-center gap-2">
                                                @item.GetDisplayName()
                                            </div>
                                        </MudMenuItem>
                                    }
                                </ChildContent>
                            </MudMenu>
                        </MudTooltip>
                    </div>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudNumericField For="@(() => Model.Fineness)"
                                     Format="G29"
                                     Immediate="true"
                                     Label="@Model.GetDisplayName(() => Model.Fineness)"
                                     Margin="Margin.Dense"
                                     T="decimal"
                                     @bind-Value="Model.Fineness"
                                     HideSpinButtons="true"
                                     Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudSelect For="() => Model.WageType"
                               Label="@Model.GetDisplayName(() => Model.WageType)"
                               Margin="Margin.Dense"
                               T="WageType?"
                               Value="Model.WageType"
                               ValueChanged="OnWageTypeChanged"
                               Variant="Variant.Outlined">
                        <MudSelectItem Value="@((WageType?)null)">ندارد</MudSelectItem>
                        @foreach (var wageType in Enum.GetValues<WageType>())
                        {
                            <MudSelectItem Value="@((WageType?)wageType)">
                                @wageType.GetDisplayName()
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                @if (Model.WageType != null)
                {
                    <MudItem xs="12" md="6" lg="6">
                        <div class="d-flex align-items-center gap-2">
                            <MudNumericField Adornment="Adornment.End"
                                             AdornmentText="@WageFieldAdornmentText"
                                             For="() => Model.Wage"
                                             Format="#,##0.##"
                                             dir="ltr"
                                             HideSpinButtons="true"
                                             Immediate="true"
                                             Margin="Margin.Dense"
                                             Label="@(Model.GetDisplayName(() => Model.Wage))"
                                             T="decimal?"
                                             @bind-Value="Model.Wage"
                                             Variant="Variant.Outlined"
                                             Class="flex-grow-1" />
                            @if (Model.WageType is WageType.Fixed)
                            {
                                <MudTooltip Arrow Color="Color.Primary" Text="تغییر واحد" Placement="Placement.Top">
                                    <MudMenu MaxHeight="200">
                                        <ActivatorContent>
                                            <MudIconButton Icon="@Icons.Material.Filled.SyncAlt" Variant="Variant.Outlined" Color="Color.Primary" OnClick="context.ToggleAsync" />
                                        </ActivatorContent>
                                        <ChildContent>
                                            @foreach (var item in _priceUnits)
                                            {
                                                <MudMenuItem OnClick="() => SelectWagePriceUnit(item)">
                                                    <div class="d-flex align-items-center gap-2">
                                                        @if (item.HasIcon)
                                                        {
                                                            <MudAvatar Size="Size.Small" Color="Color.Primary">
                                                                <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))"></MudImage>
                                                            </MudAvatar>
                                                        }
                                                        @item.Title
                                                    </div>
                                                </MudMenuItem>
                                            }
                                        </ChildContent>
                                    </MudMenu>
                                </MudTooltip>
                            }
                        </div>
                    </MudItem>
                }
                @if (Model.ProductType is ProductType.Jewelry)
                {
                    <MudItem xs="12" md="6" lg="6">
                        <MudSelect For="() => Model.StonePriceUnit"
                                   Label="@Model.GetDisplayName(() => Model.StonePriceUnit)"
                                   Margin="Margin.Dense"
                                   T="GetPriceUnitTitleResponse ?"
                                   @bind-Value="Model.StonePriceUnit"
                                   Variant="Variant.Outlined">
                            @foreach (var item in _priceUnits)
                            {
                                <MudSelectItem Value="item">
                                    <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@(ApiUrls.Icons.Get(IconType.PriceUnit, item.Id))" Alt="@item.Title" />
                                        </MudAvatar>
                                        <MudText>@item.Title</MudText>
                                    </MudStack>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                }
                @if (Model.ProductType is ProductType.Jewelry)
                {
                    @if (Model.Stones is not null)
                    {
                        @for (var i = 0; i < Model.Stones.Count; i++)
                        {
                            var index = i;

                            <MudItem Key="@index" xs="12" Class="d-flex justify-center m-0">
                                <MudText Typo="Typo.body1">
                                    سنگ شماره @(index + 1)
                                    <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                   OnClick="() => OnRemoveGemStone(index)"
                                                   Size="Size.Small">
                                    </MudIconButton>
                                </MudText>
                            </MudItem>
                            <MudItem @key="@($"{index} type")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Stones[index].Type"
                                              For="() => Model.Stones[index].Type"
                                              Label="نوع سنگ" Margin="Margin.Dense"
                                              T="string" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} color")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Stones[index].Color"
                                              For="() => Model.Stones[index].Color"
                                              Label="رنگ" Margin="Margin.Dense"
                                              T="string" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} cut")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Stones[index].Cut"
                                              For="() => Model.Stones[index].Cut"
                                              Label="برش" Margin="Margin.Dense"
                                              T="string?" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} carat")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Stones[index].Carat"
                                              For="() => Model.Stones[index].Carat"
                                              Label="قیراط" Margin="Margin.Dense" Format="G29"
                                              T="decimal" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} purity")" xs="6" md="4" Class="pt-0">
                                <MudTextField @bind-Value="Model.Stones[index].Purity"
                                              For="() => Model.Stones[index].Purity"
                                              Label="پاکی" Margin="Margin.Dense"
                                              T="string?" Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                            <MudItem @key="@($"{index} cost")" xs="6" md="4" Class="pt-0">
                                <MudNumericField @bind-Value="Model.Stones[index].Cost"
                                                 For="() => Model.Stones[index].Cost"
                                                 Label="نرخ"
                                                 Margin="Margin.Dense"
                                                 T="decimal"
                                                 Format="#,##0.##"
                                                 HideSpinButtons="true"
                                                 Adornment="Adornment.End"
                                                 AdornmentText="@Model.StonePriceUnit?.Title"
                                                 Variant="Variant.Outlined"></MudNumericField>
                            </MudItem>
                        }
                    }

                    <MudItem xs="12">
                        <div class="d-flex align-center justify-center">
                            <MudButton Color="Color.Primary"
                                       OnClick="OnAddGemStone"
                                       StartIcon="@Icons.Material.Filled.Add"
                                       Variant="Variant.Filled">افزودن سنگ جواهر</MudButton>
                        </div>
                    </MudItem>
                }
            </MudGrid>
            <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Start" Class="mt-4">
                توجه: ویرایش جنس برای ویرایش اطلاعات کلی جنس از جمله عنوان و دسته بندی می باشد و از این قابلیت صرفا باید برای ویرایش اجناسی که در هنگام ثبت موجودی اولیه اضافه شده اند استفاده شود.
                به منظور عدم منفی شدن موجودی برای ویرایش اطلاعاتی نظیر وزن باید به فاکتور مربوطه آن مراجعه کنید
            </MudAlert>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error"
                       OnClick="Close"
                       StartIcon="@Icons.Material.Filled.Close"
                       Variant="Variant.Filled">انصراف</MudButton>

            <MudButton Class="m-2"
                       Color="Color.Primary"
                       Disabled="@_processing"
                       StartIcon="@Icons.Material.Filled.Save"
                       OnClick="@(async () => await Submit())"
                       Variant="Variant.Filled">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1"
                                         Size="Size.Small"
                                         Indeterminate="true" />
                    <MudText Class="ms-2">
                        در حال ذخیره
                    </MudText>
                }
                else
                {
                    <MudText>ذخیره</MudText>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</MudForm>