@using GoldEx.Client.Helpers
@inherits GoldExComponentBase

<MudTable T="ProductVm" Class="@Class" RowsPerPage="8" Hover="true" @ref="_table" FixedHeader="true"
          Dense="true" ServerData="LoadProductsAsync" SelectOnRowClick="false" Breakpoint="Breakpoint.Sm" Elevation="@Elevation">
    <ToolBarContent>
        <MudTextField T="string" AutoFocus="true" Clearable="true" Immediate="true" ValueChanged="@(s=>OnSearch(s))" Placeholder="جستجو ..." Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudFab Class="ml-4" Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" Label="ثبت جنس جدید" OnClick="@(_ => OnCreateProduct())" Size="Size.Small"  />
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudFab Class="ml-4" Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" OnClick="@(_ => OnCreateProduct())" Size="Size.Small" />
        </MudHidden>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Barcode" T="ProductVm">بارکد</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="ProductType" T="ProductVm">نوع جنس</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Name" T="ProductVm">عنوان</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Weight" T="ProductVm">وزن</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Wage" T="ProductVm">اجرت ساخت</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Carat" T="ProductVm">عیار</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="ProductCategory.Title" T="ProductVm">دسته</MudTableSortLabel></MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="بارکد">@context.Barcode</MudTd>

        <MudTd DataLabel="نوع جنس">@context.ProductType.GetDisplayName()</MudTd>
        <MudTd DataLabel="عنوان">@context.Name</MudTd>
        <MudTd DataLabel="وزن">@(context.Weight?.ToString("G29") + " گرم")</MudTd>
        <MudTd DataLabel="اجرت">
            @(context.WageType switch
            {
                WageType.Fixed => $"{context.Wage?.ToCurrencyFormat()} {context.WagePriceUnitTitle}",
                WageType.Percent => context.Wage?.ToString("G29") + " درصد",
                _ => "ندارد"
            })
        </MudTd>
        <MudTd DataLabel="عیار">@context.CaratType.GetDisplayName()</MudTd>
        <MudTd DataLabel="دسته">@context.ProductCategoryTitle</MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="چاپ بارکد">
                    <MudFab Color="Color.Info" EndIcon="@Icons.Material.Filled.Print" Size="Size.Small" />
                </MudTooltip>
                <MudTooltip Text="ویرایش جنس">
                    <MudFab Color="Color.Primary" EndIcon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="_ => OnEditProduct(context)" />
                </MudTooltip>
                <MudTooltip Text="حذف جنس">
                    <MudFab Color="Color.Error" EndIcon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="@(_ => OnRemoveProduct(context))" />
                </MudTooltip>
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ جنسی یافت نشد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
    <PagerContent>
        <div class="d-flex flex-column align-center">
            <MudPagination SelectedChanged="PageChanged"
                           Color="Color.Primary"
                           Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                           Class="pa-4"
                           ShowFirstButton="true"
                           ShowLastButton="true" />
        </div>
    </PagerContent>
</MudTable>
