@using GoldEx.Client.Helpers
@inherits GoldExComponentBase

<MudTable T="ProductVm" Class="@Class" RowsPerPage="8" Hover="true" @ref="_table" FixedHeader="true"
          Dense="true" ServerData="LoadProductsAsync" SelectOnRowClick="false" Breakpoint="Breakpoint.Sm" Elevation="@Elevation">
    <ToolBarContent>
        <MudTextField T="string" AutoFocus="true" Clearable="true" Immediate="true" ValueChanged="@(s=>OnSearch(s))" Placeholder="جستجو ..." Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudDateRangePicker DateRange="@_filterDateRange" DateRangeChanged="OnDateRangeChanged" Margin="Margin.Dense" Variant="Variant.Outlined" Class="ml-3"
                                PlaceholderStart="از" PlaceholderEnd="تا" Label="@DateRangeFilterLabel" Clearable="true" />
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButtonGroup Size="Size.Small" Color="Color.Info" Variant="Variant.Filled" Class="ml-3">
                <MudButton Size="Size.Small" StartIcon="@ProductStatusIcon">@_productStatus.GetDisplayName()</MudButton>
                <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                    <MudMenuItem Icon="@Icons.Material.Filled.Warehouse" OnClick="() => SetStatusFilterText(ProductStatus.Available)">@ProductStatus.Available.GetDisplayName()</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Filled.ShoppingBasket" OnClick="() => SetStatusFilterText(ProductStatus.Sold)">@ProductStatus.Sold.GetDisplayName()</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudButtonGroup Size="Size.Small" Color="Color.Info" Variant="Variant.Filled" Class="ml-3">
                <MudButton StartIcon="@ProductStatusIcon"></MudButton>
                <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                    <MudMenuItem Icon="@Icons.Material.Filled.Warehouse" OnClick="() => SetStatusFilterText(ProductStatus.Available)">@ProductStatus.Available.GetDisplayName()</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Filled.ShoppingBasket" OnClick="() => SetStatusFilterText(ProductStatus.Sold)">@ProductStatus.Sold.GetDisplayName()</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudButton Class="ml-4" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Add" OnClick="@(_ => OnCreateProduct())" Size="Size.Small" Variant="Variant.Filled">ثبت جنس جدید</MudButton>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Color="@Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="@(_ => OnCreateProduct())" Size="@Size.Small" Variant="@Variant.Filled"></MudIconButton>
        </MudHidden>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Barcode" T="ProductVm">بارکد</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="ProductType" T="ProductVm">نوع جنس</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Name" T="ProductVm">عنوان</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Weight" T="ProductVm">وزن</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Wage" T="ProductVm">اجرت ساخت</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Carat" T="ProductVm">عیار</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="ProductCategory.Title" T="ProductVm">دسته</MudTableSortLabel></MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="بارکد">
            <MudTooltip Text="@GetTooltipText(context)" Arrow="true" Placement="Placement.Top">
                @context.Barcode
            </MudTooltip>
        </MudTd>
        <MudTd DataLabel="نوع جنس">@context.ProductType.GetDisplayName()</MudTd>
        <MudTd DataLabel="عنوان">@context.Name</MudTd>
        <MudTd DataLabel="وزن">@(context.Weight?.ToString("G29")) @context.GoldUnitType.GetDisplayName()</MudTd>
        <MudTd DataLabel="اجرت">
            @(context.WageType switch
            {
                WageType.Fixed => $"{context.Wage?.ToCurrencyFormat(context.WagePriceUnitTitle)}",
                WageType.Percent => context.Wage?.ToString("G29") + " درصد",
                _ => "ندارد"
            })
        </MudTd>
        <MudTd DataLabel="عیار">@context.CaratType.GetDisplayName()</MudTd>
        <MudTd DataLabel="دسته">@context.ProductCategoryTitle</MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="چاپ بارکد">
                    <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Print"
                                   OnClick="_ => OnPrintBarcode(context)"
                                   Color="@Color.Success"></MudIconButton>
                </MudTooltip>
                @if (context.InvoiceId.HasValue)
                {
                    <MudTooltip Text="مشاهده فاکتور">
                        <MudIconButton Icon="@Icons.Material.Filled.Search" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Primary" OnClick="_ => OnViewInvoice(context.InvoiceId)"></MudIconButton>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="ویرایش جنس">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Primary" OnClick="_ => OnEditProduct(context)"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="حذف جنس">
                        <MudIconButton OnClick="@(_ => OnRemoveProduct(context))" ClickPropagation="true"
                                       Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error"></MudIconButton>
                    </MudTooltip>
                }
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ جنسی یافت نشد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
    <PagerContent>
        <div class="d-flex flex-column align-center">
            <MudPagination SelectedChanged="PageChanged"
                           Color="Color.Primary"
                           Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                           Class="pa-4"
                           ShowFirstButton="true"
                           ShowLastButton="true" />
        </div>
    </PagerContent>
</MudTable>

<script src="/js/libs/jsbarcode.all.min.js"></script>
<script src="/js/print.js?v=@_jsVersion"></script>